[2021-08-12 19:04] oliviergaumond opened #1738 "Problem deploying the API gateways using deploy-all.sh"
I am using the deploy\k8s\helm\deploy-all.sh script to try to deploy the application on AKS using Azure Cloud Shell.

Everything deploys fine using the default public images or a private registry hosted with ACR. However, the two API gateways (apigwms and apigwws) are not deploying correctly with an ImagePullBackOff error.

The equivalent PowerShell script works correctly and I see the ps1 script

[2021-08-13 16:54] oliviergaumond opened #1739 "Errors in deployment script for GitHub Actions"
There are some errors in the shell script proposed to deploy the infrastructure for GitHub Actions here
https://github.com/dotnet-architecture/eShopOnContainers/wiki/Deployment-With-GitHub-Actions

This line
[code]

should be
[code]

I also get an error with this line, it won't find the Service Principal with the name, it expects an object ID
[code]

This could be an issue in the Azure CLI as repo

[2021-08-15 11:58] PSepah opened #1740 "WebSPA is not running on debug mode in visual studio 2019"
I noticed when hit F5 to debug eshoponcontainer the following events happen:
1- It builds an image with dev tag
2- WebSPA browsing is failed

After struggling, I Found  the reason which is:
1- When a docker-compose build happen the following command is executed:

`docker-compose  -f "D:\SC\eShopOnContainers\src\docker-compose.yml" -f "D:\SC\eShopOnContainers\src\docker-compose.override.yml" -f "D:

[2021-08-16 09:05] sughosneo commented on #1676
Hi @Blackclaws, recently we have updated all the Ingress objects to use API Version `V1.0`
You can refer to the details in the PR https://github.com/dotnet-architecture/eShopOnContainers/pull/1725

You could take the latest and test out the ingress-related functionality.
I am closing this issue as of now. Please feel free to reopen or submit a new issue if needed.

Thank you

[2021-08-16 09:05] #1676 closed, assigned to nobody

[2021-08-16 09:11] sughosneo commented on #1740
Hi @PSepah, thank you reaching out.
Did you get a chance to see https://github.com/dotnet-architecture/eShopOnContainers/issues/1677?

[2021-08-16 09:43] sughosneo commented on #1738
Hi @oliviergaumond, thank you for bringing it up.

Yes, the `deploy-all.sh` bash script needs improvement. It's been discussed in this issue https://github.com/dotnet-architecture/eShopOnContainers/issues/1723 as well. Please feel free to submit a PR. We will be happy to review and merge the changes in the dev branch.

[2021-08-19 06:21] sughosneo commented on #1739
Hi @oliviergaumond, thank you for your feedback. Great catch 👍

Unfortunately, there is no direct way to update the wiki with the help of PR. So, I have updated the instructions mentioned on the `Deployment With GitHub Actions` page. You can take a look and share your thoughts if something more is missing. Please feel free to report it as an issue with the details. We'll be able to validate and up

[2021-08-19 06:37] sughosneo commented on #1729
Hi @StefanG12345 , just checking if you had a chance to test this solution out further. Thank you.

[2021-08-19 16:50] PSepah commented on #1740
Hi @sughosneo Thank you for replying. I reviewed #1677 and reached to #1360. It discussed the same issue.

[2021-08-20 18:16] oliviergaumond commented on #1739
The changes look good.

I think there was a small mistake in one of my suggested line. We should specify tsv output for the command, otherwise the text is qualified with quotes.

[code]

[2021-08-20 18:17] oliviergaumond commented on #1738
I will work on a PR to address this and #1723 and submit it in the next few days

[2021-08-21 09:50] abodehq opened #1744 "Multi currencies support"
Dears ,

Great work,

can you please advice on what is the best way to implement multi currency support .??
and also if you can how can it support also multi language in microservice world?

thanks again.

[2021-08-23 06:13] sughosneo commented on #1740
Did you try the instructions mentioned in [Setting-the-Web-SPA-application-up](https://github.com/dotnet-architecture/eShopOnContainers/wiki/06.-(Optional)-Setting-the-Web-SPA-application-up)?

[2021-08-23 06:41] sughosneo commented on #1739
Ah ok. That's right. I have updated the instructions.

I am closing this issue as of now. Please feel free to reopen if it's needed.
Thank you.

[2021-08-23 06:41] #1739 closed, assigned to nobody

[2021-08-23 06:45] sughosneo commented on #1729
I am closing this issue as of now. Please feel free to reopen if it's needed. Thank you.

[2021-08-23 06:45] #1729 closed, assigned to nobody

[2021-08-23 06:53] sughosneo commented on #1726
Hi @mdhthahmd, as the original question has already been answered, I am archiving this issue as of now. Please feel free to reopen if needed. Thank you.

[2021-08-23 06:53] #1726 closed, assigned to nobody

[2021-08-23 09:46] luomingui opened #1745 "Why don't you bring it with you, but use it instead Autofac"
Why don't you bring it with you, but use it instead Autofac

IServiceCollection

[2021-08-23 15:08] PSepah commented on #1740
Yes I did it before and I could successfully run SPA locally however my issue was not this. My case was lunching SPA in debug mode (ASPNETCORE_ENVIRONMENT=Development) and could debug SPA in remote mode. I mean debug http://host.docker.internal:5104. In this case I resolved the problem by changing the dockerFile

[2021-08-24 09:34] oliviergaumond commented on #950
Is there any existing implementation of load tests using Visual Studio Enterprise for this app? I didn’t find anything in the source code. Could be interested to take a crack at implementing load tests using JMeter, but would need some guidance on what endpoints and scenarios to test.

[2021-08-25 03:11] #1745 closed, assigned to nobody

[2021-08-25 15:10] sughosneo commented on #1735
Hi @nicholasyin, we don't have any plan to remove this dependency at the moment. Besides interim issues in CDN, we have not had anyone else complain about this before. We rely on the CDN to deliver these js files faster on user machines. Also, since we do not make changes to these files, it reduces the effort to maintain these on our repo. I hope it clarifies.

I am closing this issue as of now. P

[2021-08-25 15:10] #1735 closed, assigned to nobody

[2021-08-25 15:24] sughosneo commented on #1744
Hi @abodehq, thank you for your feedback.

***For the currency support, it depends on your business requirement.***
For e.g : Let's say if you have a Payment microservice that interacts with an external Payment Gateway that accepts multicurrency *(US Dollars/Euro/INR etc..)*, then in that scenario, your `Payment microservice` you can accept/process requests that contain difference currencies.

***

[2021-08-25 15:55] nicholasyin commented on #1735
At least there should be an option to choose which CDN to use, or at least to download from the official source. Limiting it to a specific CDN, not the official source, is not logical, regardless of how many people have complained.

[2021-08-26 11:07] sughosneo commented on #1219
Hi @Mahenbisht, Sorry for the delay in responding. Please refer to the [code snippet](https://github.com/dotnet-architecture/eshop-mobile-client/blob/7b56309f488879afba666b4a76cc54bd6e601bf5/eShopOnContainers/eShopOnContainers.Core/Services/Identity/IdentityService.cs#L28) as shown below:

![image](https://user-images.githubusercontent.com/13281246/130952017-99b82276-504e-4045-9840-8d3df492e461.pn

[2021-08-26 15:27] sughosneo commented on #1201
Hi @MAOliver, Recently Xamarin mobile client app has been moved to a different repo [eshop-mobile-client](https://github.com/dotnet-architecture/eshop-mobile-client)
Please take the latest and you should be able to login into the app successfully.

I am closing this issue as of now. If you have any further questions, please feel free to open a new issue in the repo [eshop-mobile-client](https://gi

[2021-08-26 15:36] sughosneo commented on #1366
Hi @meJevin / @vinajava, Recently Xamarin mobile client app has been moved to a different repo [eshop-mobile-client](https://github.com/dotnet-architecture/eshop-mobile-client)
So, I have moved this present issue to https://github.com/dotnet-architecture/eshop-mobile-client/issues/13.

I am closing this issue as of now. If you have any further questions, please feel free to open a new issue in the

[2021-08-26 15:40] sughosneo commented on #1193
Hi @Softtinn, Recently Xamarin mobile client app has been moved to a different repo [eshop-mobile-client](https://github.com/dotnet-architecture/eshop-mobile-client)
Please refer to the `main` branch for the latest changes.

I am closing this issue as of now. If you have any further questions, please feel free to open a new issue in the repo [eshop-mobile-client](https://github.com/dotnet-architec

[2021-08-26 15:57] sughosneo commented on #1264
Hi @Xirdy, Recently Xamarin mobile client app has been moved to a different repo [eshop-mobile-client](https://github.com/dotnet-architecture/eshop-mobile-client)
Could you please take the latest from the `main` branch and see if it helps?

I am closing this issue as of now. If you face any further challenges, please feel free to open a new issue in the repo [eshop-mobile-client](https://github.co

[2021-08-27 04:18] sughosneo commented on #1210
Hi @allanes87, Recently Xamarin mobile client app has been moved to a different repo [eshop-mobile-client](https://github.com/dotnet-architecture/eshop-mobile-client)
So I have moved this issue to this new repo https://github.com/dotnet-architecture/eshop-mobile-client/issues/14 for further tracking.

I am closing this issue as of now. If you face any further questions, please feel free to report

[2021-08-27 04:25] sughosneo commented on #1021
Hi @pietje666, Recently Xamarin mobile client app has been moved to a different repo [eshop-mobile-client](https://github.com/dotnet-architecture/eshop-mobile-client)
So I have moved this issue to this new repo https://github.com/dotnet-architecture/eshop-mobile-client/issues/14 for further tracking.

I am closing this issue as of now. If you face any further questions, please feel free to open a

[2021-08-27 04:28] sughosneo commented on #1160
Hi @PTwr, Recently Xamarin mobile client app has been moved to a different repo [eshop-mobile-client](https://github.com/dotnet-architecture/eshop-mobile-client)
So I have moved this issue to this new repo https://github.com/dotnet-architecture/eshop-mobile-client/issues/17 for further tracking.

I am closing this issue as of now. If you face any further questions, please feel free to open a new i

[2021-08-27 04:31] sughosneo commented on #1011
Hi All, This issue has been stale for sometime now. So I am closing this as of now. Please feel free to reopen if needed. Thank you.

[2021-08-27 04:35] sughosneo opened #1752 "News | eshop-mobile-client | Xamarin App"
Recently Xamarin mobile client app has been moved to a different repo [eshop-mobile-client](https://github.com/dotnet-architecture/eshop-mobile-client) . So please refer to the `eshop-mobile-client` repo to explore mobile client-specific features.

Thank you.

[2021-08-27 04:36] #1752 closed, assigned to nobody

[2021-08-27 08:55] abodehq commented on #1744
Thanks for the quick response.

I am new to microservice world so i hope you can guide me thru this.

i build Product service which is contain a field called price for example : 20 and the value based on $ ,

so if user select change currency to euro then our currency service know that the conversion rate forexample .85

then the price will be 20*.85 = 17.02 Euro

my questioin this conversion calc

[2021-08-30 03:51] benbuckland commented on #1697
Hi @sughosneo any update on this? I have had a look at it again today and still cant figure it out.

[2021-08-30 11:42] sughosneo commented on #1740
Ah I see. Glad to hear that it has been resolved now.
Would you like to share the steps? We can add that to the wiki page for everyone to refer in the future.

[2021-08-30 13:58] sughosneo commented on #1744
Thank you @abodehq, for sharing all the details.

Ideally, you should avoid doing any conversion of your own. It's better to rely on Payment Gateway.
For an e.g: you can store the currency value as per below with the `currency_code` for each of your transactions and then you can pass on the data to the Payment Gateway to do the calculation for you.

| .... | currency_val | currncy_code | currency_

[2021-08-30 17:28] PSepah commented on #1740
Yes of course! In fact, I explained the steps in the first message which is:
 My suggestion is to install nodejs in the base layer and this resolved the issue:
 ..\eShopOnContainers\src\Web\WebSPA\Dockerfile:
      - ARG NODE_IMAGE=node:12.0
      - FROM mcr.microsoft.com/dotnet/aspnet:5.0 AS base
      - WORKDIR /app
      - COPY Web/WebSPA/Client/package.json .
      - COPY Web/WebSPA/Client/pac

[2021-09-01 14:13] fruex commented on #1408
Hi,

I have the same issue.
In my case `Assembly.GetEntryAssembly().FullName` equals `ReSharperTestRunner`.

@hfz-r solution is working for me.

Best Regards,
Adrian

[2021-09-02 10:21] sughosneo commented on #1740
Thank you @PSepah for sharing the details again. It has been documented under [WebSPA project doesn't come up on debug mode in Visual Studio 2019](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Frequent-errors#webspa-project-doesnt-come-up-on-debug-mode-in-visual-studio-2019)

I am closing this issue as of now. Please feel free to reopen if needed.

[2021-09-02 10:21] #1740 closed, assigned to nobody

[2021-09-02 10:24] sughosneo commented on #1187
Related to https://github.com/dotnet-architecture/eShopOnContainers/issues/1740
Please refer to the steps mentioned [WebSPA project doesn't come up on debug mode in Visual Studio 2019](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Frequent-errors#webspa-project-doesnt-come-up-on-debug-mode-in-visual-studio-2019)

I am closing this issue as of now, but please feel free to reopen if

[2021-09-02 10:24] #1187 closed

[2021-09-02 10:25] sughosneo commented on #1744
Hi @abodehq, I am closing this issue as of now as the original question has already been answered. But please feel free to reopen this issue or create a new one if you have any further questions. Thank you.

[2021-09-02 10:25] #1744 closed, assigned to nobody

[2021-09-13 04:50] Arnab-Developer opened #1757 "Use `record` for `ValueObject`"
Why you are not using `record` for `ValueObject`?

For example in `Ordering` service domain model there is an `Address` class. Can this be converted into `record`?

![image](https://user-images.githubusercontent.com/3396447/133025507-1a4bf229-7f79-4233-8eca-851d3ea2071c.png)

[code]

[2021-09-13 15:45] sughosneo commented on #1757
Hi @Arnab-Developer, thank you for reaching out.
In my opinion, with the `ValueObject` as a base class, you can have more control over your ValueObject in terms of `DDD` implementation. You may want to check out this [C# 9 Records as DDD Value Objects](https://enterprisecraftsmanship.com/posts/csharp-records-value-objects/), which has some great points while comparing these two aspects.

[2021-09-13 17:28] Arnab-Developer commented on #1757
Most of the points in [this document](https://enterprisecraftsmanship.com/posts/csharp-records-value-objects/) can be done with `record`.

Point 3: We can implement `IComparable` interface in `record`.
Point 4: We can create private constructor and factory method in `record`
Point 5: We can create virtual `Equals` method in a `record` to put our custom logic
Point 6: `record` can be inherited from

[2021-09-14 07:07] Arnab-Developer commented on #1757
I am giving examples to show you that we can do most of the points mentioned in [this document](https://enterprisecraftsmanship.com/posts/csharp-records-value-objects/) with `record`.

Point 3: `IComparable` interface

[code]

Point 5: Precise control over equality checks

[code]

Point 6: The presence of the base class

[code]

Point 4: Encapsulation and Point 7: The problem with `with`

[code]

[2021-09-16 17:13] sameer-kumar opened #1758 "Polly not used with EF Core DbContext"
I have noticed while referencing your codebase that Polly is used for areas like RabbitMQ however not with EF Core DbContext calls nor with repositories. Is there any reason for this choice or just by preference?

Thanks!

[2021-09-17 05:35] excrispy commented on #1261
I ran into this problem but for a different reason. My problem was I used a multi level nested map, when only a map of one level is supported.
So I had this
[code]

But it can only do something like this
[code]

Maybe someone else ran into that problem. Hope that helps.

[2021-09-17 13:22] sughosneo commented on #1758
Hi @sameer-kumar, thank you for reaching out.

`Polly` retry mechanism has been configured during the database migration. Please refer to the below code snippets.

https://github.com/dotnet-architecture/eShopOnContainers/blob/93383de096bd204232f46b415d2b1f81e9af64c3/src/Services/Ordering/Ordering.API/Infrastructure/OrderingContextSeed.cs#L25

https://github.com/dotnet-architecture/eShopOnContainer

[2021-09-17 15:29] sameer-kumar commented on #1758
Yeah @sughosneo, I noticed that too. However, I was referring to EF DbContext calls made for the application. E.g. I referred the [OrderContext](https://github.com/dotnet-architecture/eShopOnContainers/blob/d0cd2830a864a8b975341b02b93a0887a3908c04/src/Services/Ordering/Ordering.Infrastructure/OrderingContext.cs) but couldn't see any Polly policies in there.

[2021-09-20 09:48] sughosneo commented on #1758
Ah ok. Entity Framework (EF) Core already provides internal database connection resiliency and retry logic. Actually for `OrderContext ` it's implemented in `Startup.cs` in the `services.AddDbContext<>` step. Here is the code snippet with that implementation.

https://github.com/dotnet-architecture/eShopOnContainers/blob/d0cd2830a864a8b975341b02b93a0887a3908c04/src/Services/Ordering/Ordering.API/S

[2021-09-20 11:21] senal opened #1760 "Usage of Context.DbSet<T>.Local in the repository implementation."
Hi,

I'm just trying to understand the usage/purpose of the following line of the OrderRepository implementation.
Line 40 - 46 in the current implementation of OrderRepository.

[code]
Also, why we required the `Local` property?
Why can't access the `FirstOrDefault` extension methods on `Local` property?

Appreciate it if someone can provide some insight into my above questions.

Cheers,

[2021-09-20 18:23] sameer-kumar commented on #1758
To me it seems you are relying on just vanilla retry. Correct me if I'm wrong? What if with every retry attempt you need to wait exponentially before trying it again? And if the error persists even after Nth attempt, you want to break the circuit for the next N seconds. Finally, if the failure still exists, degrade gracefully using a fallback. Do you think these are all valid cases for cloud resil

[2021-09-27 06:17] nicholasyin opened #1763 "Is there any particular reason to have <xxx>IntegrationEventService implement IDisposable?"
Can't help wondering the purpose of using `private volatile bool disposedValue;` in every implementation of integration event service, as well as the
[code]
code snippet. What are they, and is it really necessary to do so?

[2021-09-27 11:49] sughosneo commented on #1763
Hi @nicholasyin, thank you for reaching out.

Variable `private volatile bool disposedValue` acts as a flag to check if the object is already disposed or not.
For more details, please refer to [Implement a Dispose method](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/implementing-dispose)

[2021-09-27 12:30] nicholasyin commented on #1763
@sughosneo So why was the dispose mechanism implemented like this? What's the problem of using the normal way of Dispose method, or even not implementing IDisposable at all? The only thing that will get disposed of, as far as I can tell, is the DbContext for integration event log. Don't know why this context requires explicit disposal, unlike the regular business DbContext that got injected in man

[2021-09-27 12:39] sughosneo commented on #1760
Hi @senal, thank you for reaching out.

The purpose of using `Context.DbSet<T>.Local` to keep tracking those inmemory objects whose state state has modified but has been persisted yet to the data store by the context yet.
For more details, please refer to [Local Data](https://docs.microsoft.com/en-us/ef/ef6/querying/local-data)

[2021-09-27 19:25] danielvan1 opened #1764 "Log in for Linux is not working properly"
Hi,
I get this error when I try to login
![error](https://user-images.githubusercontent.com/24315292/134971945-32df30b3-9966-44d2-90b0-342a27f29bd8.png)
I am running it on Manjaro.
I have also changed the .env file to use the Linux uri.
I have set the firewalls to accept ports from 5100-5205 and the status is also fine.
![status](https://user-images.githubusercontent.com/24315292/134971944-cd16dee

[2021-09-28 06:22] sughosneo commented on #1764
Hi @DaniellVan, thank you for reaching out.

For `eShop` app to work locally in the linux environment, the `hosts` file has to contain the following line.

[code]

This line is added/updated by docker desktop for windows every time it's started, but this doesn't happen in Linux, so you have to do it at least the first time, as well as every time the ip address gets changed. You can do that by foll

[2021-09-28 08:09] danielvan1 commented on #1764
Hi @sughosneo,
I put the ip in the hosts file, but I still get the same error. Are there any configurations or variables you are setting in the eshop project to run on Linux?

[2021-09-28 08:39] sughosneo commented on #1764
I see. thanks for the update.

Did you restarted the `WebMVC` container? If yes, could you please fetch the log of the `Identity.API` and share it?
You can do that by following below steps.

1. Run `docker ps -a` and find the `<container_id>` of `eshop/identity.api:linux-latest`.
2. Then run `docker logs <container_id>`.

[2021-09-28 11:08] danielvan1 commented on #1764
I tried restarting the container as well with out any success. The logs for the eshop/identity.api:linux-latest container is:
[code]

[2021-09-29 07:42] sughosneo commented on #1764
This looks to be a SQL Connectivity error. Could you please make sure of the following?

- To do clean up

[code]

- Enable `docker.for.linux.localhost` hostname for the docker in the following file.

https://github.com/dotnet-architecture/eShopOnContainers/blob/46219957ef763305030a0924d039fe4a25831b06/src/.env#L16

- To run the app
- Go to the `/src/` directory

[code]
Once it's ready to accept t

[2021-09-29 20:21] danielvan1 commented on #1764
I tried what you suggested and it did not work.
The error message I get from the SQL logs is:
[code]

[2021-09-30 09:38] andiexer opened #1765 "[Question] How to deal with integration events and horizontal scaling (ensure order)"
Hi folks!
I'm curious how the following scenario should/could work:

If you scale the basket api to 2 pods (if you run it on k8s) how would you ensure, that the `priceChangedEvents` occur in the right order?

Example Messages: `priceChangedEvent:ProductA:5` --> `priceChangedEvent:ProductA:10`

If basket pod 1 takes the first event, basket pod 2 the second event and the basked pod 2 is faster than

[2021-09-30 12:11] ivanekel opened #1766 "[Question] ClientRequest - Idempotency"
Hi everyone. I have a question about domain models in [Ordering](https://github.com/dotnet-architecture/eShopOnContainers/tree/dev/src/Services/Ordering) project. Mainly on [ClientRequest.cs](https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/Services/Ordering/Ordering.Infrastructure/Idempotency/ClientRequest.cs).
Depending on Clean architecture / DDD concepts domain entities mu

[2021-09-30 12:12] sughosneo commented on #1763
For more context, issue https://github.com/dotnet-architecture/eShopOnContainers/issues/1392

[2021-09-30 13:12] nicholasyin commented on #1763
Well, the integration services are not wrapped in any usings, instead they are used just like any regular injected scoped service in the controller. So I don't really see the reasoning of implementing IDisposable here.

Furthermore, I'm more confused about the use of volatile boolean variable. Not a clue of why it is done this way.

[2021-10-01 09:08] sughosneo commented on #1765
Hi @andiexer, thank you for reaching out. Interesting question :thumbsup:

I would probably think of including a timestamp in each event. Something as per below:

[code]

And then in each microservice side, you will keep track of every incoming event that a microservice needs to process. And if subscribed microservice receives an event with a timestamp that is greater than previously-stored latest

[2021-10-01 09:11] sughosneo commented on #1764
Thank you, for the update @DaniellVan.
Is the `WebSPA` working fine? And what about the other services? Are you able to access the data of the `Catalog.API` from the Swagger endpoint?

[2021-10-01 12:16] andiexer commented on #1765
Hey @sughosneo
Yeah, i also thought about something like that (except the inbox pattern). But let's imagine this:

![image](https://user-images.githubusercontent.com/17616887/135616650-38ef2a1f-5cf9-4bdf-bb7f-63d9f3fa2afd.png)

3 Instances from the same service, writing against the same data store (like the basket api). 3 events will be raised in the correct order: `Product Created` < `Product Upd

[2021-10-01 14:50] KGwolf opened #1767 "docker-compose build has error"
Restore operation started...
/root/.nuget/packages/microsoft.web.librarymanager.build/2.1.113/build/Microsoft.Web.LibraryManager.Build.targets(35,9): error : Microsoft.Web.LibraryManager.Contracts.ResourceDownloadException: Failed to download resource from "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js" [/src/Web/WebStatus/WebStatus.csproj]
/root/.nuget/packages/microsoft.web.library

[2021-10-01 14:53] KGwolf commented on #1767
but I can get  "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js" by google browser

[2021-10-01 14:59] KGwolf commented on #1767
I can run the project by vs , so i dont konw why

[2021-10-04 09:57] sughosneo commented on #1767
Hi @KGwolf , thank you for reaching out.  Could you please clean up old docker images and build the docker images again?

- To do clean up

[code]

- Enable `docker.for.linux.localhost` hostname for the docker in the following file.

https://github.com/dotnet-architecture/eShopOnContainers/blob/46219957ef763305030a0924d039fe4a25831b06/src/.env#L16

- To run the app
- Go to the `/src/` directory

[

[2021-10-06 09:50] sughosneo commented on #1758
Yes, though Polly is not used in this scenario. But, the retry still gets randomized by the `maxRetryDelay` configuration.  For more details, please refer to this discussion [When configuring RetryOnFailure what is the maxRetryDelay parameter](https://stackoverflow.com/questions/55827106/when-configuring-retryonfailure-what-is-the-maxretrydelay-parameter)

In the production scenario, you may want

[2021-10-06 09:52] sughosneo commented on #1760
Considering the original question has been answered, I am closing this issue as of now. Please feel free to reopen if you have any further questions. Thank you.

[2021-10-06 09:52] #1760 closed, assigned to nobody

[2021-10-06 10:47] sughosneo commented on #1765
From your example point of view, the ideal scenario is - "if the events get generated from microservice `A` in the correct order, gets published in service bus in that right sequence and also get recevied in microservice `B` in the same order". For example, let's understand that the below events are created in the following manner.

t1 : `ProductCreated`
t2 : `ProductUpdated`
t3 : `ProductDeleted`

[2021-10-08 03:52] mohammed-ehsan opened #1768 "webspa docker-compose build fails"
The project does not build because ` RUN npm i npm@latest -g && npm update && npm install && npm run build:prod` fails

I have tried removing 'npm update', so that npm will not be updated to make the system use npm version that comes with Node. I have tried using --force attribute as well with no success.

Error screenshot:
![image](https://user-images.githubusercontent.com/25776171/136495543-535d

[2021-10-08 07:52] sughosneo commented on #1768
Hi @mohammed-ehsan, thank you for reaching out.

Did you take the latest from the `dev` branch and try to build again?

[2021-10-08 08:05] mohammed-ehsan commented on #1768
@sughosneo Thank you for reaching back!
I was trying to build from the main branch. The dev branch fails to build, as it is unable to load the nuget packages, I have not investigated it yet. However, according to the documentation the main branch should be functional at all times.

Screenshot of dev branch docker-compose build failure for reference:
![image](https://user-images.githubusercontent.c

[2021-10-11 08:57] sughosneo commented on #1764
Hi @DaniellVan, just checking if you had a chance to look into this further. Thank you.

[2021-10-11 08:58] sughosneo commented on #1758
Hi @sameer-kumar, considering the original question has been answered, I am closing this issue as of now. Please feel free to reopen this if needed. Thank you.

[2021-10-11 08:58] #1758 closed, assigned to nobody

[2021-10-11 09:01] sughosneo commented on #1767
Hi @KGwolf, just checking if you had a chance to look into this further. Thank you.

[2021-10-11 09:39] sughosneo commented on #1768
Hi @mohammed-ehsan, I just took the latest from the `dev` branch and did build the solution using the `docker-compose build` command. It worked fine for me. Could you please clear the Nuget cache and try again? You can do that by following:

From Visual Studio :

[code]

From the File Explorer :

[code]

[2021-10-15 01:49] Arnab-Developer commented on #1757
Do you have anymore thoughts on this please? Or can I close this issue?

[2021-10-15 09:09] xieyiincuit commented on #1767
I have the same question and I change the version of Jquery in WebStatus, but error like "Failed to download resource from "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js"" occurred in other services which use  libman to fetch jquery or bootStarp .

[2021-10-15 09:29] KGwolf commented on #1767
Hi @sughosneo ,Thank you for answering my question.

'Enable docker.for.linux.localhost hostname for the docker in the following file.', Is this the right way for running the container in Windows?

 i cleaned containers and images,then use the 'docker-compose build' command to running,but there are still problems.

[2021-10-15 09:33] KGwolf commented on #1767
@xieyiincuit I suspect it's our network problem

[2021-10-17 06:48] vimesh-shah opened #1771 "Docker build failed on M1 Mac"
[code]

[2021-10-17 12:27] xieyiincuit commented on #1767
If you solved this problem, pls told me... xiexie!

[2021-10-18 12:57] sughosneo commented on #1764
I am closing this issue as of now. Please feel free to reopen if you need any further assistance. Thank you.

[2021-10-18 12:57] #1764 closed, assigned to nobody

[2021-10-18 15:07] sughosneo commented on #1767
Hi @KGwolf, after reviewing the stack trace `Microsoft.Web.LibraryManager.Contracts.ResourceDownloadException: Failed to download resource from "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/core.js" `
one more time, it seems like there could be an issue in your environment as well. I would agree with @xieyiincuit

Is your machine behind any firewall which is blocking the access of `"https:/

[2021-10-18 15:07] sughosneo commented on #1767
This issue could be duplicate of https://github.com/dotnet-architecture/eShopOnContainers/issues/1735

[2021-10-18 15:09] sughosneo commented on #1768
Hi @mohammed-ehsan, just checking if you had a chance to look into this further. Thank you.

[2021-10-18 15:17] sughosneo commented on #1771
Hi @vimesh-shah, Thank you for reaching out.

I just tried to build the solution in MacOS it seems to be working fine. Did you take the latest from the `dev` branch?
Also, could you please try the below steps?

- To do clean up

[code]

- Enable `docker.for.linux.localhost` hostname for the docker in the following file.

https://github.com/dotnet-architecture/eShopOnContainers/blob/46219957ef76330

[2021-10-21 08:52] sughosneo commented on #1768
I am closing this issue as of now. Please feel free reopen if needed. Thank you.

[2021-10-21 08:52] #1768 closed, assigned to nobody

[2021-10-21 08:53] sughosneo commented on #1765
Considering the original question has been answered, I am closing this issue as of now. Please feel free to reopen if needed. Thank you.

[2021-10-21 08:53] #1765 closed, assigned to nobody

[2021-10-21 10:43] sughosneo commented on #1767
@neil-thompson-sapphire  - This seems to be a similar error mentioned above.

[2021-10-21 18:08] AaronCrawfis opened #1775 "Azure Redis Cache with SSL not working with Basket API"
When providing a Redis connection string to inf.yaml that uses the SSL port and HTTPs, the basket API throws an error:

[code]

Appears to be the same issue as #537

[2021-10-21 21:23] AaronCrawfis commented on #1775
Figured it out: it's DNS resolution done in startup.

https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/Services/Basket/Basket.API/Startup.cs#L114

[code]

Once the DNS name of the Azure Redis Cache is resolved to the IP address, the SSL certificate subject name no longer matches the address (IP address). The cert is issues to *.redis.cache.windows.net, not an ip address

[code

[2021-10-22 09:12] SofianeBraneci commented on #1771
Hello @sughosneo,
I just tried the steps above, and the issue is not resolved.
I'm on macOS BigSur, M1 chip.

[2021-10-24 12:59] tuskajozsef opened #1779 "IntegrationEvent parameter names are not correct for Json serialization"
In [IntegrationEvent.cs](https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/BuildingBlocks/EventBus/EventBus/Events/IntegrationEvent.cs)

        [JsonConstructor]
        public IntegrationEvent(Guid id, DateTime createDate)
        {
            Id = id;
            CreationDate = createDate;
        }

should be

        [JsonConstructor]
        public IntegrationEvent(Guid

[2021-10-24 13:22] andrewhaine1 opened #1780 "3 separate calls to catalog API"
in the 'src/Web/WebSPA/Client/src/modules/catalog/catalog.component.ts', 3 separate calls are made to the catalog API to get brands, catalog, and types in the loadData() function (shown below). Why was this not done using aggregation? Perhaps one HTTP get request to an action method on the aggregation service which would combine the catalog, as well as brands and types into one response?

loadData

[2021-10-25 08:51] Arnab-Developer commented on #1757
Closing this issue.

[2021-10-25 08:51] #1757 closed, assigned to nobody

[2021-10-27 11:18] sughosneo commented on #1738
Closing this issue as the PR is already merged.

[2021-10-27 11:18] #1738 closed, assigned to nobody

[2021-10-27 11:20] sughosneo commented on #1723
Closing this issue as the related PR has been merged now. Thank you.

[2021-10-27 11:20] #1723 closed, assigned to nobody

[2021-10-28 08:37] sughosneo commented on #1767
Did you have a chance to test out the functionality in an environment? Thank you.

[2021-11-01 11:00] sughosneo commented on #1767
I am closing this issue as of now. Please feel free to reopen if needed. Thank you.

[2021-11-01 11:00] #1767 closed, assigned to nobody

[2021-11-02 15:28] tiagobatista commented on #1780
Hello Andrew, can I take care of this (could you make me the assignee)? :)

[2021-11-09 11:17] rizwaanbutt opened #1787 "Why we have separate Ordering.Infrastructure project in Ordering service ONLY when each service has its own Infrastructure folder"
Hi everyone,

I am new to micro-services and trying to understand best practices for implementing micro-services for our upcoming project.

My question is, why we are having a separate class project Ordering.Infrastructure inside Ordering service (Ordering folder) ONLY when we are following the same pattern to have Infrastructure folder its own service folder?

This is causing confusion, shouldn't

[2021-11-09 14:35] Nikkelmann opened #1788 "Build failed with Visual Studio 2022"
**Error message:** Missing partial modifier on declaration of type 'Program'; another partial declaration of this type exists
**Branch:** dev
**Files:**
- \src\Web\WebStatus\Program.cs
- \src\Web\WebMVC\Program.cs
- \src\Services\Basket\Basket.API\Program.cs
- \src\Services\Catalog\Catalog.API\Program.cs
- \src\Services\Ordering\Ordering.API\Program.cs
- \src\Services\Ordering\Ordering.SignalrHub\

[2021-11-09 15:55] nishanil commented on #1788
@Nikkelmann Thanks for reporting this. We are working on the updates. Try this PR: https://github.com/dotnet-architecture/eShopOnContainers/pull/1786
cc @sughosneo

[2021-11-10 08:19] Nikkelmann commented on #1788
@nishanil The PR works better, but fails to build the WebStatus project producing the same errror message.

[2021-11-10 17:02] mmramezani opened #1789 "Does probably throwing Exceptions here for business rules cause performance issue ?"
Hi,
I am working and reading the eShopOnContainer project and seems fantastic.

You handled business rules in some domains like [here ](https://github.com/dotnet-architecture/eShopOnContainers/blob/42abcad37ebbb133aa76570c46d34c4685376913/src/Services/Ordering/Ordering.Domain/AggregatesModel/OrderAggregate/Order.cs#L193) to throw an exception which is caught by HttpGlobalExceptionFilter and return

[2021-11-13 10:59] Grauenwolf commented on #1789
Before anyone worries about performance, that disaster of a class needs to be cleaned up. Is static code analysis even turned on? I'm seeing many violations just on causal inspection.

For example, there is a SetX method for setting property X. Why not just make X writable? And then since it's simple, change it into an auto-implemented property.

Whomever is in charge of this mess needs to go back

[2021-11-13 12:56] mmramezani commented on #1789
@Grauenwolf Thanks for your comment. I think there are lots of respectable valuable expert people here which worked on this project and we can not criticize them like this.  :)
Come back to your question if you mean somewhere like [this](https://github.com/dotnet-architecture/eShopOnContainers/blob/42abcad37ebbb133aa76570c46d34c4685376913/src/Services/Ordering/Ordering.Domain/AggregatesModel/Order

[2021-11-13 16:16] Grauenwolf commented on #1789
DDD does not say that you "are not allowed to change properties value directly from outside of the class scope".

A property setter is literally a method. It's a special kind of method, with certain aspects that show up in reflection, but it's still a method.

Whomever wrote this code is nether an expert in DDD nor in .NET API design. We should not blindly defer to their mistakes when we have the

[2021-11-13 16:30] Grauenwolf commented on #1789
Thinking about this again, novices often confuse the common English word "property" as in "some aspect of a thing" with the .NET concept `Property`.

The book on DDD was written in 2003, a time when only VB and C# had the concept of property methods.

I can certainly see the people who created this project making that mistake. But again, I wouldn't call them experts.

[2021-11-13 17:23] raboud commented on #1789
@Grauenwolf I love your passion on this. Sounds like you would be the perfect person to create a pull request correcting the short comings of this class.

[2021-11-13 18:08] ruchinmunjal opened #1790 "ACR build is failing due to node version"
This solution is being referenced in one of MS Learn paths [here](https://docs.microsoft.com/en-gb/learn/modules/microservices-aspnet-core/)

There is an issue when we run one of the instructions on [unit 6 of the module](https://docs.microsoft.com/en-gb/learn/modules/microservices-aspnet-core/6-add-coupon-service) . I'm not entirely sure if this issue belongs here or not. I have given the same fe

[2021-11-15 10:30] andrewhaine1 commented on #1780
Hi Tiago. Sure

[2021-11-15 10:35] andrewhaine1 commented on #1780
It probably shouldn't have been logged as an issue but maybe just a general question.

[2021-11-15 19:29] nishanil commented on #1790
Thanks @ruchinmunjal for reporting this. We have provided an interim fix in the MS Learn repo. Please try again and let us know if you can move forward in the module.

cc @sughosneo

[2021-11-15 19:32] nishanil commented on #1788
@Nikkelmann We merged .NET 6 updates to dev branch today. We have updated the Web Status project too. Please let us know if you are able to compile them now.

[2021-11-15 19:34] nishanil commented on #1780
Good scenario. It will be awesome if you can send us a PR :)
cc @sughosneo

[2021-11-15 20:44] abritabroad opened #1791 "dotnet 6 Minimal API"
Are you planning on upgrading the services to use Minimal API and remove Startup.cs?

I tried with my own app but got stuck with my functional tests. I couldn't get WebApplicationFactory or TestServer to work with the new model.

Thanks!

[2021-11-15 20:58] nishanil commented on #1791
@abritabroad Thanks for reaching out. At the moment, we don't plan to remove the Startup.cs in the existing projects. We may consider them in the future for smaller projects.

[2021-11-15 21:16] nishanil commented on #1771
@SofianeBraneci I don't think we can support ARM64 until we have all dependant images natively supporting it. Even if we put in efforts right now, we can only use Intel emulations, resulting in frequent crashes. You may try building them using the instructions listed in [Docker Desktop for Apple Silicon](https://docs.docker.com/desktop/mac/apple-silicon/) and let us know if it worked.

[2021-11-15 22:26] abritabroad commented on #1791
Thanks for the feedback!

[2021-11-15 22:26] #1791 closed, assigned to nobody

[2021-11-16 22:35] ASPMartin commented on #1788
I have been able to successfully build the latest from the dev branch with VS 2022. The browser does launch and show a 503 error initially, but on refresh, or when debugging it does load the home page. Based on the comments in the setup guide, this seems to be normal.

[2021-11-17 07:56] gaetandezeiraud opened #1792 "Orchard CMS as administrator backend?"
Hi!
First, thanks for the repo, a very good way to learn micro-architecture in asp.net!
I want to know if it is planned or at least possible to add Orchard CMS as an administrator backend to fulfill products. Add new, remove, see commands... Seems possible? As a headless CMS.

Thanks.

[2021-11-17 07:56] gaetandezeiraud commented on #1788
Worked like a charm for me!

[2021-11-17 11:46] mmramezani opened #1795 "Some redundant injections in commands"
https://github.com/dotnet-architecture/eShopOnContainers/blob/9e5cd835b44aaa65c885d1a22165a3136a67b402/src/Services/Ordering/Ordering.API/Application/Commands/CreateOrderDraftCommandHandler.cs#L12

Hi guys
As I see there is a MediatR decreation and injection which is not needed. Also observed cases like this in other places.

[2021-11-26 13:23] ruchinmunjal commented on #1790
Thank you. I couldn't get to it earlier but can confirm , this works now.

[2021-11-26 13:23] #1790 closed, assigned to nobody

[2021-11-26 15:34] ah3185 opened #1798 "sqldata container failed to start on Mac"
tried to run it on Mac, but the sqldata container fails to start using "docker-compose up sqldata', and I see the following error:

2021-11-25 22:34:59.57 spid22s SQL Server is now ready for client connections. This is an informational message; no user action is required.
2021-11-25 22:34:59.58 spid15s The resource database build version is 15.00.4188. This is an informational message only. No use

[2021-11-28 19:50] ChrisHolcomb opened #1799 "Mac OS Monterey - Docker 20.10.10 - docker.for.mac.localhost no longer working"
I'm not sure if this is something new with Docker 20.10.10, or running on Mac OS Monterey or something else in my config but the only way to get everything up and running was to replace all instances of docker.for.mac.localhost and docker.host.internal to just localhost. Once I updated all references I was able to see the images on the SPA app, the catalog service returned records and I was able t

[2021-11-28 23:28] berkuttech commented on #1799
I'm struggling to take the project up on docker as well.

#229 17.78 /root/.nuget/packages/grpc.tools/2.34.0/build/_protobuf/Google.Protobuf.Tools.targets(84,5): error : Google.Protobuf.Tools cannot determine host OS and CPU. [/src/ApiGateways/Mobile.Bff.Shopping/aggregator/Mobile.Shopping.HttpAggregator.csproj]

[2021-11-30 16:23] maarten-kieft commented on #1309
I ran in the same issue. Running the docker-compose up I run into this issue. When I run the docker builds individually there is no problem.

I think the problem is that the nuget server just receives too many requests and therefore is dropping https connections. That's why the disabled-parallel works (in some cases). When I lowered the amount of projects in my docker compose file I did throw some

[2021-12-01 03:54] anet256 opened #1801 "Debugging fails with 504 (Gateway Timeout)"
Slow debugging of microservices code together with WebMVC always fell into 504 (Gateway Timeout). The timeout is somewhat like 30 sec. If you run application without debugging, or debug microservices extremely fast, everything works OK. How to increase this timeout?
![image](https://user-images.githubusercontent.com/33517691/144168866-9abb7098-c5b3-4407-9b29-22928c9ede75.png)

[2021-12-04 08:33] yadazula commented on #1771
Hi.

1. The gRPC issue that @vimesh-shah reported can be resolved by upgrading the "Grpc.Core" package to v2.37.0 or above. More detail on this: https://github.com/grpc/grpc/issues/23336

2. I applied this gRPC package upgrade but faced another issue with 'sqldata' image as SQL Server isn’t supported on the ARM architecture. There are some workarounds like using Azure SQL Edge but I didn't try it

[2021-12-06 16:55] nishanil commented on #1788
Cool, Thanks for reporting back. I will close this issue now.

[2021-12-06 16:55] #1788 closed, assigned to nobody

[2021-12-08 11:09] #1775 closed, assigned to nobody

[2021-12-08 11:21] nishanil commented on #1771
@yadazula Thanks for reporting it.

[2021-12-08 11:25] nishanil commented on #1792
@Brouilles Not at the moment :) We just want to keep this sample as simple as possible. Feel free to fork this repo and add Orchard CMS there. Happy to link to that from our wiki.

[2021-12-08 11:29] nishanil commented on #1798
Hey @ah3185, can you share more info around here? What version of Docker and macOS are you running? Also, are you on an Apple Silicon? If yes, take a look at our conversation here: https://github.com/dotnet-architecture/eShopOnContainers/issues/1771

[2021-12-08 15:28] ppathak opened #1802 "System.ArgumentException "The Path must be absolute" WebMVC and WebSPA"
Desktop Docker 4.3.0
VS 2022
Windows 10.
WSL2 (Ubuntu-20.04)

System.ArgumentException: The path must be absolute. (Parameter 'root')

   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root, ExclusionFilters filters)

   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root)

   at Microsoft.AspNetCore.Hosting.StaticWebAssets.StaticWebAssetsLoader.<>

[2021-12-08 22:17] HummingMind opened #1803 "Why is double used for price instead of decimal?"
Hello. I was trying to check and see how you dealt with GRPC not having a well-known-type for decimal, only to find out that double is being used instead of decimal for prices.

Should this project be updated to use decimal and show how decimal should be handled in GRPC?

I found the approach with units and nanos, but just wanted to see what you would prefer to use here.

Thank you.

[2021-12-09 07:19] #1792 closed, assigned to nobody

[2021-12-10 17:03] DanielOizumi commented on #1699
Enabling **Use Docker Compose V2** fixed the issue I was having with "_Reason: Error invoking remote method 'compose-action'_".
![image](https://user-images.githubusercontent.com/23506840/145612604-a57dcaaa-110e-436c-8b75-de8780585d99.png)

[2021-12-13 09:49] Zefek opened #1804 "Factories in domain model"
Hello,
I have question about factories in domain model. Factory is responsible for new entity creating. I hope it means whole aggregate not only root entity. For example, factory takes all orders for customer in month and creates invoice with items and taxes. In this point of view it is special case of repository because repository reincarnates aggregate from storage. It means aggregate exists in

[2021-12-13 10:35] teohaik opened #1805 "Unable to find package 'Azure.Messaging.ServiceBus.7.2.1'. [/src/eShopOnContainers-ServicesAndWebApps.sln]"
hello
iam trying to follow the tutorial and Build the application:

[code]

docker starts downloading images but after a while i get:

[code]

[2021-12-17 17:20] badbobo911 opened #1806 "Invalid Operation Exception"
Hi,

Followed directions to install on Mac and when navigating to the mvc app received the following error.
[Internal Server Error.pdf](https://github.com/dotnet-architecture/eShopOnContainers/files/7736687/Internal.Server.Error.pdf)

[2021-12-18 22:32] menuconz opened #1807 "polly under RabbitMQ"
Why Polly is referenced under RabbitMQ. How to use Polly if I remove RabbitMQ and use Azure service bus.
Do I need to add  Azure service bus conectionstring in env file.

[2021-12-19 08:26] PSepah opened #1808 "How to have an efficient Debugging on eShopOnContainers in vs 2022"
Hi all,
By hit f5 on eShopOnContainers with docker-compose debug, It is possible to debug .net core codes but it is impossible to debug angular ts files because all breakpoints are unbounded. Would you please describe how can we debug the webSPA on docker container? it is possible to ng start locally and use attach the process but to work with other echo systems, I need to debug it under 50124 por

[2021-12-19 10:07] PSepah commented on #1673
I had same problem but after I improve my hardware, it is working fine. this is my hardware improving:
HDD to SSD 1 TB
RAM from 8 GB to 16 GB DDR3
But still the problem for me is how to debug front-end ts codes (webSPA) on docker containers.

[2021-12-19 15:41] PSepah commented on #1808
I found this topic useful:
https://github.com/dotnet-architecture/eShopOnContainers/wiki/06.-(Optional)-Setting-the-Web-SPA-application-up
but still, it seems there is an issue under "Build the SPA app with NPM" title. we cannot launch npm install in "src\Web\WebSPA" folder. If you launch it here you will face this error:
 ENOENT: no such file or directory, open 'D:\SC\eShopOnContainers\src\web\We

[2021-12-20 03:39] #1731 closed, assigned to nobody

[2021-12-22 08:37] PSepah commented on #1808
After work around this issue if found the following solution:
**problem:**
After hitting f5, when debugger profile is set on docker-compose, Breakpoints in WebSPA project on typescript files (ts) is unbounded.
**Solution:**
1- close all opened browsers
2- after launching default chrome browser on http://host.docker.internal:5100, change the port to http://host.docker.internal:5104/catalog and wait

[2021-12-22 19:39] josephwambura commented on #1802
[19:22:23 FTL] Program terminated unexpectedly (WebStatus)!
System.ArgumentException: The path must be absolute. (Parameter 'root')
   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root, ExclusionFilters filters)
   at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root)
   at Microsoft.AspNetCore.Hosting.StaticWebAssets.StaticWebAssetsLoader.<>c.<Us

[2021-12-22 19:41] josephwambura opened #1810 "VS 2022 & Docker won't start up"
VS 2022 & Docker won't start up, what could I be doing wrong?

[19:22:23 FTL] Program terminated unexpectedly (WebStatus)!
System.ArgumentException: The path must be absolute. (Parameter 'root')
at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root, ExclusionFilters filters)
at Microsoft.Extensions.FileProviders.PhysicalFileProvider..ctor(String root)
at Microsoft.AspNetCore

[2021-12-22 19:46] josephwambura commented on #1805
Update or pull the dev, I was having the same issue, and it got fixed by the latest pull request, I guess.

[2021-12-23 00:23] josephwambura commented on #1810
Identity DB error when connecting even on a new docker-compose up command, see image below

![image](https://user-images.githubusercontent.com/10076231/147169411-47b779cd-0d0f-4f6f-978a-17480378877c.png)

[2021-12-23 09:03] remi0411 commented on #835
Hello

Take a look at this

With ef core 5 you can conditionnally include child ( [child filtering](https://docs.microsoft.com/fr-fr/ef/core/what-is-new/ef-core-5.0/whatsnew#filtered-include) )
So on your search specification, pass your AggRoot Id for a general where, and also pass your child Id

Then you can do

Query
   .Include(agg => agg.Child.Where(c => c.Id == childId))
   .Where(agg => agg.

[2021-12-23 09:28] josephwambura commented on #1808
Not sure if this helps you [WebSPA project doesn't come up on debug mode in Visual Studio 2019](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Frequent-errors#webspa-project-doesnt-come-up-on-debug-mode-in-visual-studio-2019)

[2021-12-27 03:10] nicholasyin opened #1811 "Prompt to upgrade project to use Microsoft.TypeScript.MSBuild"
<img width="781" alt="1640574572(1)" src="https://user-images.githubusercontent.com/17007651/147430416-cdf261ef-ec61-4875-ba4a-a8aa57670f8f.png">

Just want to make sure this is known and we don't need to do anything about it?

[2021-12-27 05:14] xieyiincuit opened #1812 "Can't start on Visual Studio 2022"
use the least dev branch, when build the solution successfully, start to start without debugging.
then pull all image down and create container, but the last step, when use "dotnet run" to start app, output windows show me can't find xxxxxx.dll for them.

docker exec -i 9762387e1246 sh -c ""dotnet"  --additionalProbingPath /root/.nuget/packages --additionalProbingPath /root/.nuget/fallbackpackages

[2021-12-27 08:08] divyeshdesanisos opened #1813 "Whole project with all APIs and web applications are working in docker but unable to debug the same"
I have installed latest SDKs, Visual Studio 2022 and Docker Desktop.

Here are some details, might help you.
Following are working:
CateLogApi
OrderApi
BAsketApi

Following are NOT working:
IdentilyApi
 - Error: System.ArgumentException: The path must be absolute. (Parameter 'root')
WebMVC
 - Error: System.ArgumentException: The path must be absolute. (Parameter 'root')
WebSPA
 - Error: System.Inv

[2021-12-29 17:19] fruex opened #1814 "Nginx Ingress controller 0.20 - exited with 143"
I have installed the latest docker desktop:
![image](https://user-images.githubusercontent.com/16884614/147687088-0b240524-ce11-4399-93a0-c02bff4916e9.png)

Helm version: `version.BuildInfo{Version:"v3.7.1", GitCommit:"1d11fcb5d3f3bf00dbe6fe31b8412839a96b3dc4", GitTreeState:"clean", GoVersion:"go1.16.9"}`
Branch: dev

I have set up a local configuration with k8s.
Steps to reproduce:
- Install Helm

[2021-12-29 18:52] PSepah commented on #1810
Hi josephwambura,
As the log shows, There are some issues in regard with your connection string to the sql-server database. It causes not to set Microsoft.eShopOnContainers databases includes:
Microsoft.eShopOnContainers.Service.IdentityDb
Microsoft.eShopOnContainers.Services.CatalogDb
Microsoft.eShopOnContainers.Services.OrderingDb
Microsoft.eShopOnContainers.Services.WebhooksDb

It seems you fir

[2021-12-30 10:11] josephwambura opened #1815 "JQuery Datatables"
Requesting a feature: Can we use server-side processing JQuery Datatables to list catalog?

[2021-12-30 23:56] menuconz opened #1816 "Connection between Catalog GRPC server and Catalog GRPC client"
How a connection is established between client(webshoppingagg --> CatalogSercice) and server(Services/Catalog/CatalogSercices)

Is this code in Startup.cs of webshoppingagg responsible to create a connection between client(webshoppingagg --> CatalogSercice) and server(Services/Catalog/CatalogSercices)?

 services.AddGrpcClient<Catalog.CatalogClient>((services, options) =>
 {
            var catalo

[2021-12-31 07:33] josephwambura commented on #401
Hello @mvelosop , I understand the issue has been closed, but how does one run migration in the Catalog.API, I have tried much in vain, where should run from? Thanks in advance. PS. I am running the released solution for dotnet 5.0 and added a test field property to the CatalogItem, and tried to run `add-migration MyTest -c CatalogContext -o Infrastructure/CatalogMigrations`

[2021-12-31 09:36] josephwambura commented on #1810
hello @PSepah , the clone was new, and the docker was reset. When I use sql server management studio with server name:localhost,5433 to view the databases, I only get:
Microsoft.eShopOnContainers.Services.CatalogDb
Microsoft.eShopOnContainers.Services.OrderingDb
Microsoft.eShopOnContainers.Services.WebhooksDb

[2022-01-02 21:40] ludovicasa opened #1817 "Question on SignalR and integration events"
Hello,

I have a question regarding the usage of SignalR for notifications.

If I am not mistaken, in the current  eShopOnContainers implementation only the Ordering domain is sending notifications to the clients. There is a dedicated [Ordering.SignalrHub](https://github.com/dotnet-architecture/eShopOnContainers/tree/dev/src/Services/Ordering/Ordering.SignalrHub) micro-service that subscribes to i

[2022-01-03 20:43] jooooel opened #1818 "[Question] WAF, Ingress Controller and API Gateway. Are they all needed?"
Hi!
When deploying this to Kubernetes, NGINX is used as an Ingress Controller. Envoy is used internally in the cluster as an API Gateway. And there are [mentions of using Azure Application Gateway](https://github.com/dotnet-architecture/eShopOnContainers/issues/752#issuecomment-418951853).

Would it be possible to skip at least one of them and handle it all in the Ingress Controller?

I guess my c

[2022-01-06 10:23] pavanarya commented on #774
Hi,
So in either of these 2 approaches, dependency between 2 services is increasing.
1. Lets say If my notification microservice is supposed to send a different email like Forgot Password/ Payment Remainder or any new functionality that requires sending an email. So in that case, every time a new mail is supposed to be triggered then we need to make changes in Notification service to make respecti

[2022-01-08 17:02] PSepah commented on #1810
Hello @josephwambura,
It is possible there some error to create Microsoft.eShopOnContainers.Service.IdentityDb datavase. To get ride of this problem you can debug it. I suggest to set debug on decker-compose and start debugging. To find your database connection string in src\Services\Identity\Identity.API, you can visit AppSettings.cs and set breakpoints on IWebHostExtensions on line 67. You can c

[2022-01-08 19:22] TimotheDavid opened #1820 "cannot start on minikube eshop-webhook-api"
hey I have this error when i follow the guidsline on minikube

[code]

I cannot start it :/

[2022-01-10 10:27] liamfoneill opened #1821 "How to get this working in Visual Studio 2022"
In order to get this to work properly in Visual Studio 2022, in addition to following the instructions in the Wiki, I also needed to change the run configuration from the default of 'Debug' to 'Release'.

Running it in Debug mode seems to cause some error about SPA Middleware not being able to find index.html.

Please update the Wiki.

[2022-01-11 05:28] PSepah commented on #1808
This is my final approach:
1- hit ctr f5 under docker-compose debug profile in vs 2022
2- After warm up the project, optionally on container tools use attach to process. Probably at the first time it will take too long but on the next time it is almost immediately.

if you want to set your docker-compose project name, use `<DockerComposeProjectName>` and add your tag to `<PropertyGroup>` in docker

[2022-01-12 14:28] Eduardo-Guedes commented on #1802
Put on IdentityAPI file appsettings.json:

  "ConnectionString": "Server=tcp:127.0.0.1,5433;Initial Catalog=Microsoft.eShopOnContainers.Services.IdentityDb;User Id=sa;Password=Pass@word",

[2022-01-12 14:36] Eduardo-Guedes commented on #1810
Put on Identity.API into appsettings.json:
`  "ConnectionString": "Server=tcp:127.0.0.1,5433;Initial Catalog=Microsoft.eShopOnContainers.Services.IdentityDb;User Id=sa;Password=Pass@word",
`

[2022-01-17 12:02] nibro7778 opened #1824 "docker-compose build is not working"
I am trying to set up a project and getting the following issue. Also, I am not good at npm and node :( looks like some versioning issue. I tried by upgrading the node version to `17.3.1` (https://nodejs.org/en/download/releases/) but the build failed with some other error at `webspa` service

![image](https://user-images.githubusercontent.com/16951150/149766145-7f5f9896-f7d0-4377-9d29-bd9788b7e20

[2022-01-18 00:45] ChinguunU commented on #1821
Having the same issue

[2022-01-18 16:06] nishanil commented on #1824
Hey @nibro7778 I just verified this. It is working as expected for me. It is probably an interim error. Can you try again deleting the images?

[2022-01-18 16:10] nishanil commented on #1821
Thanks for reporting this. We are investigating this issue. From the initial look, it might be related to this one: https://github.com/dotnet/aspnetcore/issues/5223#issuecomment-977677128

[2022-01-18 16:14] nishanil commented on #1812
@xieyiincuit Can you elaborate on the steps used to build? Are you using `docker-compose build` ?

[2022-01-18 16:19] nishanil commented on #1810
Sometimes a failed startup can corrupt the entries in the databases. Can you delete all images and volumes or reset Docker and try again? I tried them on VS 2022, and it works as expected. Wait for the WebStatus project to show all the services healthy, before navigating to the Web Clients. There's a known issue for the WebSPA app and Visual Studio that we are tracking it here: https://github.com/

[2022-01-18 17:45] josephwambura commented on #1810
it is already there

`"ConnectionString": "Server=tcp:127.0.0.1,5433;Database=Microsoft.eShopOnContainers.Services.IdentityDb;User Id=sa;Password=Pass@word;",`

[2022-01-19 22:57] ChinguunU opened #1825 "Hot Reloading"
Hi i am quite new to this and i have been trying to achieve hot reloading with the angular application. Is this feature available in the eShopOnContainers as i havent been able to do this via visual studio 2022. Or do we have set it up ourselves? If so could you please direct me to certain direction. Thank you.

[2022-01-21 02:59] xieyiincuit commented on #1812
@nishanil

I can't use `docker-compose build` to make it right, I think is my network problem, I always get errors like this：
![image](https://user-images.githubusercontent.com/57696015/150456269-f45f79f3-745b-42f4-8a24-f9afdccd4082.png)

So，I wanna use visual studio 2022 to do this.
The build steps is：
1. build solution -- successfully
2. Use Visual Studio Docker-Compose (start without debugging)

[2022-01-21 18:50] josephwambura commented on #1810
I had to uninstall Docker for it to cease throwing Db errors, however, it still has an issue finding the Absolute Path. see below image:

![image](https://user-images.githubusercontent.com/10076231/150583529-61a06d86-7af6-40ce-bddc-930721d04dc6.png)

[2022-01-22 20:49] randomkms commented on #586
It was fixed for me by changing Swagger url in browser from http://localhost:5102/swagger/index.html to http://host.docker.internal:5102/swagger/index.html

[2022-01-22 20:50] randomkms commented on #1271
It was fixed for me by changing Swagger url in browser from http://localhost:5102/swagger/index.html to http://host.docker.internal:5102/swagger/index.html

[2022-01-23 05:56] nibro7778 commented on #1824
Hey @nishanil,

I tried deleting all images and containers. Also, tried by `docker system prune` but still I am unable to run it from the `main` branch. I tried updating the node to `12.0` (`dev` branch) but it throws the following error.

![image](https://user-images.githubusercontent.com/16951150/150666696-3f8ac64e-4a76-47a4-915f-8a1268bcf62c.png)

What I found is Setup working properly with the

[2022-01-24 06:50] nishanil commented on #1824
@nibro7778 `Dev` is the current branch. We don't use `main` anymore. It is retained for legacy code commits and history. We called that out here: https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/branch-guide.md

[2022-01-24 11:18] nibro7778 commented on #1824
Thanks for the reply  @nishanil and Sorry, I missed that `branch-guide`. Everything is working fine for docker-compose.

Closing this issue.

[2022-01-24 11:18] #1824 closed, assigned to nobody

[2022-01-24 22:17] sorcerb commented on #1787
Hello,
There are  two articles about this:
[Creating a simple data-driven CRUD microservice](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice)
[Design a DDD-oriented microservice](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/ddd-oriented-microservice
)

[2022-01-25 14:43] jpocloud opened #1831 "Deploying to AKS - Unhandled Exception on webMVC app"
I'm following instructions on: https://github.com/dotnet-architecture/eShopOnContainers/wiki/Deploy-to-Azure-Kubernetes-Service-(AKS).

The only difference I did was use the deploy-all.sh script in the Helm folder instead of the deploy-all.ps1 powershell script. The sh script existed in the repo but was not referenced in the deploy instructions. I am running this from linux. Note that I also used

[2022-01-25 20:49] mbagozpel commented on #1080
This worked for me

[2022-01-27 04:52] ragzkotalwar opened #1832 "Links not working"
Deployment related links are not working ....

https://github.com/dotnet-architecture/eShopOnContainers/wiki/Deploying-Azure-resources#azure-resources-used-by-the-services

Can the solution be executed on local machine without docker?

[2022-01-27 09:57] erjain commented on #1802
WebSPA has the issue but WebMVC is running fine, you can give it some time after running the application, or you can follow the instructions as per https://github.com/dotnet-architecture/eShopOnContainers#getting-started.

[2022-01-27 09:57] erjain commented on #1801
You can update code in the controller to increase the timeout as follows
System.Web.HttpContext.Current.Server.ScriptTimeout = 300. Let me know if this works.

[2022-01-27 09:58] erjain commented on #1803
Due to less complexity of values, we have used double and protobuf does support floats and double only, but you can implement decimal in gRPC by creating custom types. Please find the illustration for the same by clicking on the link: https://itnext.io/net-decimal-datatype-in-grpc-51c2ddb1c153

[2022-01-27 13:23] erjain commented on #1820
We do not have the bandwidth to support Minikube right now. But, we recommend using Kubernetes that comes with Docker Desktop. For deployment to local Kubernetes, you can refer to this link https://github.com/dotnet-architecture/eShopOnContainers/wiki/Deploy-to-Local-Kubernetes.

[2022-01-30 21:03] chunk1ty opened #1836 "[Question] How can i debug specific microservice?"
I would like to debug specific microservice while rest of them run in docker.
For instance I want to debug Catalog API. I stopped the cointaner then I changed CatalogAPI ports but for some reasons it did not worked.
![image](https://user-images.githubusercontent.com/6850746/151717659-66a9d8be-8adf-417c-a8c4-ee82cda7cb09.png)

Any ideas what am i missing?

Cheers!

[2022-01-31 06:36] daniboi112 commented on #1836
try as per guideline here:

https://github.com/dotnet-architecture/eShopOnContainers/wiki/Windows-setup#optional---use-visual-studio

![image](https://user-images.githubusercontent.com/3529594/151747919-7a403af1-45a3-4406-833b-f98fcb525998.png)

I get this when I debug "docker-compose" project, why? anybody can help?

![image](https://user-images.githubusercontent.com/3529594/151747960-2268cf8d-2b

[2022-01-31 11:38] dogaanismail opened #1838 "Where are Web Gateway Ocelot configurations files located?"
I would like investigate Ocelot gateway configurations for web services, but I could not find them where they are located.

I have just found a configuration file for **Mobile Gateway**, but I could find it for Web.

src\ApiGateways\Mobile.Bff.Shopping\apigw\configuration.json

[2022-01-31 11:48] dogaanismail opened #1839 "How can I create a Jenkins file?"
I am beginner for Devops and Continuous Integration process. I would like to deploy the project using Jenkins and to do this I should create a Jenkins file. How can I start the process?

[2022-01-31 13:02] nishanil commented on #1838
Hey @dogaanismail We don't use Ocelot anymore. We are using Envoy proxy for the redirections. The `config` is here: https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/ApiGateways/Envoy/config/webshopping/envoy.yaml

[2022-01-31 13:03] nishanil commented on #1839
@dogaanismail  I am not sure about Jenkins. However, if you want to try the GitHub Actions, we wrote and entire course on it here: https://docs.microsoft.com/en-us/learn/modules/microservices-devops-aspnet-core/

[2022-01-31 14:15] erjain commented on #1805
Hi @teohaik , This seems to be an interim issue, I am closing this issue as of now. Please feel free to reopen if you are still facing any issues.

[2022-01-31 14:15] #1805 closed, assigned to nobody

[2022-01-31 14:27] andriyankrastev-finovation commented on #1836
Hi, @daniboi112,
Thanks for the comment. I already tried that and yes it works but this is not what i want. Setting docker-compose as a start-up project is going to run and build all containers and thats a heavy operation which I would like to avoid. In most cases you are going to be focus only on one microservice and this is actually what i am looking for. I want all of the servces to run in back

[2022-01-31 14:28] chunk1ty commented on #1836
Hi, @daniboi112 ,
Thanks for the comment. I already tried that and yes it works but this is not what i want. Setting docker-compose as a start-up project is going to run and build all containers and thats a heavy operation which I would like to avoid. In most cases you are going to be focus only on one microservice and this is actually what i am looking for. I want all of the servces to run in bac

[2022-01-31 14:53] nishanil commented on #1810
@josephwambura That is weird. After resetting Docker, without opening Visual Studio, can you try running the command `docker-compose up` ? Does that work?

[2022-01-31 15:04] nishanil commented on #1821
@erjain Hey! I have tested what @liamfoneill recommends and it works well. Can you update the Wiki to set the run configuration to `Release` for WebSpa please ?
Thank  You @liamfoneill for the suggestion !!

[2022-01-31 15:11] nishanil commented on #1812
@xieyiincuit Yeah, that looks like a CDN not reachable issue. If the containers are built successfully, after the page opens, navigate to the Web Status project first using host.docker.internal:5107 and make sure all apps are healthy before navigating to the app.

[2022-01-31 15:33] erjain commented on #1818
Hi @jooooel, we used Envoy for internal routing because when we moved away from Ocelot, we found the Envoy to support gRPC, and our service mesh requirements quite nicely. However, since our needs are minimal for this sample, NGINX-based routing was more than enough, and we made that choice while we built this module https://docs.microsoft.com/en-us/learn/modules/microservices-apigateway-aspnet-co

[2022-01-31 15:47] #1380 closed

[2022-02-01 10:10] VaishaliRaval commented on #1832
Thank you @ragzkotalwar for reporting this. The broken link issue is fixed.

Since this is a reference application based on docker containers it is recommended to use docker. You can also run this application with Kubernetes locally and follow the steps mentioned in this [link](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Deploy-to-Local-Kubernetes)

I am closing this issue, howev

[2022-02-01 10:10] #1832 closed, assigned to nobody

[2022-02-01 11:51] #1418 closed

[2022-02-01 12:22] erjain commented on #1630
Considering the issue is very old and the original question is answered, I am closing this issue for now. Please feel free to open it again if you are looking for more help.

[2022-02-01 12:22] #1630 closed, assigned to nobody

[2022-02-01 12:25] erjain commented on #1839
Hi @dogaanismail,
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-02-01 12:25] #1839 closed, assigned to nobody

[2022-02-01 12:27] erjain commented on #1838
Hi @dogaanismail,
I am closing this issue, however, feel free to reopen it if you are looking for more help.

[2022-02-01 12:27] #1838 closed, assigned to nobody

[2022-02-01 21:32] Simkiw opened #1841 "[Question] Identity as a microservice (behind api gateway)"
Hello,

You've been told this a lot, but it's the least I can start with ... great work and I will soon or later dive into the e-book which I remind: [microservices and best practices](https://dotnet.microsoft.com/download/thank-you/microservices-architecture-ebook)

As I'm more focused on the gateway right now, and I came across this part of the doc: [api gateway implementation](https://docs.micr

[2022-02-02 07:49] jooooel commented on #1818
Thank you for taking the time to explain @erjain 👍

[2022-02-02 07:49] #1818 closed, assigned to nobody

[2022-02-02 10:18] Simkiw commented on #647
If i may bring the topic back :)
If we keep the microservices secured (using the authorize attribute), does it mean :
1- the api gateway talks to identity provider to validate the token
2- then if it's valid, the microservice receives the request and right before proceding, it checks the validity of the token as well

So far, we repeat the same operation unless ... the microservice does not need t

[2022-02-03 05:25] erjain commented on #1544
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-02-03 05:25] #1544 closed

[2022-02-03 11:57] Dintwe opened #1843 "Certificate CN=idsrv3test has expired on 01/20/2020 22:00:00"
Hi,

On [dev] branch

then Xamarin app stops abruptly after login, its not calling back into the mobile app, I do realise login is successful through http://<replaced-for-privacy-MY_IP_OR_DNS_NAME>/connect/authorize?client_id=xamarin&client_secret=xxxxxxxxxxxxxx...

regardless of these logs, login is going through and successful

src-identity-api-1              | {
src-identity-api-1

[2022-02-04 21:44] jiheechoi01 opened #1845 "Eshop page shows Error requesting catalog products, please try later on"
I'm having issues with my eshopOnContainers page. Please see the errors below:
All the pods are successfully running, however when I go to the http://eshop.3d826a4386af433db850.eastus.aksapp.io/
**1)**  I see the "Error requesting catalog products" for both public and login
![catalog error](https://user-images.githubusercontent.com/82827230/152607058-5e2c3a38-742e-4dad-8a8e-6148f6af69ea.jpg)

**2)

[2022-02-06 09:21] #1843 closed, assigned to nobody

[2022-02-06 10:25] Dintwe commented on #1843
I found the issue to be that this ur below

http://<replaced-for-privacy-MY_IP_OR_DNS_NAME>/connect/token

returns BadRequest and throws HttpRequestExceptionEx:HttpRequestException that crashes the mobile app, will investigate and update further.

[2022-02-07 11:06] erjain commented on #1845
Hi @jiheechoi01 ,  thank you for reaching out and reporting the issue. We have already identified the issue last week and working on it to resolve it asap. We will update you on this thread once after resolving this bug.

[2022-02-11 08:01] Dintwe commented on #1845
of course running everything on my dev machine, I have switched the gateway urls to use my local IP, maybe something to consider to see if the requests are going through.

<img width="998" alt="image" src="https://user-images.githubusercontent.com/56117627/153555837-cf29a5f1-3c0b-46de-acb8-92a7f06c0587.png">

it pulls the catalog, but not on first attempt, I had to F5 more than once though...stran

[2022-02-11 08:31] Dintwe commented on #1845
...and also for mobile had to make some edits here:

<img width="578" alt="image" src="https://user-images.githubusercontent.com/56117627/153559287-8d910216-23dc-49ed-90c3-e24da989d55b.png">

<img width="429" alt="image" src="https://user-images.githubusercontent.com/56117627/153558575-f42d1773-bc3f-4abc-a09d-2a8412cae6d2.png">

[2022-02-11 10:04] Dintwe commented on #1845
...and importantly edit .env file at \src to enable seeding by Identity.API in the IdentityDb to use local IP

<img width="798" alt="image" src="https://user-images.githubusercontent.com/56117627/153567398-75462023-7c7e-4e13-9243-885bb48e4809.png">

You will need to DROP the IdentityDb and rerun the 'docker-compose build' and 'docker-compose up' commands in \src path for new values to be seeded. I

[2022-02-11 12:28] addinfinity commented on #1813
Facing same issue. MVC, SPA & IdentityApi not working.

[2022-02-11 13:21] addinfinity commented on #1802
Facing same issue. Trying hard to understand whats wrong. Following apps/apis are failing

|App|Error|
|---|---|
|IdentityApi|System.ArgumentException: The path must be absolute. (Parameter 'root')|
|WebMVC|System.ArgumentException: The path must be absolute. (Parameter 'root')|
|WebSPA|[12:57:22 ERR] ERROR in GetPreconfiguredImages: Value cannot be null. (Parameter 'path1')[13:02:52 ERR] Connecti

[2022-02-12 16:21] Dintwe commented on #1845
...back to SPA

change '**applicationUrl**' to use local IP as well under '**WebSPA**' section in **profiles**

<img width="554" alt="image" src="https://user-images.githubusercontent.com/56117627/153715872-3e0684cd-ab53-47a2-9080-23b1bc395d4b.png">

also change to local IP here in **appsettings.json**

<img width="473" alt="image" src="https://user-images.githubusercontent.com/56117627/153716453-

[2022-02-14 00:51] LREMe commented on #592
Hi @cmeyertons , @CESARDELATORRE
This is the question / answer that I was looking. Many companies/developers are crazy about DDD and other patterns. I was looking at the samples and I was wondering: why you make that difference?. Also, it observed that you are creating a "mini" DDD just for the queries (so you have 2 DDD's).

I have to add and extra comment, maybe the best solution is to put the q

[2022-02-14 20:36] erjain commented on #1845
Hi @Dintwe, Thanks for sharing your findings.  Are you trying to run the application with docker only or have you deployed it to your local Kubernetes?

[2022-02-14 21:03] erjain commented on #1821
Thanks @nishanil for confirming the suggestion from @liamfoneill .
Also if we want to run the application in debug mode using Visual Studio 2022, we can follow the below steps (also updated in [wiki](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Windows-setup#optional---to-run-webspa-project-via-visual-studio-2022-in-debug-mode)):
1. Update the Dockerfile in WebSPA project(src/Web/

[2022-02-14 21:06] erjain commented on #1820
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-02-14 21:06] #1820 closed, assigned to nobody

[2022-02-14 21:14] erjain commented on #1813
Thanks for reporting the issue. If you are trying to run the application via Visual Studio 2022, test the application with the recommendation shared in the [link](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Windows-setup#build-and-run-the-application-with-f5-or-ctrlf5). Let us know if this works for you guys.

[2022-02-14 21:18] erjain commented on #1801
Hi @anet256,
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-02-14 21:18] #1801 closed, assigned to nobody

[2022-02-14 21:33] erjain commented on #1802
Many times whenever there will be a failure while starting the application it may corrupt the DB entries. Can you test with deleting all docker images and volumes or reset Docker and try again? Also, wait for the WebStatus project to show all the services healthy, before navigating to the Web Clients.
To run WebSPA with Visual Studio in debug mode, you can follow the steps recently updated in [wik

[2022-02-14 21:34] erjain commented on #1803
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-02-14 21:34] #1803 closed, assigned to nobody

[2022-02-15 04:53] ragzkotalwar opened #1855 "Architecture Design"
Can we get source file (Editable copy) or eShopOnContainer architecture diagram. This would really help
![eShopOnContainers-architecture](https://user-images.githubusercontent.com/15087046/153994645-479ce5c8-bee4-4bf9-99aa-2716ed96101b.png)
.

[2022-02-15 19:29] nishanil commented on #1855
You will be surprised to know that it was created in Powerpoint :) I have an old copy here:  https://1drv.ms/p/s!AupZwrZ-sEsggchgPe_1gZfHtr6edg?e=AXcxcT  You should be able to update to this one pretty easily.
I am also closing the issue. Feel free to keep the conversation going.

[2022-02-15 19:29] #1855 closed, assigned to nobody

[2022-02-16 07:00] erjain commented on #1845
Hi @jiheechoi01, the issue has been resolved now, you can take a fresh pull from dev branch and deploy on AKS, it should work. There were issues while deploying the Webshopping API Gateway. I am closing this issue as of now. Please feel free to reopen if needed. Thank you.

[2022-02-16 07:00] #1845 closed, assigned to nobody

[2022-02-16 07:41] Dintwe commented on #1845
Hi @erjain for now docker only, when I do get time again kubernetes is next, thank you @nishanil for the update.

[2022-02-16 16:58] erjain commented on #1814
Hi @fruex, we have identified the issue and updated the [Install NGINX Ingress Controller](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Deploy-to-Local-Kubernetes#install-nginx-ingress-controller) section of [Deploy-to-Local-Kubernetes](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Deploy-to-Local-Kubernetes) wiki page. Please try with the updated instruction for i

[2022-02-16 16:58] #1814 closed, assigned to nobody

[2022-02-16 17:11] erjain commented on #1691
Considering the original question has been answered, I am closing this issue as of now. Please feel free to reopen if needed. Thank you.

[2022-02-16 17:11] #1691 closed, assigned to nobody

[2022-02-17 09:34] erjain commented on #1821
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-02-17 09:34] #1821 closed, assigned to nobody

[2022-02-17 13:00] ragzkotalwar commented on #1855
Thanks a ton :)

[2022-02-21 06:39] erjain commented on #1802
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-02-21 06:39] #1802 closed, assigned to nobody

[2022-02-21 10:15] erjain commented on #1836
Hi @chunk1ty, you can debug specific microservice by using `docker-compose up <imagename>`, e.g. if you want to run catalog api only, then you will run `docker-compose up catalog-api`, similarly for any other API.
Then in visual studio open that particular microservice and attach the process, this way you can debug any microservice in the visual studio without running all containers which you are

[2022-02-21 10:15] #1836 closed, assigned to nobody

[2022-02-21 19:33] erjain commented on #1813
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-02-21 19:33] #1813 closed, assigned to nobody

[2022-02-21 19:49] erjain commented on #1810
@josephwambura You can double-check on SQL(sqldata) image, it should be up before other services start running so that there are no connectivity issues. Further, you can also follow the instructions on [windows-setup](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Windows-setup) updated wiki page for more information. I am closing this issue, however, feel free to continue the conve

[2022-02-21 19:49] #1810 closed, assigned to nobody

[2022-02-21 20:06] erjain commented on #1808
Hi @PSepah, Thanks for addressing this scenario here. I am closing this issue, however, please feel free to reopen if needed.

[2022-02-21 20:06] #1808 closed, assigned to nobody

[2022-02-21 20:15] erjain commented on #1812
Hi @xieyiincuit, you can also follow the updated instructions on [wiki page](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Windows-setup#build-and-run-the-application-with-f5-or-ctrlf5) to build and run the application in Visual Studio with F5. I am closing this issue as of now, however, feel free to reopen it in case you are looking for more help.

[2022-02-21 20:15] #1812 closed, assigned to nobody

[2022-02-21 20:51] erjain commented on #1673
This issue is tracked and answered in [issue #1808](https://github.com/dotnet-architecture/eShopOnContainers/issues/1808). Thanks, @PSepah for answering it in new issue #1808. I am closing this issue, however, feel free to reopen it in case you are looking for more help.

[2022-02-21 20:51] #1673 closed, assigned to nobody

[2022-02-22 19:08] Mart112358 commented on #1771
Hello,

Based on the comments in this thread and playing around with my M1 pro, I think I was able to make everything work.

I was able to authenticate with the demo user and create orders for both the SPA and MVC apps.

I also ran the unit/functionnal tests and everything passed.

What I did:

- Docker: Replace MSSQL image by Azure SQL Edge
- Docker: Update envoy proxy to 1.16.0 (first version wi

[2022-02-23 06:51] erjain opened #1864 "Update envoy version for Mobileshopping API Gateway"
Need to update envoy version for Mobileshopping API Gateway.

[2022-02-25 13:17] LucaOtto opened #1867 "Startup.cs(37,44): error CS1513: } expected [/usr/csuser/clouddrive/aspnet-learn/src/src/Services/Coupon/Coupon.API/Coupon.API.csproj]"
Hello,

I'm receiving this error message when running the command: dotnet build src/Services/Coupon/Coupon.API/ found in https://docs.microsoft.com/en-us/learn/modules/microservices-aspnet-core/6-add-coupon-service

![image](https://user-images.githubusercontent.com/42404744/155721213-093c5706-a144-48c8-bba3-7d4894975282.png)

More errors are also appearing with this command ./deploy/k8s/implement

[2022-02-28 11:11] erjain commented on #1867
Hi @LucaOtto, the module which you are exercising belongs to a different [repository](https://github.com/MicrosoftDocs/mslearn-aspnet-core/tree/live). Firstly to correctly install the application you can follow the instructions on page Exercise - [Set up the environment](https://docs.microsoft.com/en-us/learn/modules/microservices-aspnet-core/2-deploy-application),
where you can open Azure Cloud S

[2022-02-28 13:46] LucaOtto commented on #1867
Hello @erjain .Sorry for the confusion. I've done all this already. The error messages came up AFTER deploying all of the above.

[2022-02-28 18:57] erjain commented on #1867
No worries @LucaOtto, After observing your shared screenshots, it seems, there is a miss while updating your code from the exercise, it is missing `}`. Can you again check that you have correctly implemented the highlighted code from the exercise, or it is not breaking any syntax or runtime error? Let me know in case you still face any issues.

[2022-03-02 09:03] #1864 closed, assigned to erjain

[2022-03-02 13:50] MuraliM opened #1869 "Why the UnitofWork is present in the Repository"
I see the unit of work is a logical container that works along with multiple repositories. Even I see the article uses same https://docs.microsoft.com/en-us/aspnet/mvc/overview/older-versions/getting-started-with-ef-5-using-mvc-4/implementing-the-repository-and-unit-of-work-patterns-in-an-asp-net-mvc-application

But according to your implementation it looks below

[code]
Then we call like

[code]

[2022-03-07 07:02] erjain commented on #1867
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-03-07 07:02] #1867 closed, assigned to erjain

[2022-03-11 18:39] guiamar92 opened #1873 "Question: Variable name pattern"
I've been following the EShopOnContainers project to see how things are done by you who contribute to this project and I noticed a small difference that left me with a doubt.

In the WebApplication WebMVC project, we have the CartController with the private readonly ICatalogService _catalogSvc property declared, and I have verified that they use the "Srv" to indicate a service.

![image](https://u

[2022-03-15 13:48] erjain commented on #1873
Hi @guiamar92, Thanks for reaching out. We can use any one of the naming conventions, whether to use Svc or Srv. For information on naming guidelines, you can also go through the link https://docs.microsoft.com/en-us/dotnet/standard/design-guidelines/names-of-type-members. Let me know if you have any further queries.

[2022-03-15 13:48] #1873 closed, assigned to nobody

[2022-03-15 15:16] erjain commented on #1825
Hi @ChinguunU,  After running your application in debug mode with F5, you can configure Hot Reload by selecting **Settings** from the **Hot Reload** drop-down button. Or please visit this link: https://docs.microsoft.com/en-us/visualstudio/debugger/hot-reload?view=vs-2022 for detailed knowledge on how to enable hot reloading via visual studio 2022. I am closing this issue, I hope this will help yo

[2022-03-15 15:16] #1825 closed, assigned to nobody

[2022-03-16 20:54] erjain commented on #1831
Hi @jpocloud,  Due to bandwidth constraints we are unable to check deployment with deploy-all.sh script file, right now we are deploying on Kubernetes using deploy-all.ps1. However, if anyone in the community wants to work on this, we are happy to review and accept a PR from the community on this.

[2022-03-16 20:54] #1831 closed, assigned to nobody

[2022-03-18 11:49] nhdinh commented on #1869
In the view of microservice, there is only one aggregate in each service. And that aggregate should maintain the state of all entities in the service.
Repository is responsible for getting Aggregate out of persistence and return to Service layer. In this way, uow will be the helper for repository to maintain its session working with persistence database.
One service, one repository and one aggrega

[2022-03-18 14:33] MuraliM commented on #1869
@nhdinh Do we need a UnitOfWork for a single repository in this case?

[2022-03-19 11:12] adit-github opened #1877 "@angular-devkit/build-angular:dev-server is not found while npm install."
I get the below issue while running the webspa project. Is it because the angular version was upgraded?

An unhandled exception occurred while processing the request.
AggregateException: One or more errors occurred. (The npm script 'start' exited without indicating that the Angular CLI was listening for requests. The error output was: Node packages may not be installed. Try installing with 'npm in

[2022-03-20 13:58] nhdinh commented on #1869
@MuraliM Yes, since the mentioned single repository is for accessing the data of Aggregate. But aggregate contains and has relationship with many of entities and data along it. Since then, the UnitOfWork is still need to maintain the session commit.

[2022-03-21 04:44] erjain commented on #1877
Hi @adit-github,  Thanks for reporting this issue, we will check and update you.

[2022-03-21 07:58] erjain commented on #1877
Hi @adit-github, Please try by taking a fresh pull and following the instructions given on [windows set up](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Windows-setup) wiki pages sections as below:

1. https://github.com/dotnet-architecture/eShopOnContainers/wiki/Windows-setup#build-and-deploy-eshoponcontainers.
2. https://github.com/dotnet-architecture/eShopOnContainers/wiki/Wind

[2022-03-23 03:27] sinanopcommerce opened #1883 "Production Ready"
Is this repo is production-ready? Can e-commerce start with this repo? Or it is for learning materials of micro-service.

[2022-03-23 09:14] nhdinh commented on #1766
@ivanekel in DDD, the term Bounded Context or in architectural term, Domain Layer, both refer to all the entities that are in the business workflow, herein is the Ordering. In this business workflow, the entities are the Order, OrderItem and Address..., those are the things that contains data in real life as well.
In the other side, OrderingContext and ClientRequest are the helpers (or can be call

[2022-03-24 05:32] gauravkesharwani commented on #1590
This worked! Thank you!!

[2022-03-25 08:41] adriver-kwiboo commented on #1883
Check the readme
https://github.com/dotnet-architecture/eShopOnContainers/blob/981507dccbfa94d68806241cd542ff38f56950b8/CONTRIBUTING.md#disclaimer---this-is-not-a-production-ready-template-for-microservices

This is not production ready

[2022-03-28 07:24] erjain commented on #1877
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-03-28 07:24] #1877 closed, assigned to nobody

[2022-03-28 15:46] erjain commented on #1883
Hi @sinanopcommerce, This is just a demonstration of how to implement microservices, it is not production-ready. For illustrations of the implementation of an e-commerce application, you can visit the learning module: https://docs.microsoft.com/en-us/learn/paths/create-microservices-with-dotnet. I am closing this issue, however, feel free to continue the conversation or reopen it if you are lookin

[2022-03-28 15:46] #1883 closed, assigned to nobody

[2022-04-04 07:12] erjain commented on #1869
Hi @nhdinh, Thanks for the clarification on the UnitofWork.
@MuraliM, we are closing this issue. Please feel free to open the conversation in case you need more clarification.

[2022-04-04 07:12] #1869 closed, assigned to nobody

[2022-04-04 15:39] erjain commented on #1841
Hi @Simkiw, Thanks for sharing your concern. This application is a demonstration to implement the complex microservice-based architecture, including multiple microservices like catalog, basket, ordering, identity, etc. But here just to keep it simple in the sample we have made identity microservices, to be available publicly, the Identity/Auth service is left out of the API Gateways, in production

[2022-04-04 15:43] erjain commented on #1841
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-04-04 15:43] #1841 closed, assigned to nobody

[2022-04-04 16:25] Simkiw commented on #1841
Hi @erjain, thank you for your response, which triggered an underlying question :) (and I can't seem to find some relevant information, I've tried)
It might be just a detail plus I think I got the idea: just "for simplicity", but still ... it's always interesting to have a perspective from a much more experienced person.

In production in this case, you might have an api gateway for authentication

[2022-04-05 07:24] erjain commented on #1766
Thanks for the clarification @ivanekel.
Considering that the original question has been answered, I am closing this issue as of now. Please feel free to reopen if needed. Thank you.

[2022-04-05 07:24] erjain commented on #1766
Thanks for the clarification @ivanekel.
Considering that the original question has been answered, I am closing this issue as of now. Please feel free to reopen if needed. Thank you.

[2022-04-05 07:24] #1766 closed, assigned to nobody

[2022-04-05 07:27] erjain commented on #1787
Thanks for sharing the links @sorcerb.
I am closing this issue as of now. Please feel free to reopen it, if needed.

[2022-04-05 07:27] erjain commented on #1787
Thanks for sharing the links @sorcerb.
I am closing this issue as of now. Please feel free to reopen it, if needed.

[2022-04-05 07:27] #1787 closed, assigned to nobody

[2022-04-05 07:35] erjain commented on #1771
Great! Thank you @Mart112358, for the update and for sharing steps to fix the issue.
I am closing this issue as of now. Please feel free to reopen it, if needed.

[2022-04-05 07:35] #1771 closed, assigned to nobody

[2022-04-05 07:43] erjain commented on #1806
Hi @badbobo911, Try the suggestion given on issue #1771. Hope it helps.

[2022-04-05 07:52] erjain commented on #1798
This issue is stale because it has been open for a long ago. However, the conversation on issue #1771 also suggests a resolution to the reported issue. I am closing this issue as of now. Please feel free to reopen it, if needed.

[2022-04-05 07:52] #1798 closed, assigned to nobody

[2022-04-05 07:59] erjain commented on #1409
This issue is stale because it has been open for a long ago. I am closing this issue as of now. Please feel free to reopen it, if needed.

[2022-04-05 07:59] #1409 closed

[2022-04-06 12:12] amiradeli opened #1889 "Why direct query from API project?"
I am not getting why there are db queries directly from Ordering.API project? And also why you are using raw sql and dynamic types to convert it into model instead of using an ORM?

[2022-04-07 13:20] nkolchakov opened #1890 "Navigating to <url>:5104 (webspa app), does not load with error 'The antiforgery token could not be decrypted.'"
I'm running the app from Docker-Compose debugger inside Visual Studio. When I'm trying to navigate and use the `webspa` on port 5104, the loading hangs and eventually timeouts while `webspa`'s container  throws `AntiforgeryValidationException`

webspa's container log:
[code]
Running containers:
![image](https://user-images.githubusercontent.com/6750195/162207646-a458aad1-5bd7-4f64-b1ce-7f90c64ec0b

[2022-04-07 13:28] nkolchakov commented on #1890
10 minutes later .. while writing the issue it fixed by itself and now it's responsive on port `5104` ..

[2022-04-07 13:48] nkolchakov commented on #1890
Reproduced it again, a few minutes later it works fine. Before closing the issue, does anyone have an idea why it needs some solid 7-10 minutes, to start working ?

[2022-04-08 10:48] TauqeerAhmad104 commented on #1332
Any solution of this issu  .. ?

[2022-04-08 11:22] ozcano1 opened #1891 "how do we access sql-data service after Deployment To AKS"
Hello
I successfully deployed eShopOnContainers to AKS . I want to know how do we see inside the databases (tables etc.) such as we do with SQL Management Studio?
I tried following STATEMENT, it started listening, bu I cannot connect address http://127.0.0.1:8080, since I received ERROR at the bottom.
Regards

STATEMENT:
"
kubectl port-forward $(kubectl get pods --namespace default -l "app=sql-dat

[2022-04-10 08:09] Techrese opened #1893 "question of curiousity"
I more rather have a question than an issue

Why in this application the choice of repository pattern and cqrs?

I have read on the microsoft docs page that cqrs is rather a bad practice for crud apps?

And as A last one, the schematic in which application is it made?

[2022-04-11 09:12] ora8 opened #1895 "Not an issue a question"
Hallo I get this error. What have I to do?

Severity	Code	Description	Project	File	Line	Suppression State
Error	TS2307	(TS) Cannot find module '@angular/common' or its corresponding type declarations.	C:\MicroService\eShopOnContainers-dev\src\Web\WebSPA\Client\tsconfig.json	C:\MicroService\eShopOnContainers-dev\src\Web\WebSPA\Client\src\modules\catalog\catalog.module.ts	3	Active

Thanks for the he

[2022-04-11 12:31] ghominejad opened #1896 "`host.docker.internal` cant be resolved in windows host"
I need to run the SPA client via Docker Compose but Windows can't resolve the docker host `host.docker.internal`. I think this is the only option for authentication via SPA client in developing mode.
[code]
Visual Studio Version :
``` Version 17.2.0 Preview 1.0 ```

Windows Version :
[code]
Docker Info :
[code]

[2022-04-14 14:21] Ogglas opened #1897 "Duende IdentityServer or Microsoft identity platform (AD B2C) instead of IdentityServer4"
Is there any plan to update `Identity.API` to use `Duende IdentityServer` instead of `IdentityServer4`?

Given that IdentityServer4 will only be maintained with security updates until November 2022 and the organization will be archived when .NET Core 3.1 end of support is reached (3rd Dec 2022).

https://identityserver4.readthedocs.io/en/latest/

https://github.com/IdentityServer/IdentityServer4

[2022-04-18 03:53] erjain commented on #1890
Hi @nkolchakov, Thanks for posting your query. Since application depends on many components - base images, and need to build each microservice initially, and while running the application the first time, it requires a decent amount of time. WebSPA has to build the packages too and wait for all other microservices to get up and running.
Maybe you can change the configuration in visual studio, rathe

[2022-04-18 03:53] #1890 closed, assigned to nobody

[2022-04-18 13:26] Atantares commented on #1799
If you use M1 then you need to update all Grpc packages to 2.44 version. This version has support of ARM

[2022-04-18 13:36] i02coroj opened #1898 "Refresh propagated data"
Hi.
I've got a question around the data propagated across different services: how to refresh it?

Let's consider next scenario:
We want to add a validation in Ordering service to make sure an item exists when creating an order, just in case it was removed hitting the delete endpoint in Catalog service.
To achieve it, we propagate Catalog data into Ordering database (only a few properties, maybe ju

[2022-04-19 18:38] erivics commented on #1080
All these being said but I am using .Net6 but I have tried most recommendation here but to no avail

![dbb](https://user-images.githubusercontent.com/75021908/164072867-0edc22fc-a4c5-49f0-b7ea-10228bb8908c.JPG)
![db](https://user-images.githubusercontent.com/75021908/164072874-502021c0-c32f-4d63-a4d8-a5f28b80df06.JPG)

[2022-04-20 07:32] adriver-kwiboo opened #1899 "How can I contribute? Unable to fork."
I would like to contribute to this repo, however I note from the readme: https://github.com/dotnet-architecture/eShopOnContainers/blob/3af71331570358091794154d372718bc10c1a6b7/CONTRIBUTING.md I need to fork the solution.
Unfortunately when I try and fork it, I get:
No more forks can be created.

[2022-04-20 13:21] MithrilMan commented on #1889
I think you should read this
https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/cqrs-microservice-reads

[2022-04-20 13:26] amiradeli commented on #1899
There is probably something wrong with your account since I just forked the repo without any problem.

[2022-04-20 13:35] adriver-kwiboo commented on #1899
Stupid me! I had already forked it.
Thanks for your help.

[2022-04-20 13:35] #1899 closed, assigned to nobody

[2022-04-20 13:54] amiradeli commented on #1889
Thanks. Now it is clear to me.
As I expected, the article says that using DTOs is much better than using dynamic types in real projects.

[2022-04-20 13:54] #1889 closed, assigned to nobody

[2022-04-21 19:01] ccalvarez opened #1901 "Name or service not known - Ordering HTTP Background Check"
Hi.

I got all the services running except for "Ordering HTTP Background Check", where I receive this error:

![image](https://user-images.githubusercontent.com/2665104/164533112-fff069fc-417d-4bb1-aeba-445db4cbed0e.png)

In the logs of the `eshop/ordering.backgroundtasks:linux-latest` container I see this message:

_RabbitMQ Client could not connect_

`{"EventId":0,"LogLevel":"Information","Categ

[2022-04-22 16:30] ccalvarez commented on #1901
I reran the `docker compose up` command, and all the services started.

Thanks.

[2022-04-22 17:59] #1901 closed, assigned to nobody

[2022-04-25 09:20] erjain commented on #1896
Hi @ghominejad, thank you for reaching out. If you are running the application on a Windows OS environment, then by default, the hostname is set to `host.docker.internal`

https://github.com/dotnet-architecture/eShopOnContainers/blob/5c57b8c3f9b705c5be0890416d9005fca36f6ffe/src/.env#L8

Can you ensure that docker is up and running successfully?  Also please ensure you are following the instruction

[2022-04-25 10:25] erjain commented on #1895
Hi @ora8, thank you for reaching out.

Could you please try to clean the `npm` cache by using the below command ?

[code]

And then cloned the `dev` branch again if possible to a new directory location and try to build  ?

But before that if you want to clean up the existing containers and docker images to start from scratch you could follow below steps.

- To do clean up

[code]

- To run the app

[2022-04-25 13:57] erjain commented on #1799
Hi @ChrisHolcomb, There was an [issue ](https://github.com/dotnet-architecture/eShopOnContainers/issues/1771) reported on M1 Mac, which was resolved, sharing link which you can refer to: https://github.com/dotnet-architecture/eShopOnContainers/issues/1771. Hope this helps.

[2022-04-25 14:19] erjain commented on #1806
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-04-25 14:19] #1806 closed, assigned to nobody

[2022-04-26 12:27] erjain commented on #1893
Hi @Techrese, thanks for contacting us. You can go refer to the documentation given in section [Tackle Business Complexity in a Microservice with DDD and CQRS Patterns](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/), you can refer to the complete rest of the section for the clarification.
I am closing it, however, feel free to continue the conve

[2022-04-26 12:27] #1893 closed, assigned to nobody

[2022-04-26 15:55] erjain commented on #1799
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-04-26 15:55] #1799 closed, assigned to nobody

[2022-04-26 15:55] erjain commented on #1895
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-04-26 15:55] #1895 closed, assigned to nobody

[2022-04-27 07:08] Leni52 commented on #1080
I had the same issue. The solution was to restart Visual Studio, then select the project containing the DbContext as Startup Project in the Package Manager Console and re-run the command.

[2022-04-27 08:24] erjain commented on #1896
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-04-27 08:24] #1896 closed, assigned to nobody

[2022-04-28 09:52] bidianqing opened #1902 "How to use Domain Service in Ordering API?"
I'm DDD newbie, How to use Domain Service in Ordering API?

[2022-04-28 10:39] erjain commented on #1902
Hi @bidianqing, thanks for posting your query. You can go through the documentation for [designing a DDD-oriented microservices](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/microservice-ddd-cqrs-patterns/ddd-oriented-microservice?msclkid=0cef2c1bc6df11ec81feb4e4f89298d6). Hope this helps. I am closing this issue, however, feel free to continue the conversation or reopen it i

[2022-04-28 10:39] #1902 closed, assigned to nobody

[2022-05-03 15:27] dogaanismail opened #1904 "Question on running Ordering.API and Swagger UI"
Hello,

I have been trying to run Ordering.API and trying to test endpoints. By the way, I have been developing the project from scratch to learn the solution logic. I have a Github repository. You can find below.

[eCommerceOnContainer](https://github.com/dogaanismail/eCommerceOnContainer)

My problem is that I can not run Swagger UI for Ordering.API. How can I run Swagger UI for Ordering.API?

!

[2022-05-03 16:00] dogaanismail opened #1905 "Question on migration IntegrationEventLogContext for Ordering.API"
Hello,

I have been trying to migrate IntegrationEventLogContext, but it is getting an error which says "Could not execute because the specified command or file was not found."

How can I migrate IntegrationEventLogContext?

`
dotnet ef migrations add Initial --context Microsoft.eCommerceOnContainers.BuildingBlocks.IntegrationEventLogEF.IntegrationEventLogContext -o Ordering.API/Infrastructure/Int

[2022-05-03 19:39] tsotneabsandze commented on #1080
@erivics let us know if you have found any solutions yet

[2022-05-05 11:30] 556565 opened #1906 "Web e-commerce. Service"

[2022-05-06 07:55] onurkanbakirci commented on #1905
Hi @dogaanismail . You try to execute migration commands in incorrect terminal. Package Manager Console can't understand your instructions. You should run these commands in normal terminal not Package Manager Console.

**Tips:**
You can shortly use
`dotnet ef migrations add Initial -c  IntegrationEventLogContext -o Ordering.API/Infrastructure/IntegrationEventMigrations`

[2022-05-06 07:58] onurkanbakirci commented on #1904
Hi @dogaanismail . Did you try `localhost:55102/swagger`? İf you use something like:
[code]
in launchSettings.json file, swagger tab will automatically open in default browser.

[2022-05-06 08:31] onurkanbakirci commented on #1898
Hi @i02coroj .What do you mean with   _**make sure an item exists when creating an order**_  ? Do you want to be sure about units in stock is valid or not etc?

[2022-05-06 08:43] onurkanbakirci commented on #1807
Hi @menuconz . From the Polly offical documentation;
_Polly is a .NET resilience and transient-fault-handling library that allows developers to express policies such as Retry, Circuit Breaker, Timeout, Bulkhead Isolation, Rate-limiting and Fallback in a fluent and thread-safe manner.`_

In the RabbitMQ project, Polly is used to define RabbitMQ connection procedures. For example, when trying to con

[2022-05-06 10:09] i02coroj commented on #1898
Hi @onurkanbakirci , not exactly, I mean to be sure about a product is still in the catalog, just in case somebody has removed it right before creating the order.

It's just a fictitious scenario, not happening at the moment in eShopOnContainer solution, but imagine you cache catalog products into Ordering database to be able to make that validation In Ordering service without hitting Catalog serv

[2022-05-06 10:13] erjain commented on #1891
Hi @ozcano1, thanks for posting your query, since this is a question but not an issue, I am closing this as of now. However, you can continue the conversation here. We will get back to you with an answer to your original question.

[2022-05-06 10:13] #1891 closed, assigned to nobody

[2022-05-06 10:14] erjain commented on #1906
I am closing this issue since it doesn't have any description.

[2022-05-06 10:14] #1906 closed, assigned to nobody

[2022-05-06 12:22] onurkanbakirci commented on #1898
In eShopOnContainer, order service sends `OrderStatusChangedToAwaitingValidationIntegrationEvent` to catalog service via MessageBroker(RabbitMQ, Azure Service Bus etc.). Then, catalog service's `OrderStatusChangedToAwaitingValidationIntegrationEventHandler` class catches this event and checks whether product is valid or not and also checks stock of it (this checks can be expanded by your business

[2022-05-07 00:01] dogaanismail commented on #1904
Hello @onurkanbakirci,

After long efforts, I have just solved the problem. In Program.cs, I had to comment some lines that are about Grpc ports. (I will be resourcing using of Grpc later by the way.)
In addition, I have edited launchSettings.json file with your instructions. I have successfully run Swagger UI :)

Thank you for your support.
Best regards

![Screenshot_65](https://user-images.githu

[2022-05-07 00:01] #1904 closed, assigned to nobody

[2022-05-07 20:23] MikeHowell-TransferenceUnLimited opened #1912 "Unable to successfully run install script for Azure"
Hi there,

I am trying to complete the steps listed in the MS Learn module:

https://docs.microsoft.com/en-us/learn/modules/microservices-aspnet-core/2-deploy-application

Specifically, the installation script executed by:

_. <(wget -q -O - https://aka.ms/microservices-aspnet-core-setup)_

Although the script deploys many resources and the script lists various URLs upon its completion, I can't ge

[2022-05-08 08:36] roland681 commented on #1699
I activated "Use Docker Compose V2" and did this and worked: https://blog.csdn.net/smallteddy/article/details/121926669
Just restarted the container and already was green (up & running)

[2022-05-09 16:23] serge2112 commented on #1912
Hi Mike,

Did you find out how to re-run the script and keep the edited files? I have been stuck with this same thing for a while too.

[2022-05-10 06:26] i02coroj commented on #1898
Thanks @onurkanbakirci .
Yeah, that makes sense.
My point is using that approach with OrderStatusChangedToAwaitingValidationIntegrationEvent and OrderStockConfirmedIntegrationEvent means that if Catalog service is down the order cannot be confirmed. Ideally, in complex business scenarios you want to be able to continue with the order even if one of the services is down for some reason.

So, instea

[2022-05-10 13:09] samimw commented on #1912
Hi,

Am having issues with that module too: I am getting a loop of "Unable to obtain load balancer resource group. Retrying in 5s..." but before this am getting below error:

[2022-05-10 19:42] serge2112 commented on #1912
@samimw I had similar issue, but in my case the error was complaining about the compute quotas for my subscription. I had to raise a support ticket to request a quota increase for "Standard DV5 Family vCPUs" under central us region. After they approved the request, this Retrying 5s... loop was gone.

[2022-05-11 09:37] samimw commented on #1912
@serge2112 thanks for reply, I am on free tier not sure if they will upgrade.

[2022-05-11 19:05] erjain commented on #1905
Thanks @onurkanbakirci, for sharing the tips.
@dogaanismail, I am closing the issue, however, feel free to continue the conversation in case of any further queries.

[2022-05-11 19:05] #1905 closed, assigned to nobody

[2022-05-11 20:29] erjain commented on #1912
Hi @MikeHowell-TransferenceUnLimited , Thanks for posting the query, please check again it should be working fine. There are some updates that are pushed to the live branch.

@serge2112, @samimw in case you are facing subscription-related issues, you can change the region after passing the default region as follows:
Run the following commands in the command shell:
[code]

Or if you want to change

[2022-05-11 20:30] erjain commented on #1912
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-05-11 20:30] #1912 closed, assigned to nobody

[2022-05-12 13:54] Abanoub-Ebrahim opened #1913 "eshoponcontainers redis value"

[2022-05-14 09:35] Okuniva commented on #1912
@erjain
Hi there. I get same error, have free subscription and can’t update it now. Try run

`. <(wget -q -O - https://aka.ms/microservices-aspnet-core-setup "westus")`

and get VM size error, and loop request
(full logs link - https://pastebin.com/7gTDqV2X)

[code]

[2022-05-14 16:47] Okuniva commented on #1912
Please inform me if need create another issue for this

I try check available VM this command
`az vm list-skus --location centralus --zone --all --output table`
and get one of results
[code]
i fork mslearn-aspnet-core and change "Standard_D2_v5" to "Standard_D2as_v5"
(https://github.com/AlexHeal/mslearn-aspnet-core/commit/d6556b1cf7926589ae7c17fd6d04fe4d87e06a4b)

After I try run on azure
`. <(wge

[2022-05-14 19:16] rf-0 commented on #925
@tiagopsantos check if you qualify to the community edition https://duendesoftware.com/products/communityedition

[2022-05-15 04:30] ramganesh19 opened #1915 "Error requesting catalog products, please try later on"
Cloned the repo and built locally on my windows laptops in git bash prompt with latest docker desktop installed

WebSPA (Error requesting catalog products)
![image](https://user-images.githubusercontent.com/12521269/168457303-efe36743-2da8-497d-b760-4cc10c06afa5.png)

WebMVC (Dont see the images)
![image](https://user-images.githubusercontent.com/12521269/168457351-4ff4aa4c-77c4-4a78-9712-c2221f72

[2022-05-15 04:31] ramganesh19 commented on #1915
Health check is all good
![image](https://user-images.githubusercontent.com/12521269/168457389-4a02e50b-1f3c-4575-9799-3f7a881fa21b.png)

[2022-05-15 07:59] #1913 closed, assigned to nobody

[2022-05-16 15:47] erjain commented on #1915
Hi @ramganesh19, I have tested it locally at my end and the application is working fine, Sometimes an error during startup can disturb the application deployment and entries in the databases. Could you please clean up old docker images and build the docker images again? - To run the app
- Go to the `/src/` directory

[code]
Once it's ready to accept the new connection, then you can bring up the ot

[2022-05-16 15:47] erjain commented on #1915
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-05-16 15:47] #1915 closed, assigned to nobody

[2022-05-16 20:21] MikeHowell-TransferenceUnLimited commented on #1912
Hi there,

I am happy to say that the installation script is working fine for me now 😊

Thank you for all that you have done.

Kind regards
Mike Howell
From: Alex Heal ***@***.***>
Sent: 14 May 2022 17:48
To: dotnet-architecture/eShopOnContainers ***@***.***>
Cc: Mike Howell ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet-architecture/eShopOnContainers] Unable to successfully run install s

[2022-05-17 03:33] ramganesh19 opened #1917 "build issue in windows 11 - executor failed running [/bin/sh -c npm install]: exit code: 127"
I keep running into below build issues and not able to make progress
C:\Users\ramg1\source\repos\eShopOnContainers\src>docker-compose build
time="2022-05-16T22:30:47-05:00" level=warning msg="The \"ESHOP_SERVICE_BUS_USERNAME\" variable is not set. Defaulting to a blank string."
time="2022-05-16T22:30:47-05:00" level=warning msg="The \"ESHOP_SERVICE_BUS_PASSWORD\" variable is not set. Defaulting to

[2022-05-18 02:15] ramganesh19 commented on #1917
I am running this on my windows 11 with WSL 2 enabled and Docker Installed. Appreciate your help and troubleshooting this build issue

[2022-05-19 08:00] erjain commented on #1917
Hi @ramganesh19, Are you able to run npm install using cmd at location `dotnet-architecture\eShopOnContainers\src\Web\WebSPA\Client` . There seems to be an issue with building the SPA project in your system. Also, try building without cache using the command: docker-compose build --no-cache. Let me know if this works.

[2022-05-20 04:09] ramganesh19 commented on #1917
Thanks Erjain for your input. I dont have nodejs installed yet on my laptop. Hence npm install doesnt work. Is it a prerequisite that I need to have nodejs installed locally on my laptop to build docker image and run docker.

I tried the docker-compose build --no-cache and it did finish compiling successfully. But I get the error page in getting catalog
![image](https://user-images.githubuserconte

[2022-05-24 10:15] erjain commented on #1917
Sometimes an error during startup can disturb the application deployment and entries in the databases. Could you please clean up old docker images and build the docker images again? - To run the app
- Go to the `/src/` directory

[code]
Once it's ready to accept the new connection, then you can bring up the other container by using the following command from a separate terminal window.

[code]

[2022-05-27 17:54] MithrilMan commented on #1869
@erjain I don't agree with the given explainations and I don't think this should be closed.

A service doesn't need to have only one aggregate, maybe @nhdinh wanted to say "aggregate root" but again a service can have multiple. Even in this repository, the Order service has 2 aggregate roots: Order and Buyer.

Aggregate root repositories are sharing the same unit of work.
Given the fact that entit

[2022-05-27 18:02] ChongZhiCZ commented on #1896
find C:\Windows\System32\drivers\etc\hosts and uncheck the ready only check box.
then restart computer .Done!

[2022-05-27 18:09] MithrilMan commented on #1869
About the "auto-save" that's happening under the hood in any CQRS commands, it's because of how CommitTransactionAsync has been implemented in the dbcontext, see here

https://github.com/dotnet-architecture/eShopOnContainers/blob/7b7f65e755469b550bbfec10d864b30932bb5527/src/Services/Ordering/Ordering.Infrastructure/OrderingContext.cs#L72-L76

Everytime a command ends, it automatically calls SaveCh

[2022-05-29 03:10] dacy commented on #1917
Were you able to fix this? I had the same issue and I did the following and some these steps fixed my issue.

Installed NodeJs
Installed Angular
Run npm install in the `src\Web\WebSPA\Client` folder
Removed all the old containers
Docker-compose Build with `--no-cache`
Run visual studio in admin mode
Use an incognito session or a different browser

Because the error says angular has not been starte

[2022-05-29 22:50] ramganesh19 commented on #1917
Thanks Dacy. I tried all your options above and still having issues

WebMVC:
InvalidOperationException: IDX20803: Unable to obtain configuration from: 'http://localhost:5105/.well-known/openid-configuration'.

Microsoft.IdentityModel.Protocols.ConfigurationManager<T>.GetConfigurationAsync(CancellationToken cancel)

WebSPA:
Worked finally by running with Visual Studio (as administrator) F5

Glad at

[2022-05-30 07:32] erjain commented on #1917
Hi @ramganesh19, it seems to be some interim system-related configuration issue at your end, Your WebMVC is not able to communicate with the identity service, as I said, generally, an error during startup can disturb the application deployment and entries in the databases. Try following the instruction given on the wiki link https://github.com/dotnet-architecture/eShopOnContainers/wiki/Windows-set

[2022-05-30 07:32] #1917 closed, assigned to nobody

[2022-06-02 14:06] erjain commented on #1811
Thanks for reporting this, the warning is not appearing anymore, I am closing this issue as of now.

[2022-06-02 14:06] #1811 closed, assigned to nobody

[2022-06-02 14:12] erjain commented on #1807
Hi @menuconz, thanks for posting your query. Thanks @onurkanbakirci for your response to the above issue. @menuconz you can refer to the link https://azure.microsoft.com/en-us/blog/using-the-retry-pattern-to-make-your-cloud-application-more-resilient/ for more information. I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-06-02 14:12] #1807 closed, assigned to nobody

[2022-06-02 16:08] KamranShahid opened #1920 "tried to upgrade nuget pacakges. so many error on serilog, identity server 4"
tried to upgrade nuget pacakges. so many error on serilog, identity server 4

[2022-06-02 16:31] KamranShahid commented on #1920
able to correct error in serilog by providing null parameter in WriteTo.Http

[2022-06-02 19:06] dogaanismail opened #1921 "Question on debugging on Docker Containers"
Hello,

I can successfully debug code on Docker Containers, but suppose that I change code blocks and want to debug again with new changes. As you know, A Docker container must be recreated for new changes and then I will be able to debug on new code blocks.

My question is that how can I recreate Docker Container with new changes? (For instance, Ordering.API must be recreated again.

In addition

[2022-06-03 05:20] erjain commented on #1921
Hi @dogaanismail, Thanks for posting your query. If you want to recreate the container with a new image after your changes, then remove the specific image instance from the container which you want to update and delete the respective image from docker, then you can build a specific microservice or project by using
`docker-compose up <imagename>`, e.g. if you want to run webspa only, then you will

[2022-06-03 05:23] erjain commented on #1920
Hi @KamranShahid, Thanks for posting your query. Are you looking for further help?

[2022-06-03 05:26] erjain commented on #1407
Considering the original question has been answered, I am closing this issue as of now. Please feel free to reopen if needed. Thank you.

[2022-06-03 05:26] #1407 closed

[2022-06-03 08:15] KamranShahid commented on #1920
Nop,
Have done one cycle with serilog updates successfully (with requred code changes). in free time will try to update identity server as well. There was one fork branch which has update but bit old. try to use that one along with my upgraded one

[2022-06-06 03:59] velosojose commented on #1921
sevgili doğan ismail
,
Anlayışınız için teşekkürler, bu isimde birini arıyordum. Sizinle iletişim kurmaya ve birbirimize en iyi nasıl yardımcı olabileceğimizi görmeye zorlandım. Ben burada Filipinler Ulusal Bankası'nda denetim müdürü olarak çalışan Bay Jose Veloso. Seninle şimdi tanışmamın Tanrı'nın isteği olduğuna inanıyorum. Sizinle paylaşmak istediğim önemli bir iş görüşmem var, ilginizi çekece

[2022-06-06 11:12] erjain commented on #1921
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-06-06 11:12] #1921 closed, assigned to nobody

[2022-06-06 11:15] erjain commented on #1920
Thanks for your contribution @KamranShahid, would you like to share the link for your branch so that it can help community members. In the future, if someone wants to refer to that he can do so. I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-06-06 11:15] #1920 closed, assigned to nobody

[2022-06-06 15:02] KamranShahid commented on #1920
Hi erjain,
I was just playing with upgrade on local copied code and haven't made any branch. i have upgraded all the packages other then identityserver4 and compiled the code in it

[2022-06-07 18:37] erjain commented on #1106
Considering this issue is stale and not active, I am closing this issue, please feel free to reopen it if needed.

[2022-06-07 18:37] #1106 closed

[2022-06-07 18:40] erjain commented on #1321
Considering this issue is stale, I am closing it, please feel free to reopen it if needed.

[2022-06-08 13:55] erjain commented on #1681
Considering this issue is stale since this issue did not receive any further updates, I am closing it. Please feel free to reopen it if needed.

[2022-06-08 13:55] #1681 closed, assigned to nobody

[2022-06-08 13:59] erjain commented on #1763
Considering the original question has been answered, I am closing this issue as of now. Please feel free to reopen if needed. Thank you.

[2022-06-08 13:59] #1763 closed, assigned to nobody

[2022-06-08 23:32] nicholasyin commented on #1763
psst... don't see any sign of an answer.

[2022-06-09 03:49] mylst opened #1923 "web"
very good

[2022-06-09 11:34] erjain commented on #1923
I am closing this issue, due to no description provided.

[2022-06-09 11:34] #1923 closed, assigned to nobody

[2022-06-09 15:10] SychevIgor commented on #1106
nice... close after 3 years without any actions..

[2022-06-11 15:49] fadak commented on #1529
https://stackoverflow.com/a/52130814/406804

[2022-06-12 23:13] dogaanismail opened #1925 "Question on docker-compose up command disk space"
Hello,

I would like to ask a question about using docker-compose up command.

When I run **docker-compose up** command, there is no space on the device where the command is being executed. My question is that why does it take up so much space? I do not have perfect knowledge of Docker containerization.

[2022-06-15 04:15] nasrinazif opened #1926 "Issue in running docker-compose build command"
Hello everyone,

I tried to build the application using this command:

docker-compose build

I tried it many times, but every time I get this error message:

![Build Issue](https://user-images.githubusercontent.com/23409009/173735401-5c838092-261c-4bd7-97ca-8a440f574966.jpg)

I would appreciate it if you could tell me how I can overcome this problem.

Regards

[2022-06-16 14:37] erjain commented on #1926
Sometimes an error during startup can disturb the application deployment and entries in the databases. Could you please clean up old docker images and build the docker images again? - To run the app
- Go to the `/src/` directory

[code]
Once it's ready to accept the new connection, then you can bring up the other container by using the following command from a separate terminal window.

[code]

Le

[2022-06-16 19:46] rsanhuez opened #1927 "[Question] Why not provide asynchronous publishing with EventBusServiceBus?"
Hi,

I was checking the implementation of [EventBusServiceBus](https://github.com/dotnet-architecture/eShopOnContainers/blob/630cb35cfb974b13332b9dc7164c0c465bee9729/src/BuildingBlocks/EventBus/EventBusServiceBus/EventBusServiceBus.cs) and I was wondering the following questions:

1. Why not provide asynchronous publishing with EventBusServiceBus?
2. Why not provide publishing of a batch of messag

[2022-06-20 22:59] GKepuska1 commented on #1080
Hi there,
I found the solution from my side, so hopefully this will help any of you!

When you use a command like add migration it's important to understand what is actually happening. Your project will be built and it will try to use your project as a class library. It will try to instantiate a DbContext. The error means it was unable to create the object, so something is wrong with your code whi

[2022-06-21 07:07] erjain commented on #1926
I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more help.

[2022-06-21 07:07] #1926 closed, assigned to nobody

[2022-06-21 19:54] pipchan opened #1929 "Encounter Build Error"
Having an issue when docker-compose build, any suggestion?

![2022-06-21_15-52-19](https://user-images.githubusercontent.com/25620202/174886299-b3a905d4-d700-4461-a41e-69dd87e69e69.png)

[2022-06-21 20:07] absta commented on #86
Shame I came to the party a bit too late!! I was thinking of exactly the same issue WRT how to structure the docker-compose file across multiple repo's then I had a bit of a lightbulb moment!! If each of the repo's is pushing out to a container registry, your docker-compose can sit in its own separate repo as it will simply be referencing the images via this container registry?

[2022-06-22 16:28] corygehr opened #1930 "[Question] Is ValueObject necessary with record in C# 9.0+?"
My takeaway from `ValueObject` is its utility derives from its equality helpers. From what I understand about `record`, it seems like C# now provides those capabilities out-of-the-box.

Given this, is there a case for continuing to use `ValueObject`? I suspect some scenarios could exist for modifying properties but even something like `Address` has properties with `private set;` anyway.

I imagine

[2022-06-23 11:35] otuo-k commented on #1929
Had the same issue. I resolved it by

1. installing the Libman CLI.
        dotnet tool install -g Microsoft.Web.LibraryManager.Cli

2. Opened cmd in the folder contain the libman.json file and run the following command

[](https://docs.microsoft.com/en-us/aspnet/core/client-side/libman/libman-cli?view=aspnetcore-6)

3. Go to project(s) in visual studio
    - Right click on libman.json file
    -

[2022-06-24 09:05] erjain commented on #1929
Hi @pipchan, thanks for posting your query. Sometimes an error during startup can disturb the application deployment and entries in the databases.  Could you please clean up old docker images and build the docker images again?  - To build and run the app
- Go to the `/src/` directory and first-time build without cache

[code]
- then, run

[code]
- Once it's ready to accept the new connection, then

[2022-06-27 08:12] LangSensei opened #1931 "[Ordering] BeginTransactionAsync null check."
https://github.com/dotnet-architecture/eShopOnContainers/blob/37474024fa538f19a2d47db38ca1fa9b3d5d617b/src/Services/Ordering/Ordering.Infrastructure/OrderingContext.cs#L58-L65

https://github.com/dotnet-architecture/eShopOnContainers/blob/37474024fa538f19a2d47db38ca1fa9b3d5d617b/src/Services/Ordering/Ordering.API/Application/Behaviors/TransactionBehaviour.cs#L38-L53

Why is BeginTransactionAsync m

[2022-06-27 15:44] Hristy-A commented on #922
You can create _.cmd_ or _.bat_ file on Windows, or _.sh_ file on Linux and put it in them:

**Windows:**
`@ECHO OFF`
`FOR /f "tokens=*" %%i IN ('docker ps -q') DO docker stop %%i`
`FOR /f "tokens=*" %%j IN ('docker ps -aq') DO docker rm %%j`

**Linux:**
`docker stop $(docker ps -q)`
`docker rm $(docker ps -aq)`

It stop and remove all containers. You also can choose concrete container (for exampl

[2022-06-28 18:04] erjain commented on #1929
I am closing this issue, however, feel free to reopen it if you need more help.

[2022-06-28 18:04] #1929 closed, assigned to nobody

[2022-06-29 00:59] alemaoast commented on #1080
I had the same issue. My solution was to comment Private Assets from the infrastructure project.
This will provide access to the Microsoft.EntityFrameworkCore.Design.

![image](https://user-images.githubusercontent.com/65097349/176328487-3d9d41a8-6f0b-499c-8991-f2d3741c4eea.png)

![image](https://user-images.githubusercontent.com/65097349/176328673-06d2c9b9-31b7-4b23-9812-afea13980fe3.png)

[2022-06-29 08:43] erivics commented on #1080
Yes I have

[2022-06-29 21:13] M4urici0GM commented on #1927
i was thinking at the same thing

[2022-06-30 16:49] dalvarezabal commented on #1897
Yes, it will be great to see how are you going to handle this.

[2022-07-01 17:03] koraycsharp opened #1933 "Using DI-Container instead of keeping the handlers in memory?"
Hi, I have a question about keeping the integrationeventhandlers in memory (InMemoryEventBusSubscriptionsManager).

Isn't it enough to use the DI-Container instead of keeping the handlers in memory?

instead of saving all the handlers to memory and then calling the get method..

https://github.com/dotnet-architecture/eShopOnContainers/blob/c863b143d71887c5fbf4eb53b55d29c90bd50f79/src/BuildingBlock

[2022-07-03 09:39] Abdelaziz98Shaban commented on #1080
I had same problem , you have to make your web as startup project in my case was the Admin project , and select data access project (the one that has the migrations files and dbcontext) from drop down list in package manger console.

[2022-07-06 19:43] beayna opened #1935 "Handling concurrency and maintaining request ordering"
This sample code seems to be able to handle duplicate requests, but it's not clear whether/how it handles concurrent updates or maintains the proper ordering of requests.

(1) When setting the order status (e.g. to AwaitingValidation), how does the handler logic ensure that the status is not changed concurrently by another instance of the handler. In particular, the status can change between the c

[2022-07-10 14:27] erjain commented on #1925
Hello @dogaanismail, Thanks for posting your query. Whenever you run `docker-compose up` it will build, creates the image, starts, and attaches to containers for a service. Sometimes due to less space or unused or old volumes or images, space is unavailable. You should remove any unused volumes or images before running this command. For more information on Docker, sharing a link: https://docs.dock

[2022-07-10 14:27] #1925 closed, assigned to nobody

[2022-07-11 13:04] ffrankozz commented on #174
Hi, In the above  method, I do not see any code either saving the event to db nor the event being published. What  am I missing?

[2022-07-11 13:23] ffrankozz opened #1936 "Integration Events in Ordering microservice"
Hi,
I would be very glad if someone could help me on Ordering microservice's  event publishing mechanism. I am confused about the Integration Events publishing in the Ordering microservice. I see that the Integration Events are saved in the relevant database first instead of publishing them right  after entity persistence.
But when they are in the database, how on earth do they find their way on t

[2022-07-18 02:44] marniks7 opened #1937 "[Question] E2E tests"
Hi,
Do you have E2E tests? if so, where to find them?

[2022-07-18 02:49] marniks7 commented on #1937
https://github.com/dotnet-architecture/eShopOnContainers/wiki/Unit-and-integration-testing

[2022-07-18 02:49] #1937 closed, assigned to nobody

[2022-07-21 16:15] MarinaBerthe commented on #1261
Hello every one. I am writing a prometheus-configmap.yml file which is scraping two targets (prometheus and node_exporter)  , loading a rule file, and talking to
an Alertmanager

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: monitoring
data:
  global:
    scrape_interval: 10s
    evaluation_interval: 10s
  rule_files:
  - rules.yml: |
      groups:
       - na

[2022-07-24 01:42] ronaldx opened #1941 "Error running docker-compose build on MAC"
Hi, I am running this repo for the first time and i am getting this error.

command: docker-compose build

ERROR: The platform targeted with the current context is not supported.
Make sure the context in use targets a Docker Engine.

Setup:
Docker Desktop 4.10.1
MacOS BIG SUR 11.5.1
Macbook Pro 2020

[2022-07-24 01:47] #1941 closed, assigned to nobody

[2022-07-24 08:00] oshabanisbg commented on #1735
Hi,

i have the same error , for different internet connection

[2022-07-24 08:26] oshabanisbg commented on #1388
i am having the same issue ,but in different package
Restore operation started...
#0 208.0 libman.json : error LIB002: The "jquery@3.4.1" library could not be resolved by the "cdnjs" provider [/src/Web/WebStatus/WebStatus.csproj]

[2022-07-25 09:29] lfdesousa opened #1942 "Libraries could not be resolved by the "cdnjs" provider"
Hi,
While trying to do a docker-compose build I randomly get errors like the one below, is this also related with this issue ?
https://github.com/aspnet/LibraryManager/issues/685

[code]

[2022-07-25 11:28] lfdesousa commented on #1942
I think that I found a solution here: https://github.com/dotnet-architecture/eShopOnContainers/pull/1939/commits/d719444e6187414a58a0d906b1a48bb3d34d8133

I tried it locally and it is working for me

[2022-07-25 12:04] erjain commented on #1942
Hi @lfdesousa, thanks for reporting this issue and suggesting a solution. I am linking PR #1939 already created to resolve this issue. I am closing this issue, please feel free to reopen it in case of any further queries.

[2022-07-25 12:07] #1942 closed, assigned to nobody

[2022-07-25 17:01] ChrisFist opened #1943 "Socket Connection Problem though eshopContainer inbound/outbound Rules are in place"
Hello support Team,
after starting the containers I can run the mvc application and register as a new user or take existing demo user. But I cannot add any Items to the basket. Reason:
![image](https://user-images.githubusercontent.com/35878355/180833707-d4214aee-f476-47d3-b872-d78794790292.png).
The firewall rules are in place. What else could be the reason? I run the application w/o any VPN.

[2022-07-25 19:37] erjain commented on #1943
Hi @ChrisFist, thanks for posting your query. I tested this application completely and it is working fine. Can you share some details, about the method you are following for deployment. Sometimes an error during startup can disturb the application deployment and entries in the databases.  Could you please clean up old docker images and build the docker images again?  - To build and run the app
- G

[2022-07-26 14:31] erjain commented on #1943
I am closing this issue, please free to reopen it if you are looking for more help.

[2022-07-26 14:31] #1943 closed, assigned to nobody

[2022-07-26 14:41] ChrisFist commented on #1943
Dear Support Team,
I followed your instruction and partly this "clean build" solved some problems. The Health Check shows now only green services. And I can now properly open also the SPA Page (Yesterday it was not working). But infortunately I get Exceptions when clicking on login link of SPA: Some Probmels with the database.
![image](https://user-images.githubusercontent.com/35878355/181031809-0

[2022-07-26 19:50] ChrisFist opened #1945 "Login does not work: IOException: IDX20807: Unable to retrieve document from: 'http://host.docker.internal:5105/.well-known/openid-configuration'."
Dear Support Team,

when trying to login into application using MVC Web page, I get following Exception stack:
![image](https://user-images.githubusercontent.com/35878355/181098250-c1f410bf-ac0d-4113-997a-8e2838324287.png)

I get this error though Health Check for Identity Service does not show any problems.

![image](https://user-images.githubusercontent.com/35878355/181099496-7d58232e-6523-45fc-

[2022-07-27 10:15] ChrisFist commented on #1945
When trying to logon via SPA I receive following sql exception:
![image](https://user-images.githubusercontent.com/35878355/181223069-1a241f03-7bd0-444d-bb68-20ec5bf0b975.png)

I started the containers in different session as proposed. First the sqldata container and then the rest.

[2022-07-27 11:29] ChrisFist commented on #1945
Hi again, furthermore when running the solution with VS2022 in debug mode the health check page does not indicate any problem:
![image](https://user-images.githubusercontent.com/35878355/181235101-c053cd25-b4ac-4c78-8e95-0771ebd117d3.png)
 but when trying to open SPA I receive following exception:
![image](https://user-images.githubusercontent.com/35878355/181235889-400ce718-d494-4477-a0d5-53092cb

[2022-07-27 14:09] ChrisFist commented on #1945
Hi, I followed now the detailed VS set up to run the apps in debug mode with VS 2022 and  MVC part works fine but still SPA part does not work. I close this issue and raise another for SPA.

[2022-07-27 14:09] #1945 closed, assigned to nobody

[2022-07-27 14:14] ChrisFist opened #1946 "Problems to run SPA with VS 2022 in debug mode"
Hi Support Team, I followed detailed instruction for VS set up to run the applications in debug mode. Especially I changed the configuration as indicated for SPA case. But unfortunately I faced then following error:

![image](https://user-images.githubusercontent.com/35878355/181269625-88a176a7-ecd3-4deb-be04-6be1ad299f56.png)

[2022-07-28 03:36] jinzaz commented on #1936
You can find the transactionbehavior class. All integrationevents will pass through here before they are added to the database. First, create a transaction and generate a "transactionid". All integrationevents in the transaction are bound to this "transactionid". Then, after the transaction is submitted, you will see that the "publisheventthrougheventbusasync" method is called, which is the method

[2022-07-30 22:23] ngaisteve1 opened #1947 "host.docker.internal didn’t send any data for WebStatus endpoint"
I am trying to run https://github.com/dotnet-architecture/eShopOnContainers locally. I managed to set up all the 21 containers in my Docker Desktop and all the 21 containers are running.

But when I try to access to http://host.docker.internal:5107/ for WebStatus endpoint, I got this error in my browser.

This page isn’t working
host.docker.internal didn’t send any data.
ERR_EMPTY_RESPONSE

I have

[2022-08-01 07:43] erjain commented on #1947
Hi @ngaisteve1, I tested this application completely and it is working fine. Can you share some details, about the method you are following for deployment. Sometimes an error during startup can disturb the application deployment and entries in the databases.  Could you please clean up old docker images and build the docker images again?  - To build and run the app
- Go to the `/src/` directory and

[2022-08-01 07:53] erjain commented on #1946
Hi @ChrisFist, I again tested the application and it is working fine. Sharing the screenshot, I recommend not changing any instructions. Sometimes a failed startup can corrupt the running containers. Can you delete all images and volumes or reset Docker and try again?
![image](https://user-images.githubusercontent.com/87998741/182099059-ebc43390-0bd6-4c0f-943a-fd5491b8ab4e.png)

[2022-08-01 08:28] erjain commented on #1936
Thanks @jinzaz, for helping on the issue.
Hi @ffrankozz, thanks for posting your query here. I am closing this issue as of now. Please feel free to reopen if it's needed.

[2022-08-01 08:28] #1936 closed, assigned to nobody

[2022-08-01 10:22] ngaisteve1 commented on #1947
I run the "Clean up" to delete all the images and retry. When I run docker-compose build --no-cache, I notice many error like below:

Failed to download package 'System.Diagnostics.DiagnosticSource.5.0.0' from 'https://api.nuget.org/v3-flatcontainer/system.diagnostic
 => => # s.diagnosticsource/5.0.0/system.diagnostics.diagnosticsource.5.0.0.nupkg'.

Is it normal?

[2022-08-01 11:14] erjain commented on #1947
No, it is not normal, it seems there are some issues while downloading packages. Can you ensure that you have all dependencies to run your project?

[2022-08-01 14:57] ngaisteve1 commented on #1947
When I run **docker-compose build --no-cache** again, I got another error

failed to solve: error committing ahkwpxlwumb1uo0yg2f8so6j0: write /var/lib/docker/buildkit/metadata_v2.db: read-only file system

[2022-08-01 15:49] ngaisteve1 commented on #1947
Now I manage to build all the 21 images. How command can I use to create the container which has these 21 images? I run docker-compose up but got this error

$ docker-compose up
The INSTRUMENTATION_KEY variable is not set. Defaulting to a blank string.
The ORCHESTRATOR_TYPE variable is not set. Defaulting to a blank string.
The ESHOP_SERVICE_BUS_USERNAME variable is not set. Defaulting to a blank

[2022-08-02 13:43] onurkanbakirci opened #1949 "Event order"
When user gives an order, basket service sends `UserCheckoutAcceptedIntegrationEvent` to order service. After that, order service immediately triggers `OrderStartedIntegrationEvent` event and basket service listens this event. When `OrderStartedIntegrationEvent` is fired, basket service's `OrderStartedIntegrationEventHandler` removes basket items from basket. But i think that removing basket items

[2022-08-03 05:46] mpMelnikov opened #1950 "Docker-compose Fail on Apple Silicon"
When run the `docker-compose build` on Mac OS with Apple Silicon I get the following error:
[code]

I can see the same error in Visual Studio:
![image](https://user-images.githubusercontent.com/7716624/182532501-7fabbd6a-d78c-4fe3-895e-94a766c1d215.png)

I tried to add those variables to docker-compose.override.yml:
<img width="714" alt="image" src="https://user-images.githubusercontent.com/771662

[2022-08-03 10:45] ChrisFist commented on #1946
Dear Support team  I created an unlisted Youtube video, where I show what I did and which errors I face in detail:
https://youtu.be/69uwn932mvA
Unfortunately I cannot run the apps using docker-compose w/o Visual Studio. When runnung the system with VS2022 in debug mode I can run the MVC application but not SPA. Problems with Angular configuration though I added the code changes in Dockerfile of SP

[2022-08-03 19:23] mpMelnikov commented on #1950
I managed to build with the help of this comment: https://github.com/dotnet-architecture/eShopOnContainers/issues/1771#issuecomment-1048121588

[2022-08-03 19:23] #1950 closed, assigned to nobody

[2022-08-05 15:25] MisinformedDNA opened #1951 "ProfileService is not used"
I don't see `ProfileService`/`IProfileService` used anywhere.

I was looking for an example of how to use permissions in DDD and I noticed that these types aren't used anywhere.

[2022-08-05 20:34] brSaif commented on #1169
I had the  same issue recently which was blocking solution rebuild, and i was able to get around it by :
1_ right click libman.json -> Disable Client-Side Libraries on Build
2_ right click proj.csproj -> Add -> Client-Side Library -> install jquery
then restore libman packages, just as explained in the following answer.

https://stackoverflow.com/questions/56748429/libman-error-lib002-during-build

[2022-08-05 20:41] brSaif commented on #1735
Hi @oshabanisbg, Maybe the guide in the following answer can solve your issue as it did for me.
https://stackoverflow.com/questions/56748429/libman-error-lib002-during-build-application

[2022-08-08 07:09] Hadsen commented on #1946
I get same error while debugging in VS2022, after modifying /WebSPA/Dockerfile and docker-compose.override.yml, as suggested.

[2022-08-08 15:26] spingee opened #1952 "EF migration on startup in case of more than one replica"
Hello,
I think doing migration on app startup is not good idea in case there will be more than one replica in k8s.
Currently there is only one so it works fine but in real world you usually scale.
So far i know, EF migration doesn't handle situation when more migration runs in paralel.
Some people, including me, take this sample microservice app as reference, and could easily copy this and later b

[2022-08-09 18:37] Hadsen commented on #1946
So "npm start" gives "ng: not found" error, looks like there is no Angular in the WebSPA container. Don't know how it is supposed to work, but after installing Angular in the container's Client folder it starts working, and keeps doing so after rebuildings, cause it creates node_modules folder with Angular in the project source folder.

[2022-08-09 19:16] ChrisFist commented on #1946
Hi, that's a good hint I installed angular globally but that fixed only partially bthe problem. Can you please explain more detailed how you installed Angular as you told in the Client folder. Since I don't know much about angular on linux. You went into directory /app/Client of the container and installed there the Angular CLI and then it was working?

[2022-08-09 19:43] Hadsen commented on #1946
Yes, it worked like workaround, but i don't really know what i'm doing, and i would like to know how to fix it properly.

[2022-08-10 07:00] ChrisFist commented on #1946
Yes that is really not a satisfying situation. Are you able to run the applications without VS. If I run without VS I can use the MVC and SPA applications but only the catalog searching works. as soon as I try to login I face authorization problems.

[2022-08-10 19:38] Hadsen commented on #1946
Yes, I can run and use login process, but i think it is separate issue from one you have in starting post, so it might be confusing to discuss in same thread. I have some temporary issues, when some services have been started, and others not yet, but they resolve themselves by waiting, or by reseting/restarting or smth like that. Also I've noticed on your video, that everything is opening much slo

[2022-08-10 19:58] yurhasko opened #1953 "How to split sqldata (MS SQL Server instance) into 3 instances with different DB's?"
I'm trying to deploy eShopOnContainers to AWS T2.micro/T3.micro instances. My sqldata Docker container takes >1.3 GB RAM, so I need to split sqldata into 3 different instances of MS SQL Server, each of which contain different of total 3 databases. How can i modify Connection Strings/docker-compose files to achieve this?

[2022-08-11 11:36] ChrisFist commented on #1946
You are right there are two problems I face: When runnig the apps via "docker-compose up" command even after a full build (no cache issue) the database IdentityDb does not contain all t ables. E.g., table IdentityProperties is missing. And that causes of course problems. The other problem is runnig the SPA in VS debug mode. Your workarround is fine for my purposes currently. The database problem i

[2022-08-11 11:36] #1946 closed, assigned to nobody

[2022-08-23 07:32] ChrisFist opened #1957 "Missing Basket item quantity validation in backend."
At present the item quantity validation is only ensured by
![image](https://user-images.githubusercontent.com/35878355/186097035-05136740-732b-4a18-9231-1932b64e0718.png)
of ..Shared/Components/CartList/Default.cshtml in case of MVC client. There is a validation defined for model **BasketItem** in
![image](https://user-images.githubusercontent.com/35878355/186097650-ed6dc601-dd4c-4be4-b89a-8dac695

[2022-08-24 09:30] pipchan commented on #1929
Hi @otuo-k:

I followed your steps as well as followed this as I am a MacOS user https://github.com/aspnet/LibraryManager/issues/367#issuecomment-631896612

However, but get the below error when I try libman restore
libman.json was not found

Hi @erjain

I followed your steps too but I still get the same error

![2022-08-24_05-28-34](https://user-images.githubusercontent.com/25620202/186383575-1ab

[2022-08-24 13:31] ChrisFist opened #1959 "Basket Service - GetBasket - called too often in MVC Client"
When showing the basket content of a user by clicking on his card the view /Card/Index is invoked which requires as View Output to the model variable a basket. Hence in related action controller CartController.cs you find:

 var vm = await _basketSvc.GetBasket(user);
 return View(vm);

calling the GetBasket service for the connected user. But this is not needed because the /Card/Index calls ViewCo

[2022-08-25 07:11] erjain commented on #1957
Hi @ChrisFist, Thank you so much for pointing this out, we are glad if you or anyone from the community can share the PR and we can evaluate and update the same.

[2022-08-26 15:17] ravividap commented on #1953
following

[2022-08-27 04:15] ravividap commented on #1957
@ChrisFist  do we really need to have validation again in the repository? BasketController already validates it.

[2022-08-27 05:39] ravividap commented on #1951
@MisinformedDNA Can you raise a PR to delete these?

[2022-08-27 06:08] ravividap commented on #1959
I want to pick this up

[2022-08-27 10:41] ChrisFist commented on #1957
Hi Ravi,

I cannot see the validation in BasketController when updating the quantity property of a basket item except as mentioned in ..Shared/Components/CartList/Default.cshtml, which is a pure client/gui validation. The CustomerBasket Model class has as List property elements of type BasketItem. The model class BasketItem itself implements the IValidateObject interface taking care for the positi

[2022-08-27 12:00] ravividap commented on #1957
@ChrisFist  I see the page is calling basket grpc service and not rest web API. Generally, validation should be handled at higher levels(e.g. by the controller) and the rest web API is doing that (not directly but there are filters written see image below)
<img width="237" alt="image" src="https://user-images.githubusercontent.com/12791849/187029162-410980da-b5c6-4554-b012-cf110c49fa51.png">

And

[2022-08-27 15:22] ChrisFist commented on #1957
I see! The filter of course should be actual place for Model validation. So far the front end Cartlist/Default.cshtml prevents the entering of negative or zero quantities. I was not aware of this Model/State filter. I agree this filter should handle the model validation of the basket items. But I have not understood why the Modelstate is not set to false in the filter when entering negative Quanti

[2022-08-27 15:22] #1957 closed, assigned to nobody

[2022-08-29 07:27] ravividap commented on #1930
@corygehr AFAIK ValueObject is something that doesn't have Id (identity) for e.g Address like you mentioned, or DateRangeClass. Whereas records can have Id properties but they are just read-only. So I think we can have both of them. What do you think?

[2022-08-29 08:52] ChrisFist opened #1961 "Quantity validation when updating basket is not validated in backend (related to #1957)"
The BasketController is supposed to do model validation applying filter ValidateModelStateFilter.cs. But this will only works when UpdateBasket functionality is called by the BasketController's action method:  UpdateBasketAsync. But as I see from the logs which I extended. The UpdateBasket method in the Basket repository class is triggered from FailingMiddleWare:

![image](https://user-images.gith

[2022-08-29 16:17] corygehr commented on #1930
It's still possible to have read/write properties with `record` but most usage examples seem to imply it's primarily meant for read-only values.

I think my point is that features of `record` seem to supercede `ValueObject` enough that it's no longer necessary. There's no harm in keeping both, but if I can simplify my service by removing the abstraction, subsequent unit tests, equality logic, etc.

[2022-08-29 17:57] ardalis commented on #1930
See: https://enterprisecraftsmanship.com/posts/csharp-records-value-objects/

[2022-08-30 19:19] erjain commented on #1947
Hi @ngaisteve1, There may be some interim issue or system-related issue, please refer to our wiki page for windows setup: https://github.com/dotnet-architecture/eShopOnContainers/wiki/Windows-setup. I am closing this issue as of now, however, please feel free to continue conversations in case of any further issues

[2022-08-30 19:19] #1947 closed, assigned to nobody

[2022-08-30 20:45] corygehr commented on #1930
@ardalis that's exactly what I was after. Thank you! This presents a clear case for still needing `ValueObject`, assuming the things `record` lacks are part of your requirements (which I expect many are, except for maybe a **very** simple application).

The point about collection comparison in equality checks is especially relevant, as it's something I came across when working with `record` recent

[2022-08-30 20:45] #1930 closed, assigned to nobody

[2022-08-31 07:38] erjain commented on #1408
I am closing this issue.

[2022-08-31 07:38] #1408 closed

[2022-08-31 16:16] alextse opened #1963 "[Question] Web API vs gRPC?"
Hi there, I'm new to the microservice architecture.  Please excuse my newbie question to this sample project.
In the solution there's a regular Web API `BasketController` and gRPC service `BasketService`.
I can see that the gRPC service is being called by the API Gateway but could not find any usage about the Web API.  Can someone help me understand the usage of it please?

Thanks.

[2022-09-05 10:46] erjain commented on #1963
Hi @alextse, Thanks for posting your query here. Please visit our wiki page for more information on the usage of gRPC in eShopOnContainers: https://github.com/dotnet-architecture/eShopOnContainers/wiki/gRPC. Please let us know in case of any further queries.

[2022-09-05 11:50] erjain commented on #1949
Hi @onurkanbakirci, Thanks for posting and raising your query here. Yeah, I agree with your observation in a real scenario. But, here, we are just trying to showcase how integration events work and this is the end idea behind it, we have created it as a sample, yeah I agree in a real scenario, however, this is a reference sample, so we have mocked the payment services, we refrain from making these

[2022-09-05 11:50] #1949 closed, assigned to nobody

[2022-09-05 12:03] erjain commented on #1963
I am closing this issue since this is not an issue, however feel free to continue the conversation in case any further queries.

[2022-09-05 12:03] #1963 closed, assigned to nobody

[2022-09-06 03:07] quantrpeter opened #1965 "can't run"
Hi, i am in mac:

[code]

[code]

thanks

[2022-09-06 11:03] #1961 closed, assigned to nobody

[2022-09-06 11:21] ChrisFist opened #1966 "Basket Service has no model Validation using grpc service"
As @ravividap stated in issue #1957 an open issue in grpc-dotnet repo prevents models/messages validation for Update Basket service due to open issue https://github.com/grpc/grpc-dotnet/issues/741.

I keep this issue only open, so that the message validation for UpdateBasket via grpc is extended after closing https://github.com/grpc/grpc-dotnet/issues/741. Otherwise I suggest to do validation on r

[2022-09-06 12:56] erjain commented on #1965
Hi @quantrpeter, thanks for posting here. There is an [issue](https://github.com/dotnet-architecture/eShopOnContainers/issues/1771) already reported on M1 Mac, which was resolved, sharing link which you can refer to: https://github.com/dotnet-architecture/eShopOnContainers/issues/1771.
Also please ensure to enable `docker.for.mac.localhost` hostname for the docker in the following file.

https://g

[2022-09-06 13:05] pascalfossouo opened #1967 "Unable to create an object of type 'ApplicationDbContext'. For the different patterns supported at design time, see https://go.microsoft.com/fwlink/?linkid=851728"
.Net 6 vs 2022

![Capture1](https://user-images.githubusercontent.com/12487736/188641956-d7e89ea8-fc10-40af-a70e-d1356fd1c7c1.PNG)

![image](https://user-images.githubusercontent.com/12487736/188642157-91aec720-f21d-48f3-a576-29f786ebe4c3.png)
![image](https://user-images.githubusercontent.com/12487736/188642256-0877d855-907f-47b3-872a-a74aa84ef1a1.png)

![image](https://user-images.githubusercont

[2022-09-06 21:47] 1304654 opened #1968 "Why queries doesn't been send within query bus?"
I wonder why it's the reason to don't send queries throughout the bus. For instance .
`_bus.send( new getQustomerQuery())`
That allows to implement decorators in the query side if it's necessary have query times or some kind of traking. Like command bus side.

[2022-09-07 05:52] quantrpeter commented on #1965
thanks, i just delete everything, clone the repo again, it back to work, thanks

[2022-09-07 05:52] #1965 closed, assigned to nobody

[2022-09-07 05:56] quantrpeter opened #1969 "hot code replace"
hi
   1. how to do hot code replace? dotnet run watch?
   2. how to browse the mongDB/mysql/redis data?
thanks

[2022-09-07 17:09] pascalfossouo commented on #1967
Allo still have no solution. someone can help me with that ?

[2022-09-08 03:45] ngaisteve1 opened #1970 "docker-compose up command is running for which yml?"
![image](https://user-images.githubusercontent.com/21274590/189029450-ebf693e3-6b0e-48f7-851d-7085c3379a08.png)

When I run the "docker-compose up" command, which yml is actually running? There are a lot of yml file in src folder.

[2022-09-08 03:57] ngaisteve1 opened #1971 "How to create the stack in Portainer?"
I used docker-compose.yml but some services could not be started.

![image](https://user-images.githubusercontent.com/21274590/189030872-d86da264-675f-4ed4-95b4-15594fd7210c.png)

Is it because of the environment variable?

![image](https://user-images.githubusercontent.com/21274590/189030954-71e8a92d-afda-4527-b8f2-81457551f851.png)

[2022-09-08 11:01] ComptonAlvaro opened #1972 "Why the repository of order has not a method for update?"
I am seeing this code in which the status of an order is changed.

Then handle in the application layer is this:

[code]
And the source class is this:

https://github.com/dotnet-architecture/eShopOnContainers/blob/main/src/Services/Ordering/Ordering.API/Application/Commands/ShipOrderCommandHandler.cs

I have seen that the IOrderRepository doesn't define an update method, like Update(Order updatedO

[2022-09-08 15:58] pascalfossouo commented on #1967
Resolve 👍

Put on your file this in order

![image](https://user-images.githubusercontent.com/12487736/189169522-ba80c97f-271a-42ff-9922-8d80d4330a51.png)

[2022-09-08 16:13] #1967 closed, assigned to nobody

[2022-09-08 17:01] erjain commented on #1970
Hi @ngaisteve1, thanks for raising your query here. The `docker-compose.yml` file allows you to configure and document all your application's service dependencies (other services, cache, databases, queues, etc.). For more information, you can visit: https://docs.microsoft.com/en-us/dotnet/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-c

[2022-09-08 17:01] #1970 closed, assigned to nobody

[2022-09-11 06:44] DKANomad opened #1973 "WebSPA Development in docker-compose Question"
I have some questions regarding the WebSPA project, currently it seems like there isn't really an easy way to work on this in the docker-compose environment. How would you debug the app in this environment? Or is that not the intent? If so I would be interested to know the correct approach

From the docs it seems that the solution to getting the SPA to even load is to just run it in Release, also

[2022-09-11 17:24] Hadsen commented on #1973
I started learning this techs and project recently, and i found that it takes up to 3 minutes on my PC to only compile and start WebSPA project in docker. As I've understood, it is probably because docker works with mounted windows files ~10x times slower. So I found no other out, but to do Angular development outside the docker, with self-hosted start option, and it is just working fine after cha

[2022-09-11 22:53] othmane-kinane-nw opened #1974 "Simplify Dockerfiles by using dotnet-subset"
Dockerfiles can be simplified by replacing the logic of [Create-DockerfileSolutionRestore.ps1](https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/Create-DockerfileSolutionRestore.ps1) with the [dotnet-subset tool](https://www.nuget.org/packages/dotnet-subset/)

These two blocks achieve the same result while leveraging Docker build cache ([GitHub diff](https://github.com/othmane-

[2022-09-12 07:23] erjain commented on #1971
Hi @ngaisteve1, I have checked the application and it is working fine for me. We are not able to test it on Portainer, this is great that you are trying on it. Due to bandwidth and maintainability, we are keeping it a low priority. Still, if anyone in the community wants to give this a try and capture the steps as a blog/article, we will be happy to link it to the wiki. I am closing this issue, ho

[2022-09-12 07:23] #1971 closed, assigned to nobody

[2022-09-12 09:02] erjain commented on #1973
Hi @DKANomad, Thanks for posting here, I believe there are already some issues reported in the past related to running the application in debugging mode. I am mentioning one of the issues here, https://github.com/dotnet-architecture/eShopOnContainers/issues/1740, or you can visit the wiki page to get the correct approach: https://github.com/dotnet-architecture/eShopOnContainers/wiki/Windows-setup,

[2022-09-12 09:02] #1973 closed, assigned to nobody

[2022-09-12 09:08] erjain commented on #1968
Hi @1304654, Due to bandwidth and maintainability, we are keeping it a low priority. If you or anyone from the community want to give it a try we can review the approach and link it to the wiki. Since this is not an issue I am closing it, however, feel free to continue the conversation here.

[2022-09-12 09:08] #1968 closed, assigned to nobody

[2022-09-12 09:11] erjain commented on #1966
Hi @ChrisFist, Sure, I have labeled this issue on hold for now.

[2022-09-12 13:19] DKANomad commented on #1973
@erjain thanks for the response, my issue wasn't so much being unable to run the project in debug, I was able to do it in both self-host and remote mode with some small modifications to docker-compose.

My questions were more specific to the approach used in maintaining the development environment. @Hadsen's comment about using self-hosted mode works well enough. I also tried with running it in Do

[2022-09-13 09:51] erjain commented on #1974
Hey @othmane-kinane-nw great work on this tool, I really love the idea behind dotnet-subset. However, we are happy to mention this tool in our wiki, and if you want to maintain implementation in a separate repo, we are happy to refer to that as well, however, we are not planning to change every dockerfile at the moment, we want to keep it plain, so that people can understand why caching is importa

[2022-09-13 09:51] #1974 closed, assigned to nobody

[2022-09-14 07:40] erjain commented on #1951
I am closing this issue as per the explanation given in PR #1960.

[2022-09-14 07:40] #1951 closed, assigned to nobody

[2022-09-19 05:24] Shij0 opened #1976 "Project structure of eShopOnContainers suitable for real project"
I'm completely new to microservice. When I checking this project . Everything available for the Microservice such as gateway, services and web in single solution. But individual domain suppose Basket , which is simple project it's only have one class project [Basket.API.csproj](https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/Services/Basket/Basket.API/Basket.API.csproj) . The

[2022-09-19 10:24] ardalis commented on #1976
I'm curious where you're getting your "DDD" folder structure from?

[2022-09-19 10:30] Shij0 commented on #1976
I copied from one DDD project. https://github.com/ntxinh/AspNetCore-DDD
Come to microservice Eric Evans also recemented to use DDD. suppose we adapt this DDD project structure will be very huge.

[2022-09-20 09:28] timyan56 opened #1977 "Response status code does not indicate success"
After docker-compose up command, it gives me this 500 error.
`HttpRequestException: Response status code does not indicate success: 500 (Internal Server Error).`

System.Net.Http.HttpRequestException: Response status code does not indicate success: 500 (Internal Server Error).
   at System.Net.Http.HttpResponseMessage.EnsureSuccessStatusCode()
   at System.Net.Http.HttpClient.GetStringAsyncCore(Ht

[2022-09-20 14:47] WolfspiritM commented on #1973
I also have to say that the "F5" experience for the webspa project is very bad. In general I think the integration of SPAs with .NET isn't very good at all. There for example is the new spaproxy which even so it's called spaproxy isn't really a proxy just a launcher and redirector causing ports to change and not actually going through the backend as they would in the real world. This can cause iss

[2022-09-20 20:52] erjain commented on #1977
HI @timyan56, thanks for posting your query. Sometimes an error during startup can disturb the application deployment and entries in the databases.  Could you please clean up old docker images and build the docker images again?  - To build and run the app
- Go to the `/src/` directory and first-time build without cache

[code]
- then, run

[code]
- Once it's ready to accept the new connection, the

[2022-09-21 02:05] timyan56 commented on #1977
Hi @erjain , thank you for the reply! I have just tried your solution, but the problem persists with the same error.
![Screenshot 2022-09-21 at 10 05 25 AM](https://user-images.githubusercontent.com/97575806/191397987-5fb94773-3150-4e66-8a89-901098e6f146.png)

[2022-09-21 03:21] Hadsen commented on #1973
Microsoft.AspNetCore.SpaServices is obsolete. This project uses Microsoft.AspNetCore.SpaServices.Extensions, which is an actual replacement.

[2022-09-21 04:23] Hadsen commented on #1976
I'm new too, so i just have only some thoughts about the topic, not real knowledge, but i think it is interesting to discuss. So as i see it, your structure is for monolith back-end, which is supposed to be like template for big scale application, properly divided into projects for better cooperative developing, testing etc.. In the case of microservices, and particularly eShopOnContainers solutio

[2022-09-21 06:01] Shij0 commented on #1976
Hi Hadsen,
Initially I leaning Microservice, I thought this is perfect project for microservice. Then I start to implement  microservice not fit properly.

In real world Microservice each Module  or Domain(Product ,Shipping) may developing different team with different technologies. Individual team can adapt different architecture depend on scenario such as DDD, BDD ,N-tier.

Most of application I

[2022-09-21 07:41] erjain commented on #1977
Hi @timyan56, there seems to be an issue with the database, it's showing SqlCLient.SqlException, please ensure your SQL server image is up.

[2022-09-21 09:19] erjain commented on #1969
Hi @quantrpeter, thanks for posting your query.
There are multiple ways of doing hot reloading.
From Visual Studio, after running your application in debug mode with F5, you can configure Hot Reload by selecting Settings from the Hot Reload drop-down button. Or please visit this link: https://docs.microsoft.com/en-us/visualstudio/debugger/hot-reload?view=vs-2022 for detailed knowledge on how to en

[2022-09-21 09:19] #1969 closed, assigned to nobody

[2022-09-21 09:37] timyan56 commented on #1977
Hi @erjain  I think the problem is caused by mssql not supporting arm architecture as the issue already mentioned  [here](https://github.com/microsoft/mssql-docker/issues/668)

[2022-09-21 10:03] erjain commented on #1952
Hi Spingee, thanks for your valuable suggestions. You are right, migrations should be a CI/CD step, not a startup task. We also recommend best practice is to run a script as part of CI/CD, apply the migration from the CLI, or build a bundle. We will update the wiki documentation to recommend this, for more details, we suggest visiting the page [Applying Migrations - EF Core | Microsoft Docs](https

[2022-09-21 11:05] erjain commented on #1977
If you are running on Mac, there is an [issue](https://github.com/dotnet-architecture/eShopOnContainers/issues/1771) already reported on M1 Mac, which was resolved, sharing link which you can refer to: https://github.com/dotnet-architecture/eShopOnContainers/issues/1771.
Also please ensure to enable `docker.for.mac.localhost` hostname for the docker in the following file.

https://github.com/dotne

[2022-09-21 13:19] timyan56 commented on #1977
Hi @erjain  thank you for the [guidance](https://github.com/dotnet-architecture/eShopOnContainers/issues/1771). It works for me

[2022-09-21 13:19] #1977 closed, assigned to nobody

[2022-09-21 17:06] AzizBobokhujaev commented on #1045
@FrankDupree @mvelosop  I have the same situation, could you please share your solution?

[2022-09-22 04:26] ngaisteve1 opened #1978 "Unable to access to http://localhost/eshop-webstatus - 404 error"
I followed the steps in https://github.com/dotnet-architecture/eShopOnContainers/wiki/Deploy-to-Local-Kubernetes to deploy it locally.

I think I managed to get it all up.

![image](https://user-images.githubusercontent.com/21274590/191658218-c474fe9f-e989-4699-b12e-7f7a65542062.png)

But when I run http://localhost/eshop-webstatus, I got a 404 error.

![image](https://user-images.githubuserconten

[2022-09-22 08:08] erjain commented on #1978
Hi @ngaisteve1, thanks for posting here. Try removing eshop and browse with the URL http://localhost/webstatus. Hope it helps.

[2022-09-22 08:34] ngaisteve1 commented on #1978
@erjain , I still get the same error.

![image](https://user-images.githubusercontent.com/21274590/191699087-55cb07f6-8b0f-4cef-9c97-11769348a78d.png)

[2022-09-22 11:03] erjain commented on #1972
Hi @ComptonAlvaro, thanks for posting here. The statement
[code]
 is calling the `AddDomainEvent` function to add the
`_description = "The order was shipped.";`
and finally below statement will asynchronously save all changes made in this context to the underlying database.
[code]
I hope this helps.

[2022-09-22 12:19] npagare opened #1979 "Build fails | commit 8438a6a | The command "npm install" exited with code 1"
Hello,

Build after updating dev branch to the latest commit [8438a6a - Merge pull request #1955 from teghoz/dev] is failing with the following error.

Severity	Code	Description	Project	File	Line	Suppression State
Error	MSB3073	The command "npm install" exited with code 1.	WebSPA	{path}\eShopOnContainers\src\Web\WebSPA\WebSPA.csproj	57

Would you please help?
Thank you.

---------
output my npm an

[2022-09-23 06:59] liuziyuan opened #1980 "Question: deploy-all.ps1 issue , dial tcp 10.104.172.163:443: connect: connection refused"
I follow the 'Deploy to Local Kubernetes' guide to deploy the project .
when I run `.\deploy-all.ps1 -imageTag linux-dev -useLocalk8s $true`,  this command.
then show the error in log,
[code]
the i run `kubectl get deployment` command, the pod is not all ready
[code]
the full logs:
[code]

[2022-09-23 18:00] kbeaugrand opened #1981 "Bug: Deployment on AKS - WebShoppingAgg don't start"
Hello,

After deploying following the documented procedure using only the templates provided (with image `linux-latest`). The pod eshop-webshoppingagg does not start, and presents the following message:

[code]

Could you help me to get this sample working ?
I need to run that on AKS to present a demonstration of running such kind of distributed services with ServiceMesh....

Remarks, I can have t

[2022-09-24 01:36] lewisc99 commented on #1812
@xieyiincuit  for me happend  the same error, was because the folder that contain the c# project was, c# and another folder the name was month 9, so i rename the c# folder to csharp and the month 9 to month9 and then a ran the project again and worked it.

[2022-09-26 07:40] erjain commented on #1972
I am closing this issue, however, feel free to post here in case of more queries.

[2022-09-26 07:40] #1972 closed, assigned to nobody

[2022-09-26 08:16] ComptonAlvaro commented on #1972
Thank for your reply, it is good to clear details to can learn a bit more.

Thanks for your time and attention.

[2022-09-26 10:15] erjain commented on #1980
Hi @liuziyuan, thanks for testing eShop and posting here. I have tested it completely and it is working for me. Attaching screenshot:
![image](https://user-images.githubusercontent.com/87998741/192248140-1e2911b2-f035-4be2-8c2f-50a6bb537c9f.png)

![image](https://user-images.githubusercontent.com/87998741/192248389-ab4e1799-9337-4fc9-981e-d4b14777d2d6.png)
Can you ensure the helm and ingress are i

[2022-09-26 10:20] erjain commented on #1981
Hi @kbeaugrand, thanks for posting here. Have you tried deploying public images as per link https://github.com/dotnet-architecture/eShopOnContainers/wiki/Deploy-to-Azure-Kubernetes-Service-(AKS)#deploy-public-images-from-dockerhub
and then ensure to allow large headers: https://github.com/dotnet-architecture/eShopOnContainers/wiki/Deploy-to-Azure-Kubernetes-Service-(AKS)#allow-large-headers-needed

[2022-09-26 10:24] erjain commented on #1979
Hi @IoTFier, thanks for posting here. I have tested the application and it is working fine for me. Sometimes an error during startup can disturb the application deployment and entries in the databases.  Could you please clean up old docker images and build the docker images again?  - To build and run the app
- Go to the `/src/` directory and first-time build without cache

[code]
- then, run

[cod

[2022-09-26 10:37] erjain commented on #1978
Hi @ngaisteve1, thanks for testing eShop and posting here. I have tested it completely using public images
`.\deploy-all.ps1 -imageTag linux-dev -useLocalk8s $true`
 and it is working for me. Attaching screenshot:
![image](https://user-images.githubusercontent.com/87998741/192248140-1e2911b2-f035-4be2-8c2f-50a6bb537c9f.png)

![image](https://user-images.githubusercontent.com/87998741/192248389-ab4

[2022-09-26 11:13] kbeaugrand commented on #1981
Hi @erjain ,

I found the issue. I was not compiling the dev branch, so I think I was confronted to unexpected errors on this branch.
However, I found another issue regarding the SPA.

I'll open the corresponding issue in a few minutes.

Regards,

[2022-09-26 11:13] #1981 closed, assigned to nobody

[2022-09-26 11:30] kbeaugrand opened #1982 "[K8S] - Ingress on / rewrites to WebMVC instead of WebSPA"
Hi,

I found a small issue on the K8S deployment charts.
The default path (/), is rewriting the path to /webMVC instead of /webSPA.

I'm able to provide a PR for this issue soon...

[2022-09-26 11:36] kbeaugrand opened #1983 "WebPSA error when deploying linux-dev - (Failed to start 'npm')"
Hi,

I've an issue when using WebSPA and deploying the linux-dev image.
WebSPA container starts but is unable to process requests since npm seems to not beeing installed on the container:

[code]

Regarding the Dokerfile code, it seems to be normal because the image uses aspnet:6.0 which does not contain nodejs or npm.

[2022-09-26 11:43] kbeaugrand commented on #1983
By looking in the helm chart for the WebSPA service, it seems that it has been kept on Development environment.

I think it should be
[code]

What do you think about that ?

[2022-09-26 12:21] erjain commented on #1982
Hi @kbeaugrand, thanks for testing the deployment and posting here. I have tested it completely and it is working for me. Attaching screenshot:
![image](https://user-images.githubusercontent.com/87998741/192248140-1e2911b2-f035-4be2-8c2f-50a6bb537c9f.png)

![image](https://user-images.githubusercontent.com/87998741/192248389-ab4e1799-9337-4fc9-981e-d4b14777d2d6.png)

[2022-09-26 12:39] erjain commented on #1983
Hi, thanks for testing eShop and posting here. I have tested it completely using public images
`.\deploy-all.ps1 -imageTag linux-dev -useLocalk8s $true`
 and it is working for me. Just for testing, are you able to run it using docker-compose?
Can you share any other logs?
For more information on Deploy to Local k8s, please refer to the wiki page: https://github.com/dotnet-architecture/eShopOnConta

[2022-09-26 12:49] kbeaugrand commented on #1983
@erjain ,

My bad, I made a mistake in the issue details.
I'm using custom image, built by docker-compose from the dev branch. The I was deploying with deploy-all.ps1 script.

[2022-09-26 12:51] erjain commented on #1931
Hi @LangSensei, thanks for posting here. The below line is used to check if the _currentTransaction is null or not:

https://github.com/dotnet-architecture/eShopOnContainers/blob/37474024fa538f19a2d47db38ca1fa9b3d5d617b/src/Services/Ordering/Ordering.Infrastructure/OrderingContext.cs#L58-L61

If null, then only it will set the value using the below statement:
 https://github.com/dotnet-architectur

[2022-09-26 12:51] #1931 closed, assigned to nobody

[2022-09-26 15:19] kbeaugrand commented on #1982
Sorry again,

It was an old branch I tried to deploy.
My bad.

[2022-09-26 15:19] #1982 closed, assigned to nobody

[2022-09-27 06:50] erjain commented on #1983
Hi @kbeaugrand, Can you share any logs?

[2022-09-27 06:51] erjain commented on #1980
Hi @liuziyuan, I am closing this issue however feel free to continue the conversation in case of any further queries.

[2022-09-27 06:51] #1980 closed, assigned to nobody

[2022-09-27 06:52] erjain commented on #1979
Hi @IoTFier, I am closing this issue, however, feel free to continue the conversation in case of more queries.

[2022-09-27 06:52] #1979 closed, assigned to nobody

[2022-09-27 06:54] erjain commented on #1978
Hi @ngaisteve1, I am closing this issue. However, feel free to continue the conversation in case of any more queries.

[2022-09-27 06:54] #1978 closed, assigned to nobody

[2022-09-27 06:58] kbeaugrand commented on #1983
Sure, here are the logs when deploying with ASPNETCORE_ENVIRONMENT set to ``Development`` :

[code]

[2022-09-27 07:02] erjain commented on #1976
Hi @Shij0, This is just a demonstration of how to implement microservices, it is not production-ready. For illustrations of the implementation of an e-commerce application, you can visit the learning module: https://docs.microsoft.com/en-us/learn/paths/create-microservices-with-dotnet. I am closing this issue, however, feel free to continue the conversation or reopen it if you are looking for more

[2022-09-27 07:02] #1976 closed, assigned to nobody

[2022-09-27 07:07] erjain commented on #1815
Hi @josephwambura, Thanks for posting here, if you can share any sample, we can review it and have it in our wiki documentation as a separate sample demonstration of the server-side processing JQuery Datatables. I am closing this issue since this is not an issue, however, feel free to reopen or continue the conversation.

[2022-09-27 07:07] #1815 closed, assigned to nobody

[2022-09-27 07:10] erjain commented on #1795
The issue can be closed now.

[2022-09-27 07:10] #1795 closed, assigned to nobody

[2022-09-29 17:36] erjain commented on #1983
It seems to be some system-specific temporary error, basically, it's not able to find npm, are you able to run it on your machine when the value is updated to production?

`value: Production`

[2022-09-29 17:45] erjain opened #1985 "Test"

[2022-09-29 17:46] #1985 closed, assigned to erjain

[2022-09-29 23:27] MattHartz commented on #1690
Hi @sreejith-ms ,

Just a random question. It seems off to me to send an email based off a DomainEvent because of a potential failure to push the transaction to the DB, but still manage to send an email.

Is it preferred to actually do email sending as an IntegrationEventHandler instead? Or is the DomainEvent writing to some sort of email service message that can be done in process, but the actual

[2022-09-29 23:30] MattHartz opened #1986 "Notification Service / Sending Emails"
Hi all,

Thanks for this documentation. It has inspired me in a lot of ways and is much appreciated.  I do have a question regarding the sample code for "SendEmailToCustomerWhenOrderStartedDomainEventHandler".

It seems off to me that this is planned to be a DomainEventHandler rather than an IntegrationEventHandler, only because if in-process you call a 3rd party service, and then committing the D

[2022-10-01 06:25] kbeaugrand commented on #1983
Yes, it works when specifying to production.
That was the reason I created the PR #1984

[2022-10-03 07:28] erjain commented on #1983
Thanks for the PR @kbeaugrand, I suggest keeping the value as it is and later we will update the documentation and keep this issue for the reference of community users, in case of a similar issue users can refer to it. I am closing this issue now, please feel free to reopen it in case of further queries.

[2022-10-03 07:28] #1983 closed, assigned to nobody

[2022-10-06 08:52] erjain commented on #1626
Hi @mcuzmenco, If an error occurs in a statement in the try block, execution transfers to the catch block where the transaction can be rolled back. For more information, you can refer to the section of documentation https://learn.microsoft.com/en-us/aspnet/web-forms/overview/data-access/working-with-batched-data/wrapping-database-modifications-within-a-transaction-cs#an-overview-of-transactions. I

[2022-10-06 08:52] #1626 closed, assigned to nobody

[2022-10-07 12:05] Cubelaster opened #1987 "WebSPA not building correctly via F5 in VS: Question"
I have forked the project and pressed F5 from Visual Studio.
Build passed, Docker started, project was successfully run.
MVC works, everything works as far as I can see, except for WebSPA project.

The issue is the same (probably the same) as: [1821](https://github.com/dotnet-architecture/eShopOnContainers/issues/1821) and [5223](https://github.com/dotnet/aspnetcore/issues/5223)

![image](https://

[2022-10-10 04:56] erjain commented on #1987
Hi @Cubelaster, thanks for trying on eShopOnContainers and posting here. There is a frequent error reported earlier, please refer to the link: https://github.com/dotnet-architecture/eShopOnContainers/wiki/Frequent-errors#webspa-project-doesnt-come-up-on-debug-mode-in-visual-studio-2019. Let me know if this helps you.

[2022-10-11 06:43] erjain commented on #1987
I am closing this issue, please feel free to reopen it in case you are looking for more help.

[2022-10-11 06:43] #1987 closed, assigned to nobody

[2022-10-24 16:27] wy1207 opened #1990 "[Error] Deploying on M1 mac, show an error: Google.Protobuf.Tools cannot determine host OS and CPU"
When I use `docker-compose build`, an error occurred:
#47 3.022 /root/.nuget/packages/grpc.tools/2.34.0/build/_protobuf/Google.Protobuf.Tools.targets(84,5): error : Google.Protobuf.Tools cannot determine host OS and CPU. [/src/Services/Catalog/Catalog.API/Catalog.API.csproj]
#47 3.022 /root/.nuget/packages/grpc.tools/2.34.0/build/_protobuf/Google.Protobuf.Tools.targets(84,5): error : Use environme

[2022-10-27 06:55] erjain commented on #1990
HI @wy1207, thanks for posting here. Please refer to the issue #1771.

And, In `Docker Desktop for Mac` :

- Clean up the existing docker images and data volumes using the **Clean/Purge data** feature.
- Under the **Resources/FILE SHARING** option right path is mounted. (You can delete the existing entry and add it back again)

Once the cleanup is done, then you need to rebuild the images for runn

[2022-10-27 10:21] wjkhappy14 opened #1991 "deploy on k3s"
maybe  deploy  the all services on k3s  environment ！

[2022-10-27 10:50] MatheusXavier opened #1992 "Question: Why are we not using MassTransit?"
The [MassTransit library](https://github.com/MassTransit/MassTransit) provides some facilities when working with messages and events, but here at eShopOnContainers we build custom code for this, is there any specific reason for this approach?

[2022-10-27 11:51] MatheusXavier commented on #1765
Considering a scenario where I have `microservice A` producing an integration event where `microservices B` and `C` are subscribed and `microservices B and C` are running in multiple pods, what is the best approach?

1. Having a subscription manager that allows only one subscription per microservice, so even running microservice B in three pods only one will subscribe to this event like @andiexer

[2022-10-28 00:53] wjkhappy14 opened #1993 "no PersistentVolumeClaim for the helm chart of the catalog-api"
when i deploy the all helm on k8s, all services are working ,but can  not show  pictures,
maybe  no PersistentVolumeClaim  for  the  catalog-api

[2022-10-28 05:44] wjkhappy14 commented on #1993
sorry，i found   the docker  image   has alread include the Pics  Dir.
but   is  this not good?

[2022-10-28 07:58] erjain commented on #1991
Hi @wjkhappy14, thanks for posting here. This could be an exciting thing to do. I appreciate it, if you or someone else want to showcase it and share a PR, we can review the PR and link the same as a demonstration on our wiki page.

[2022-10-28 11:32] erjain commented on #1992
Hi @MatheusXavier, thanks for your valuable suggestion. For sure this can be a good idea to include MassTransit library, the purpose of this sample application is just to provide a sample application showing how to use microservices and Docker containers plus showing multiple clients(WebMVC, WebSPA, etc).

However, if anyone wants to work on the feature to add MassTransit library, we're open to ac

[2022-10-28 11:32] #1992 closed, assigned to nobody

[2022-10-29 09:07] wy1207 commented on #1990
Thank you so much! It helps a lot.
But another error occurred when explore "http://docker.for.mac.localhost:5100/" :
An unhandled exception occurred while processing the request.
InvalidOperationException: An invalid request URI was provided. Either the request URI must be an absolute URI or BaseAddress must be set.
System.Net.Http.HttpClient.PrepareRequestMessage(HttpRequestMessage request)

[2022-10-29 19:15] Marhoum opened #1995 "Architecture"

[2022-10-31 08:13] #1995 closed, assigned to nobody

[2022-10-31 08:16] erjain commented on #1991
I am closing this issue as of now, however, please feel free to continue the conversation here.

[2022-10-31 08:16] #1991 closed, assigned to nobody

[2022-10-31 08:58] erjain commented on #1993
HI @wjkhappy14, thanks for posting here. All images are present in catalog.api project in `Pics` folder. The purpose of this sample application is just to provide a sample application showing how to use microservices and Docker containers plus showing multiple clients(WebMVC, WebSPA, etc). I am closing this issue, please feel free to post here in case of any more queries.

[2022-10-31 08:58] #1993 closed, assigned to nobody

[2022-10-31 11:10] erjain commented on #1990
Hi @wy1207, try using `ESHOP_EXTERNAL_DNS_NAME_OR_IP=docker.for.linux.localhost` in .env file. You can do that by using the following steps.

- You can go the directory `~/eShopOnContainers/src`
- Go to the `.env` file.
- Choose the right DNS :
    Uncomment :
[code]
    and comment out :
[code]

Sometimes an error during startup can disturb the application deployment and entries in the databases.

[2022-10-31 11:17] erjain commented on #1986
Hi @MattHartz, Thanks for your valuable suggestion. For sure this can be an additional enhancement and thus a new feature.  The purpose of this sample application is to provide a sample application showing how to use microservices and Docker containers plus showing multiple clients(WebMVC, WebSPA, etc). However, if you or anyone else want to work with such add-ons, and share the PRs, we are happy

[2022-10-31 11:17] #1986 closed, assigned to nobody

[2022-10-31 11:18] erjain commented on #1959
I am closing this issue since it's not an issue, this piece of code will be used to get the data based on the identity of the user. However please feel free to post here.

[2022-10-31 11:18] #1959 closed, assigned to nobody

[2022-10-31 11:37] wy1207 commented on #1990
@erjain Thank you so much.

[2022-10-31 11:37] #1990 closed, assigned to nobody

[2022-11-01 19:02] elibakshi opened #1996 "User Workload for Load Testing"
I noticed that the [load testing](https://github.com/dotnet-architecture/eShopOnContainers/wiki/Load-testing) section within the Wiki contains alternative tools to use with eShopOnContainers.

I am wondering if there is any existing user workload/user trace for eShopOnContainers to use as a reference when load testing? It would be great to have!

I really appreciate any input. Cheers!

[2022-11-02 11:45] erjain commented on #1996
Hi @elibakshi, thanks for posting here. Since load testing is deprecated in Visual Studio, there is no such user trace available for eShopOnContainers. However, you can check the link for loadtesting alternatives: https://devblogs.microsoft.com/devops/cloud-based-load-testing-service-eol/#load-testing-alternatives. I am closing this issue as of now, however, you can continue your conversation here

[2022-11-02 11:45] #1996 closed, assigned to nobody

[2022-11-02 12:26] erjain commented on #1622
I am closing this issue now since it is opened for a very long time with no activity.

[2022-11-02 12:26] #1622 closed, assigned to nobody

[2022-11-04 06:47] erjain commented on #1789
Considering the issue has had no activity for many months, closing it as of now.

[2022-11-04 06:47] #1789 closed, assigned to nobody

[2022-11-09 05:10] elibakshi commented on #1996
Hello @erjain, I appreciate your response, and thank you for the alternative tools!

I am actually planning on using Apache JMeter for load testing already. I am more concerned if there is an existing workload/user trace that reflects how users would typically interact with a service like eShopOnContainers, to then plug into something like Apache JMeter.

This is so that I can accurately simulate

[2022-11-12 10:39] bhupi-cloudeq opened #2000 "Circuit breaker not working"
Circuit breaker not working as laid out in this article.

https://learn.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/implement-circuit-breaker-pattern

[2022-11-13 22:35] WadeVillines opened #2001 "Potential Race Condition?"
I'm curious if there is a race condition when adjusting stock in the Catalog microservice.

- In the Catalog service, the _OrderStatusChangedToAwaitingValidationIntegrationEventHandler_ will check if there are enough items in stock before publishing a _OrderStockConfirmedIntegrationEvent_.
- Then, the Payment service will process payment for the order.
- Finally, the Catalog service will decrement

[2022-11-14 06:06] odidev opened #2002 "eShopOnContainers for linux amr64"
I tried building docker using docker-compose build for linux arm64 but it fails with following error:
[code]

I also tried to deploy  arm templates with ServiceBus, COSMOSDB, Redis and so on and the deployment was successful on azure but we don't have detailed explanation of how we can use it after the deployment on azure.

Could you please share your pointers regarding running eShopOnContainers f

[2022-11-15 03:13] darshana2000 commented on #1953
Following

[2022-11-15 07:17] ryanwaite28 commented on #1493
Just to add to this:

The API gateway, like @sughosneo said, is the entrypoint for clients (web, mobile); it's main job is using the various microservices to compose a response for the request. The gateway doesn't have to connect to microservices with REST, it can use messages and wait for a response to that message. When a client makes a request, the server has to respond to that request because

[2022-11-15 08:04] whitesiroi commented on #2002
I've just tried it today and getting the same error.

MacBook Pro (16-inch, 2021)
Chip Apple M1 Pro

[2022-11-15 08:54] odidev commented on #2002
@whitesiroi, Please refer [comment](https://github.com/dotnet-architecture/eShopOnContainers/issues/1990#issuecomment-1296933385) and then try docker-compose build.

@erjain, Could you please share your feedback for linux arm64. Thanks in advance!

[2022-11-21 07:17] erjain commented on #2002
Hi @odidev, thanks for raising your query and posting the [resolution ](https://github.com/dotnet-architecture/eShopOnContainers/issues/1990#issuecomment-1296933385)for the same. I hope it helped to resolve the issue. I am closing this issue as of now, however, feel free to continue the conversation if you are looking for more help.

[2022-11-21 07:17] #2002 closed, assigned to nobody

[2022-11-21 08:51] odidev commented on #2002
Hi @erjain, I have already tried this but the issue was not resolved.
Also could you please share your feedback regarding arm templates. Thanks in advance!

[2022-11-22 21:21] cbuda opened #2007 "Question: null response from scope.ResolveOptional"
So I am using some of the concepts provided in the eshopOnContainers project in my own DD micro-service.  All is working fine, except, when I publish an event in ASB, the app picks it up referencing the appropriate HandlerType but
 in EventBusServiceBus.ProcessEvent, scope.ResolveOptional is returning null.  Any hints on how the IntegrationEventHandlers are  best registered to make it available in

[2022-11-25 13:20] rekosko commented on #1897
BUMP :)

[2022-11-28 07:10] bobowinca commented on #1239
For me it was the VPN. Disconnect it, and it worked perfectly. @Roland1975  Thanks a bunch!

[2022-11-30 21:24] erjain commented on #2001
Hi @wadeVillines, thanks for sharing your query here. This problem is a real-world problem, however, this application is not production ready, the purpose of this sample application is just to provide a sample application showing how to use microservices and Docker containers plus showing multiple clients(WebMVC, WebSPA, etc).
For concurrent scenarios, I prefer you can also check our docs link: ht

[2022-11-30 21:24] #2001 closed, assigned to nobody

[2022-11-30 21:29] erjain commented on #2000
Hi @bhupi-cloudeq, thanks for posting here. Please visit the link: https://learn.microsoft.com/en-us/training/modules/microservices-resiliency-aspnet-core/ for implementing the Circuit-Breaker pattern. I am closing this issue as of now, please feel free to post here in case of more queries.

[2022-11-30 21:29] #2000 closed, assigned to nobody

[2022-11-30 21:32] erjain opened #2010 "eShopOnContainers - migrate to .NET 7"
- [x] Implement Duende IdentityServer 6.2.0 to replace IdentityServer4 3.1

- [x] Updates   all Dockerfile for individual projects to use the latest   mcr.microsoft.com/dotnet/sdk:7.0 and runtime   mcr.microsoft.com/dotnet/runtime:7.0

- [x] update each   Microsoft.AspNetCore.*, Microsoft.EntityFrameworkCore.*,   Microsoft.Extensions.*, and System.Net.Http.Json package reference's Version   attrib

[2022-11-30 21:51] erjain opened #2011 "update microservices ebooks"
123 occurences

- [x] update section Introduction to Containers & Dockers of page Introduction to Containers & Dockers with - .NET 6 mentions
- [x] update section  of page Choosing Between .NET 6 and .NET Framework for Docker Containers with - .NET 6 mentions
- [x] update section Use .NET Framework for your containerized Docker server application when: of page General Gudance with - add builtin co