[2017-01-06 20:31] CESARDELATORRE opened #1 "Windows Containers (NanoServer) is being tested - work in progress - Issues"
[UPDATE] - We're doing tests but we're having issues with internal name resolution for communicating between eachother

Try this:

**From: Sandeep Bansal**
Please see if adding the following line to DockerFile solves the issue for you (we have a fix on the way for this):
RUN set-itemproperty -path 'HKLM:\SYSTEM\CurrentControlSet\Services\Dnscache\Parameters' -Name ServerPriorityTimeLimit -Value 0

[2017-01-06 20:36] CESARDELATORRE opened #2 "Pending to migrate to .csproj, VS 2017 with Docker, .NET 1.1 and EF 1.1"
This migration is planned to be done in January and early February 2017 time frame, in this order:
- Migrate to .csproj and VS 2017 (with docker-compose.yml requirements from VS 2017)
- Migrate to .NET 1.1 and EF 1.1 including refactoring with new features in EF 1.1

[2017-01-06 20:41] CESARDELATORRE opened #3 "Need an Integration Container for easier build and Docker images creation"
Another feature in the roadmap is to use an Integration Container based on an Image that has to have all the needed dependencies (like .NET SDK, Client Javascript frameworks, etc.).
That container will be the place where all the microservices will actually be compiled and where the custom Docker images will be created. This will greatly simplify the development setup (no need to make sure that you

[2017-01-12 19:36] CESARDELATORRE opened #4 "Address within the Order entity should be a Value-Object instead of an Entity - Id for EF can be implemented as a shadow state primary key"
The "Address" within the "Order" entity should be a Value-Object instead of an entity, because an Address has no identity within that context, therefore it shouldn't be an Entity but a Value-Object (or even a ComplexType in EF).
https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Ordering/Ordering.Domain/Address.cs
The issue is that in EF Core still doesn't support ComplexTypes li

[2017-01-12 23:53] CESARDELATORRE opened #5 "Need to add additional Domain Logic to the "Order" Aggregate-Root"
Need to add additional Domain Logic to this Aggregate-Root for scenarios related to Order state changes, stock availability validation, etc.

Current implementation of the Order Aggregate-Root is too simple in regards behavior.
Other than that, using DDD patterns makes no sense. An Order can have a lot more of complexity in Domain Logic..
Code:
https://github.com/dotnet/eShopOnContainers/blob/mast

[2017-01-13 00:03] CESARDELATORRE opened #6 "Review EF Core 1.0 code in the "Catalog" microservice (Simple data-driven and CRUD microservice)"
Need to review and provide feedback on the EF Core 1.0 code in "Catalog" microservice by the EF product team.
Take into account that this microservice implementation is supposed to be "the simpler, the better", as it is a simple data-driven and CRUD microservice.
- "Catalog" microservice:
-- Startup.cs:
https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Catalog/Catalog.API/Startu

[2017-01-13 00:15] CESARDELATORRE opened #7 "Minor Pending Refactoring issues in Microservices"
- PENDING ISSUES
  - (Pending) This Change was lost in the migration-net.1.1 branch - Check it out.
Rename SeedWork to Seedwork. It should be "w" lowercase. It is just like Framework vs. FrameWork. Also, see: https://www.martinfowler.com/bliki/Seedwork.html

- DONE  (Move here "done issues" from above, when done)
  - (DONE) Rename entity class Payment to <b>PaymentMethod</b> in the Ordering micros

[2017-01-13 00:26] CESARDELATORRE opened #8 "Review EF Core 1.1 code in the "Ordering" microservice (Domain-Driven Design microservice)"
Review EF Core code in the "Ordering" microservice. Take into account that this microservice should be implementing a more complex context with more Domain Logic that will eventually grow more. Therefore, this microservice was designed following more advanced Domain-Driven Design patterns like a No-Anemic Domain Model, Aggregate-Roots, CQS (Command-Query Separation) so transactions/updates are don

[2017-01-13 00:46] CESARDELATORRE opened #9 "Do not hold the ASP.NET Core Configuration object as Singleton in the IoC container"
IMPORTANT: We we might not change this until we migrate to .NET 1.1, but we need to make sure what’s the right approach for storing the Configuration.

Current approach:
Storing the Configuration object as Singleton in the IoC container as in:
services.AddSingleton<IConfiguration>(Configuration);
can be a "bad smell" and not a recommended pattern we might want to encourage. It can be a security ho

[2017-01-13 01:07] CESARDELATORRE opened #10 "Make sure Tracking is disabled in EF Core if it is not needed, like when Querying"
Make sure Tracking is disabled in EF Core if it is not needed, like when Querying.
Review all the related code and disable tracking if needed so performance will be better.

[2017-01-13 18:22] CESARDELATORRE opened #11 "Need another case for a Decorator using MediatR and the CommandHandlers (Transactions based on context.Database.BeginTransaction() could be..)"
We need another case for a Decorator using MediatR and the CommandHandlers with .NET Core.
Just having a LogDecorator doesn't justify the use of Decorators in a generic way based with MediatR.

[UPDATE]: Probably a Validator decorator or resiliency decorator would be better than a Transaction decorator that could be an anti-pattern here, after further discussions.

---
A good candidate for this wo

[2017-01-13 21:51] CESARDELATORRE opened #12 "Minor Pending Refactoring issues in Web Apps (SPA & MVC)"
- PENDING ISSUES
  -  (Pending) SPA and MVC app: Show tooltip when hovering "Add" saying "You cannot add to basket util you login".

- DONE (Move here "done issues" from above, when done)
  -   (Done) SPA app: Add a different banner-photo to the SPA, so it feels a different application than the MVC app.
  -   (Done) MVC app: Disable "Add to basket" button until you have logged-in.

[2017-01-13 23:55] CESARDELATORRE opened #13 "Review Foreign-Key ID properties in Aggregate-Root "Order""
Why do we have an ID per each child entity (or potential Value-Object like ShippingAddress) in the Order Aggregate-Root?
Especially about the ShippingAddressId, since the ShippingAddress should be converted to a Value-Object with no IDENTITY, we shouldn't do anything with its ID that should be a "PK Shadow state"...

    public class Order
        : Entity, IAggregateRoot
    {
        **public in

[2017-01-17 21:29] CESARDELATORRE opened #14 "Is MapOrderItems(dynamic result) really needed in the Ordering Queries?"
Looks like this method is only used to calculate the Order.Total and for that needs to go through all the Order Items..
Please, review. It might be possible to calculate the Order.Total in the SQL sentence itself without needing to have this method going through all the order items in a loop..
        private dynamic MapOrderItems(dynamic result)
        {
            dynamic order = new ExpandoOb

[2017-01-18 00:04] CESARDELATORRE opened #15 "Are we using the NewOrderViewModel.cs and OrderItemViewModel.cs classes? - Confirm. If not used, delete it"
Are we using the NewOrderViewModel.cs and OrderItemViewModel.cs classes?- Confirm. If not used, delete it.

When I search about it I just found the implementation and two functional tests using it.
But looks like the application is not using it. Am I right?

Find all "NewOrderViewModel", Find Results 1, Entire Solution, ""
  D:\GITREPOS\eshoponcontainers-master\src\Services\Ordering\Ordering.API\M

[2017-01-18 01:12] CESARDELATORRE opened #16 "PaymentMethod, Buyer, etc. (foreign keys) are also navigation properties in Order but they are not child entities"
Related to: https://github.com/dotnet/eShopOnContainers/issues/18

The Enumerable object PaymentMethod is child of the  Aggregate-Roots "Buyer". Ok, that's right.

However, in the Order AGGREGATE-ROOT, because it is referenced through the EF graph (navigation property), it feels like it is also a child-VO (embedded). Can we fix that?
Do we really need it as an object within the Order entity?

If w

[2017-01-18 01:17] CESARDELATORRE opened #17 "Payment (PaymentMethod) is a child entity so it should NOT be used/created/added from CommandHandlers directly"
A Payment (renamed to PaymentMethod, as it should be) is a child entity of the AGGREGATE Buyer, therefore it should be added only through the methods in the AGGREGATE-ROOT Buyer.
Currently we are adding PaymentMethods directly from the NewOrderCommandHandler() with methods like:
        PaymentMethod GetExistingPaymentMethodOrAddANewOne(Buyer buyer, NewOrderCommand message)
        {
            P

[2017-01-18 01:50] CESARDELATORRE opened #18 "Remove foreign key navigation properties from Aggregate-Root (No direct references across aggregate boundaries)"
The Buyer is an Aggregate-Root. do we really need to show it as an object within the Order Aggregate-Root? - Can we just use the BuyerId here?

This issue is similar to the Payment (PaymentMethod) that also appears as an object within the Order.

    public class Order
        : Entity, IAggregateRoot
    {
        public int BuyerId { get; private set; }
        public Buyer Buyer { get; private

[2017-01-18 02:06] CESARDELATORRE opened #19 "NewOrderCommand is using a Child-Entity class - It shouldn't. Also change from new (adjective) to Create (verb) as part of the Command name"
1.
We must not re-use a child entity from within a CommandClass.
If needed, we should create another class, like OrderLineDTO or similar name used from within the CreateOrderCommand, but a Domain child-entity should not be part of a Command class because we are then able to create a child entity (OrderItem) from outside the Aggregate, in the CommandHandler's code, as it is implemented now.
<B>
The

[2017-01-18 19:40] CESARDELATORRE opened #20 "Pending to create "Service Tests" to test the microservices running as a multi-container app in Docker"
Still pending to create "Service Tests" to test the microservices running as a multi-container app in Docker.
We need to create these tests, it is important to show how to test Docker Containers.

[2017-01-18 21:33] CESARDELATORRE opened #21 "Lack of consistency in naming of some Projects in the solution"
All the Client applications start with eShopOnContainers (Xamarin, web apps, etc.), like:
- eShopOnContainers.Droid
- eShopOnContainers.WebMVC
- eShopOnContainers.WebSPA

The services (but one) are named right with their short name, like:
- Ordering.API
- Catalog.API
- Basket.API
This can be OK as client apps refer to the whole app (eShopOnContainers), but microservices are just part of the app co

[2017-01-19 00:12] CESARDELATORRE opened #22 "Buyer.FullName should be renamed to Buyer.IdentityGuid"
Buyer.FullName should be renamed to Buyer.IdentityGuid as it is in reality the GUID coming from the User in IdentityServer and ASP.NET Identity.
FullName would be a name plus lastname, which is not the case.

See:
https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Ordering/Ordering.Domain/AggregatesModel/BuyerAggregate/Buyer.cs

[2017-01-19 20:21] CESARDELATORRE opened #23 "Add more Domain logic/rules to the Order Aggregate-Root and its methods"
The Order Aggregate-Root should have more sample domain logic, invariants and business rules validations so it makes sense to use the DDD Aggregate-Root pattern.
See here the Order AggregateRoot here:
https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Ordering/Ordering.Domain/AggregatesModel/OrderAggregate/Order.cs

We actually just have the AddOrderItem(OrderItem item) method in

[2017-01-19 20:29] #23 closed, assigned to Jimmy-Nilsson, unaizorrilla, CESARDELATORRE

[2017-01-19 21:47] CESARDELATORRE opened #24 "The OrderItem child entity should not be implemented as a data-class and used from anywhere (Related to ISSUE #19)"
I think that the OrderItem child entity should not be implemented as a open data-entity class with public setters and used from anywhere. It is used from the CreateOrderCommand and the CreateOrderCommandHandler, for instance...
This issue is related to ISSUE #19:
https://github.com/dotnet/eShopOnContainers/issues/19

This is the current implementation:

    public class OrderItem : Entity
    {

[2017-01-20 00:36] CESARDELATORRE opened #25 "OrderStatus and other "enum types" are modeled as Entity in the Domain Model. Need to be modeled as Value-Object"
**OrderStatus** and other "types" are implemented as Entities in the Domain Model. They needs to be modeled as a Value-Object. Here's the current OrderStatus class:
https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Ordering/Ordering.Domain/AggregatesModel/OrderAggregate/OrderStatus.cs

A similar case happens with **CardType**, **PaymentMethod**.

This is a similar issue to the A

[2017-01-20 21:43] CESARDELATORRE opened #26 "Consider to use the Notification pattern and the Specification pattern for Validations at the Domain Model Layer"
This might be worth to do it in the ORDERING Domain Model Layer flowing to the Application Layer and Web API.
At the end of the day, an **specification** is an interface that defines one method: IsSatisfiedBy() which returns boolean to assert that the specification is satisfied. So, every single business rule could be represented by a class that implements the ISpecification interface. We can chai

[2017-01-20 22:29] CESARDELATORRE opened #27 "Need to implement Validations on every Domain Entity constructor and update method (Ordering Domain Model)"
The current implementation in the Ordering Domain Model has almost no Validations in place. This is a very important area in a Domain Model as Domain Entities and Aggregates are responsible for their "always valid" state.
Invariant enforcement is the responsibility of the domain entity itself (especially of the Aggregate-Root) and therefore an entity shouldn't even be able to exist without being v

[2017-01-21 01:30] CESARDELATORRE opened #28 "Consider to remove the IsTransient() from our Entity base class"
Consider to remove the IsTransient() from our Entity base class:
First of all, we are not using the IsTransient() anywhere in the code except in the Entity base class itself.
Do we really need it because any constraint from Entity Framework Core?

But secondly and more importantly, the "IsTransient()" means that there is a possibility that the Entity still doesn't have an Identity.. That would mea

[2017-02-01 18:01] #28 closed, assigned to unaizorrilla, CESARDELATORRE

[2017-02-02 17:09] #24 closed, assigned to Jimmy-Nilsson, unaizorrilla, CESARDELATORRE

[2017-02-02 17:13] #19 closed, assigned to Jimmy-Nilsson, unaizorrilla, CESARDELATORRE

[2017-02-02 17:18] #15 closed, assigned to unaizorrilla, ccanizares

[2017-02-02 17:30] #6 closed, assigned to divega

[2017-02-02 17:47] #12 closed, assigned to ccanizares

[2017-02-02 20:51] CESARDELATORRE opened #29 "Use List<> and ToList().AsReadOnly() instead of HashSet<> and just .ToList() - In Simple Entity's collections"
Still to be discusses and confirmed, but:
Instead of copying the list via ToList() we could use List<>.AsReadOnly() instead.
This will create a read only wrapper around the private List<>. It's much cheaper because it will not have to copy all items in a new collection. (Just one heap alloc for the wrapper instance). As an addition, the read only collection will reflect all changes made to the und

[2017-02-02 21:22] CESARDELATORRE opened #30 "Implement Domain Events"
We should create and save Domain events at the Entity level (AggregateRoot or child entity).
In each method that needs to generate an event, right after updating the model we should store/save the events, like:
 public class Order : Entity
{
    //Plain Order fields (No properties if not needed. This is new since EF 1.1)
    //Like:
    private DateTime _orderDate;
    //...

    // Using a privat

[2017-02-02 21:28] CESARDELATORRE opened #31 "The "Detail" link in the Order submitted page only appears when hovering over it"
The "Detail" link in the Order submitted page only appears when hovering over it.
Reproduce:
Create an Order and try to see the "Detail" link at the end of the line..

I think this was working properly in the past... Might be a regression in JS or the HTML page...

[2017-02-03 23:58] CESARDELATORRE opened #32 "Implement Integration events between multiple microservices"
Implement Event-Driven communication between microservices/containers based on Event-Bus interfaces and any simple inter-process communication implementation (That implementation could be swapped by any more advanced Service Bus, like Azure Service Bus using Topics) Integration Events.

Integration events could be raised after handling Domain Events as part of the Domain Events "side effects".

IM

[2017-02-04 18:17] pmilet opened #33 "Some entities in the ordering domain model should inherit from a ValueObject type instead of an Entity type"
CardType, PaymentMethod, Address and OrderStatus should be Value Objects

[2017-02-07 02:47] #33 closed, assigned to nobody

[2017-02-07 03:14] #17 closed, assigned to unaizorrilla

[2017-02-07 03:41] CESARDELATORRE opened #34 "Review/Refactor CreateOrderCommandHandler"
Looks like this code has BUGs and is not consistent to a regular Ordering Business Domain:

1. It is always Adding a new Buyer?, no matter if it was found or not in the database the following line is called:
 _buyerRepository.Add(buyer);
Looks like that internally it might not be adding it because it adds it only if the entity is transient:
if (buyer.IsTransient())
            {
                re

[2017-02-07 04:01] #13 closed, assigned to unaizorrilla, CESARDELATORRE

[2017-02-07 04:08] #10 closed, assigned to unaizorrilla, CESARDELATORRE

[2017-02-08 06:32] CESARDELATORRE opened #35 "Implement Order Status changes with a Command like UpdateOrderStatusCommand"
This could be related to a SAGA implementation, too...
But it would be good to have another example of a simpler Command for just changing the OrderStatus
(To be discussed/confirmed for future sprints)

public class UpdateOrderStatusCommand
    :IAsyncRequest<bool>
{
    public string Status { get; set; }
    public string OrderId { get; set; }
    public string BuyerIdentityGuid { get; set; }
}

[2017-02-08 06:48] CESARDELATORRE opened #36 "Make immutable Commands and remove behavior from the Command classes - i.e. CreateOrderCommand"
1. **Commands are immutable** because their expected usage is to be sent directly to the domain model side for processing. They do not need to change during their projected lifetime in traveling from client to server. The same happens with Events.
In a **C# class, immutability is not having any setters**, or other methods which change internal state.
--> Need to change the implementation of the Cr

[2017-02-08 07:05] #22 closed, assigned to unaizorrilla, CESARDELATORRE

[2017-02-08 07:44] CESARDELATORRE opened #37 "A Command Handler should directly affect one single aggregate... Use Domain Events here?"
Explained below, however, I'm not sure I agree on this rule...
An Aggregate is a consistency boundary, but that consistency can be achieved as part of a larger transaction involving multiple aggregates within the whole Command-Handler's task...
In any case, this is something to consider and discuss here plus the advanced solution can be part of a new feature for next sprints.
In any case, this iss

[2017-02-08 19:17] CESARDELATORRE opened #38 "Scenario for Domain Events: Compare Basket Items price vs. Catalog-Product price when converting from Basket to Order"
Compare Basket Items price vs. Catalog-Product price when converting from Basket to Order.
If the price changed in the Product from the Catalog, the Order has to have that new price reflected in the "Pre-Order page", but it has to also show a message saying "Warining, the original price was XXXX, but it has changed to XXXX since you added the product to your basket".
Implement this with Domain EVE

[2017-02-09 22:31] CESARDELATORRE opened #39 "Validate Commands with the Decorator pattern in MediatR"
This approach could be used as an additional decorator plus improving our input Validations:

Validating Commands with the Decorator Pattern
http://codeopinion.com/validating-commands/

Use:
FluentValidation
https://github.com/JeremySkinner/FluentValidation

See also:
https://lostechies.com/jimmybogard/2014/09/09/tackling-cross-cutting-concerns-with-a-mediator-pipeline/

[2017-02-10 01:08] CESARDELATORRE opened #40 "Refactor CreateOrder() MVC Controller"
Need to refactor. Our current implementation is:

        [Route("new")]
        [HttpPost]
        public async Task<IActionResult> CreateOrder([FromBody]CreateOrderCommand createOrderCommand)
        {
            if (createOrderCommand.CardTypeId == 0)
            {
                createOrderCommand.CardTypeId = 1;
            }
            createOrderCommand.BuyerIdentityGuid = _identityServi

[2017-02-14 17:50] #31 closed, assigned to ccanizares, eiximenis

[2017-02-14 19:47] CESARDELATORRE opened #42 "Implement Global Exception Handling using the ASP.NET Core Middleware"
Implement Global Exception Handling using the Custom ASP.NET Core Middleware that will be used from all the eShopOncontainers microservices.
See info like :
“Global Exception Handling in ASP.NET Core Web API”:
http://www.talkingdotnet.com/global-exception-handling-in-aspnet-core-webapi/

http://stackoverflow.com/questions/38630076/asp-net-core-web-api-exception-handling

https://docs.microsoft.com

[2017-02-15 19:23] CESARDELATORRE opened #43 "Firewall - PowerShell Script is failing"
The current version of the PowerShell Script to set the rules in the local firewall needed for the STS container (Authentication) is failing with the errors below.

This is our PowerShell Script failing: **add-firewall-docker.ps1** (At the Solution's root)

New-NetFirewallRule : The address is invalid.  Addresses may be specified as IP addresses, ranges, or subnets.  Also,
the following address ke

[2017-02-15 23:55] CESARDELATORRE opened #44 "Trigger Bower installation from .CSPROJ like we used to do from PROJECT.JSON"
Related to https://github.com/dotnet/eShopOnContainers/issues/47 as the SPA is not properly being generated/published.
Before the .CSPROJ version for VS 2017, we used to trigger Bower installation from the project.json in the MVC project at the section 'prepublish":').
Please, this need to be migrated to .csproj now, for VS 2017 or dotnet CLI (dotnet build) and PowerShell Script images generation.

[2017-02-16 00:58] CESARDELATORRE opened #45 "Need to implement Wait-Retry when consuming services and starting the first time the solution from VS 2017"
Need to implement Wait-Retry when consuming services and starting the first time the solution from VS 2017

For instance, when starting the whole solution, the first time it usually fails because some container might not be ready. After refreshing the browser the app usually works.
This is because the app and services have dependencies and when deploying some of them might still not be ready.
Thes

[2017-02-16 01:03] CESARDELATORRE opened #46 "Second time you create an order the app crashes"
Using VS 2017 deployment.
- First time you create an order, works ok.
- Second time you create an order, then the app crashes with the following exceptions

An unhandled exception occurred while processing the request.
CurlException: Transferred a partial file
System.Net.Http.CurlHandler.ThrowIfCURLEError(CURLcode error)
IOException: The read operation failed, see inner exception.
System.Runtime.E

[2017-02-16 01:41] CESARDELATORRE opened #47 "PowerShell build-images.ps1 does not work anymore now with the .CSPROJ project files"
Related to this other bug/issue:
https://github.com/dotnet/eShopOnContainers/issues/48

The PowerShell build-images.ps1 does not work anymore now with the .CSPROJ project files
OPTION 1:
The docker-compose.yml files tha tVS 2017 uses are already building the Docker Images as we now have the section like:
    build:
      context: ./src/Services/Basket/Basket.API
      dockerfile: Dockerfile
So we

[2017-02-16 02:12] CESARDELATORRE opened #48 "A plain "docker-compose up" does not work anymore with the migrated solution to VS 2017"
[UPDATE: Almost fixed if running the new build-bits.ps1 first, although the SPA app still doesn't work]
A plain "docker-compose up" does not work anymore with the migrated solution to VS 2017

Related to this other bug/issue:
https://github.com/dotnet/eShopOnContainers/issues/47

We need to be able to run the project with a plain "docker-compose up" for folks using just editors and the CLI.

[2017-02-16 05:42] #43 closed, assigned to unaizorrilla, eiximenis

[2017-02-16 19:20] CESARDELATORRE opened #51 "Minor issue/bug: Remove "eShopOnContainers" from WebSPA project's name, namespace and Docker image name"
For consistency in naming.
All the projects, except the WebSPA are like:
webmvc, ordering.api, catalog.api, basket.api.
Except the WebSPA which is "eshoponcontainers.webspa"
Please, when possible, remove the "eShopOnContainers" and keep it consistent with the rest of the projects.
Also, Docker Images are like:
eshop/webmvc
eshop/**eshoponcontainers**.webspa
eshop/ordering.api
eshop/catalog.api
esh

[2017-02-16 20:01] CESARDELATORRE opened #52 "PowerShell build-bits.ps1: Issue/error when building SPA JS dependencies before dotnet bits"
In the new PowerShell **build-bits.ps1** compatible with .CSPROJ and VS 2017 there's an error in when building SPA JS dependencies before dotnet bits.
Please, fix it. Might be related to issue with VS 2017 when running the SPA app?

Errors in PowerShell like the following:

  ERROR in ./Client/globals.scss
Module build failed : error : Missing binding D:\GITREPOS\eShopOnContainers-vs2017\src\Web\W

[2017-02-16 22:11] #14 closed, assigned to unaizorrilla, ccanizares

[2017-02-16 22:15] #9 closed, assigned to glennc, unaizorrilla, CESARDELATORRE, eiximenis

[2017-02-16 22:18] #2 closed, assigned to eiximenis

[2017-02-16 22:20] CESARDELATORRE opened #53 "Test Xamarin app in VS 2017 and consuming the local Docker microservices"
This is a testing reminder for the team. Something might be missing after this migration to VS 2017, hopefully not.. In any case, please, test it and confirm if it is working properly with VS 2017

[2017-02-17 00:38] CESARDELATORRE opened #54 "Error in VS 2017 when testing our Catalog's pict folder"
This is it:
https://github.com/dotnet/roslyn-project-system/issues/1579

Closing it here because seems an issue from VS 2017

[2017-02-17 00:39] #54 closed, assigned to CESARDELATORRE

[2017-02-18 12:16] #29 closed, assigned to unaizorrilla, CESARDELATORRE, ccanizares

[2017-02-20 02:27] CESARDELATORRE opened #55 "Full eShopOnContainers.sln solution is not updated with the new Docker for VS 2017 config"
The full eShopOnContainers.sln solution is not updated with the new Docker for VS 2017 config:
see:
![eshoponcontainers-full-solution-missing-docker-vs-2017](https://cloud.githubusercontent.com/assets/1712635/23109779/caf9767e-f6d0-11e6-94f9-553edb01dd1e.PNG)

Please, update that golbal solution so it shows the new docker in VS 2017 configuration.

Also, (related to issue https://github.com/dotnet

[2017-02-20 19:08] CESARDELATORRE opened #56 "SPA app does not work in clean machine with just VS 2017 and Docker installed"
With a plain VS 2017 and Docker installed out current SPA project is not building the JS side..
When trying to run the SPA app (http://localhost:5104/) you get the following errors:
![spa-errors-in-browser](https://cloud.githubusercontent.com/assets/1712635/23138517/c532838e-f75c-11e6-97cf-6c39b23d6553.png)

An unhandled exception occurred while processing the request.
DirectoryNotFoundException:

[2017-02-20 20:40] CESARDELATORRE opened #57 "When re-building the solution sometimes the FunctionalTests.csproj fails trying to find the Catalog.API.dll"
When re-building the solution sometimes the FunctionalTests.csproj fails trying to find the Catalog.API.dll and/or Ordering.API.dll

10>CSC : error CS0006: Metadata file 'D:\GITREPOS\eShopOnContainers-vs2017\src\Services\Catalog\Catalog.API\bin\Debug\netcoreapp1.1\Catalog.API.dll' could not be found
10>Done building project "FunctionalTests.csproj" -- FAILED.
11>UnitTest -> D:\GITREPOS\eShopOnCont

[2017-02-21 00:08] #52 closed, assigned to unaizorrilla, eiximenis

[2017-02-22 23:40] #56 closed, assigned to unaizorrilla, CESARDELATORRE, eiximenis

[2017-02-23 00:12] #48 closed, assigned to unaizorrilla, eiximenis

[2017-02-23 00:23] CESARDELATORRE opened #58 "Regression Bug? : npm run build:prod throwing many errors in current version"
After pulling the latest version (as of Feb-22-2017) when trying to run "**npm run build:prod**" it is throwing many errors like below.

Running "npm rebuild node-sass" is not fixing the issue.

See below:

ERROR in [default] D:\GITREPOS\eShopOnContainers-vs2017\src\Web\WebSPA\node_modules\typescript\lib\lib.es5.d.ts:3117:10
Cannot redeclare block-scoped variable 'Uint32Array'.

ERROR in [default]

[2017-02-23 01:37] CESARDELATORRE opened #59 "Regression Bug?: SPA C# project is not compiling"
Regression Bug?: SPA project (C#) won't compile..
Looks related to the change in the path/namespace, hithlighted below:

See errors:
1>------ Rebuild All started: Project: WebSPA, Configuration: Debug Any CPU ------
1>**eShopOnContainers.**WebSPA\obj\Release\netcoreapp1.1\eShopOnContainers.WebSPA.AssemblyInfo.cs(6,12,6,54): error CS0579: Duplicate 'System.Reflection.AssemblyCompanyAttribute' attri

[2017-02-23 02:10] #59 closed, assigned to eiximenis

[2017-02-23 02:10] #58 closed, assigned to CESARDELATORRE, eiximenis

[2017-02-23 02:20] CESARDELATORRE opened #60 "In MVC app, the Identity.API STS cannot be reached after the latest changes in docker-compose.yml"
Here's the issue happening in the MVC app when trying to login.
It is configured as  - IdentityUrl=http://identity.api:5105 , that's why it cannot reach it from the browser.
![error_identity_api](https://cloud.githubusercontent.com/assets/1712635/23242015/8c109872-f92b-11e6-8a30-1f7751c9d8cd.png)

If changing to IdentityUrl=http://localhost:5105 it doesn't work neither, as it throws this error:
![

[2017-02-23 02:43] #60 closed, assigned to CESARDELATORRE, eiximenis

[2017-02-26 17:57] ardalis opened #61 "Async Suffix Naming Convention"
See: https://msdn.microsoft.com/en-us/library/hh873175.aspx

Some interfaces and implementations should probably be renamed to include the `Async` suffix. For example:
https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Basket/Basket.API/Model/IBasketRepository.cs#L10-L12

[2017-02-26 18:08] ardalis opened #62 "DRY up RedisBasketRepository"
https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Basket/Basket.API/Model/RedisBasketRepository.cs#L30

Every method starts with a call to GetDatabase(). This can be safely moved into the constructor (setting a _database class field) since this repository is being used as a Transient lifetime service. Each method would then simply reference _database instead of a local database

[2017-02-26 18:39] ardalis opened #63 "Question: ReadOnlyDbContext"
Couldn't this code:
https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Catalog/Catalog.API/Controllers/CatalogController.cs#L24

Be moved to the CatalogContext constructor, since in this project/bounded context we are never performing any writes (that I can see)?

**Update**
This would perhaps break the CatalogContextSeed functionality. However, perhaps since that's a one-time ex

[2017-02-26 18:56] ardalis opened #64 "Suggestion: Implement Guard Helper Class"
This could live in a SharedKernel (which is a separate suggestion):

[code]
Usage: https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Ordering/Ordering.API/Controllers/OrdersController.cs#L23-L36

[code]
Becomes:
[code]

[2017-02-26 19:14] ardalis opened #65 "Order as IAggregateRoot"
https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Ordering/Ordering.Domain/AggregatesModel/OrderAggregate/Order.cs

The Order in the OrderAggregate isn't currently marked with `IAggregateRoot`.

[2017-02-26 19:17] ardalis opened #66 "Enforce Repository per AggregateRoot"
Currently nothing in the code uses `IAggregateRoot`. One way to have the code better enforce the DDD convention that only Aggregate Roots should have Repositories would be to implement a generic repository type. Since our repositories aren't implementing any standard set of CRUD methods (currently it just exposes UnitOfWork) the change could simply be like this, in IAggregateRepository:

[code]

I

[2017-02-26 19:23] ardalis opened #67 "Suggestion: ViewModels folder"
Many, but not all, of the classes in the WebMVC/Models folder are actually ViewModels. Consider creating a root-level ViewModels folder and moving all of the ViewModel types to it.
https://github.com/dotnet/eShopOnContainers/tree/master/src/Web/WebMVC/Models

Also be consistent about using a ViewModel suffix with these types. If they're in a ViewModels folder/namespace I would not then also use a

[2017-02-27 04:40] #65 closed, assigned to unaizorrilla, CESARDELATORRE

[2017-02-27 18:22] #64 closed, assigned to ardalis, unaizorrilla, CESARDELATORRE, eiximenis

[2017-02-28 19:35] #36 closed, assigned to unaizorrilla, CESARDELATORRE, eiximenis

[2017-03-01 01:28] #63 closed, assigned to unaizorrilla

[2017-03-01 01:30] #47 closed, assigned to unaizorrilla, eiximenis

[2017-03-01 01:33] #51 closed, assigned to unaizorrilla, eiximenis

[2017-03-01 01:34] #46 closed, assigned to unaizorrilla, eiximenis

[2017-03-01 01:36] #44 closed, assigned to unaizorrilla, CESARDELATORRE, eiximenis

[2017-03-01 16:56] eiximenis opened #69 "Has monolithic MVC web use the same database as catalog microservice?"
Currently Monolithic web has its own CatalogContext (src/Web/WebMonolithic/eShopWeb/Infrastructure/CatalogContext.cs). This DbContext is the same as used in Catalog API.

Question is: do we want the monolithic web use the same database as the catalog microservice? If so, we should share the DbContext (and related files) between them two (using a class library). If not, we can leave as is now.

@CE

[2017-03-01 18:16] #69 closed, assigned to nobody

[2017-03-01 18:33] CESARDELATORRE opened #70 "Dealing with Linux and Windows containers - Procedure for switching from one to the other and work with GitHub commits"
[UPDATE]
The current approach (simplified and completely different) is as follows:
No more ps1 script to switch between linux & windows containers (if you installed the git client hook can remove it). We have now 2 docker-compose (docker-compose.yml for linux & docker-compose-windows.yml for windows containers). Every project has two dockerfiles (Dockerfile used from docker-compose.yml & Dockerfil

[2017-03-01 22:30] CESARDELATORRE opened #71 "Make the Order Creation Idempotent at the CreateOrderCommandHandler"
If, due to any communications hiccup or any other reason the same CreateOrderCommand reaches the service, the actual code at the CreateOrderCommandHandler will probably create "the same" order, twice.
Need to review that code at CreateOrderCommandHandler in any case and refactor it.

This is a related issue about refactoring the code at CreateOrderCommandHandler:
https://github.com/dotnet/eShopOnC

[2017-03-02 16:53] #40 closed, assigned to unaizorrilla, eiximenis

[2017-03-02 18:51] CESARDELATORRE opened #72 "SPA and latest NPM version issue? (Confirm)"
[This issue does not have the highest priority as with the LTS version of NODE there's no issue]
I might be wrong in these tests, but just in case..
Usually we're working with the 6.9.3 LTS version of NODE (currently 3.10.10 of NPM) to build the SPA app with: npm run build:prod

However, by mistake I installed the latest version of NPM (by installing the v7.4.0 of Node) and seems that with that ve

[2017-03-02 23:09] CESARDELATORRE opened #74 "Simplification of the CLI Scripts or not using them in favor of simply docker-compose.ci.build.yml"
**[UPDATE]: Final goal is to build the .NET bits and the Docker Images within a Docker Container instead of using our custom Scripts in the local PC.**
Meaning to use the CLI to build and run like:
docker-compose -f docker-compose.ci.build.yml up
Where within the docker-compose.ci.build.yml provided in the solution should be building the .NET bits with:
command: /bin/bash -c "dotnet restore ./eSho

[2017-03-03 20:50] BillWagner opened #75 "Pokemon exceptions"
Before final release, we should remove many of the catch {} code in the reference application.

That "catch all exceptions" without a real strategy to fix them is an antipattern. it's also one that generates very strong feelings:  https://github.com/dotnet/csharplang/issues/220

[2017-03-04 01:26] CESARDELATORRE opened #76 "No retry logic at Catch Exceptions but when starting the services"
At the CatalogContextSeed.cs at the Catalog.API microservice.
Related to https://github.com/dotnet/eShopOnContainers/issues/75
This retry in the Catch should be removed:
[code]
Better have a retry loop at the **Startup.cs** before starting anything at the service so it waits until the db_container is ready. It doesn't need to be here in a catch().
----> Also, we will change to the HealthCheck lib

[2017-03-04 02:33] CESARDELATORRE opened #77 "Use port 80 for the internal ports used by each microservice"
It looks much better if we use port 80 for each of the services/containers for the internal communication (except SQL). This was also feedback from the Docker Tooling team and I agree on that.
We actually were using por 80 in the initial versions..
Need to change at
https://github.com/dotnet/eShopOnContainers/blob/master/docker-compose.override.yml
and test it.

For the external ports (to be used

[2017-03-06 18:15] #75 closed, assigned to eiximenis, ramon-tomas-c

[2017-03-06 23:35] CESARDELATORRE opened #79 "Cannot build SPA app from Linux build-container if SPA client content was prepared from the Windows environment"
When trying to build the solution from the build-container, when building the SPA, if the SPA app was previously prepared with "nmp install" or "npm build" from the Windows environment, you get errors saying you'd need to run "npm rebuild node-sass" first so it is compliant with Linux environment.

[2017-03-07 01:02] CESARDELATORRE opened #80 "Sign out crashes"
This feature was working ok previously, not sure when we had this regression bug.
Anyways, when trying to Sign out the app is crashing. see:
![eshoponcontainers_logout_error](https://cloud.githubusercontent.com/assets/1712635/23637123/9311ed1c-028e-11e7-84b5-15af0fecad0b.PNG)

Need to fix this.

[2017-03-07 02:02] CESARDELATORRE opened #81 "Login page has no styles and images when deploying from the CLI"
The Login page has no styles and images when deploying from the CLI.
Somehow, styles and or/images are not being included when building/deploying from the CLI.
However, when deploying from VS 2017, the page looks ok.
See the login page when deployed from the CLI:

![eshoponcontainers_login_page_no_styles](https://cloud.githubusercontent.com/assets/1712635/23638534/1017ff60-0297-11e7-9114-f0ee67c08

[2017-03-07 11:43] shaggygi opened #83 "[Feedback]: SignalR Core Usage"
This new repo showing how to get started with ASP.NET, Docker, microservices, etc. is great!  I applaud you providing this as I've been wanting help explaining topics.   Keep up the good work :smile:

Understanding this is in alpha, it would be nice to also see how related technologies could take advantage of the new SignalR Core coming out later in the year.  Please add (if possible and only if i

[2017-03-07 16:06] dsrodenas commented on #80
Issue fixed on Comit 1b6ff6cb20470fc111a62c3cd8d0850e5d9cde41
Master branch since it is a crash and the solution is only to modify one wrong uri in the config.

[2017-03-07 17:03] atrauzzi opened #86 "[Feedback] Projects in multiple repositories"
I'm interested in hearing more about or engaging in a discussion about conventions and advice around projects that are spread across multiple git repositories.

Currently the solution model guides people to keep all their code *in a single repository*.  I'm wondering however if there's anything in VS2017 and the project system that would allow me to aggregate multiple source repositories with proj

[2017-03-07 17:40] CESARDELATORRE commented on #86
Good point about multiple source/Git repos.
From .NET Core code and Docker point of view, in a large project I would certainly recommend that approach as each microservice might surely be autonomous, owned and evolved by a different development team, so independent Git repos fits better in large projects.
From a tooling point of view in VS 2017, the Docker Tools team is researching that approach a

[2017-03-07 17:43] atrauzzi commented on #86
Yes, very interested as I have some scenarios and approaches I'd like to share.

[2017-03-07 17:45] CESARDELATORRE commented on #83
Sure! SignalR on .NET Core will be available in .NET Core 2, so we're not yet, there. But I'm planning to add an additional SignalR Hub microservice/container for some cool feature in the app.
Thanks a lot for your feedback! :)

[2017-03-07 17:49] eiximenis commented on #81
Fixed in commit 39d4280b314f4c67e8be2079439cb899c0d8fa5e

[2017-03-07 17:56] CESARDELATORRE commented on #86
Please, send me your email address to cesardl at microsoft.com or eshop_feedback@service.microsoft.com and I will start an offline thread with Steve Lasker (VS Docker tooling team) about what you'd like to share, ok? :)

[2017-03-07 18:07] shaggygi commented on #83
@CESARDELATORRE sounds great!  looking forward to it.

[2017-03-07 18:08] eiximenis commented on #79
Just a comment on this...
Mixing environments could lead to some unwanted situations, like this :)

Another one (this is the opposite) is that:

1. You clone the repo.
2. Do the build using docker-compose.ci.build.yml (or docker-compose.local.build.yml) and you'll end with node_modules folder (in the SPA app) filled with the modules of Linux, which are the same modules that windows but without the

[2017-03-07 18:09] jbogard commented on #86
@CESARDELATORRE that's absolutely what we see in larger teams, each team owns its own pipeline and we strongly discourage git submodules or monolith repositories. It enforces autonomy, and probably more important, discourages the "works on my machine because everything is localhost" problems that people can run into.

[2017-03-07 18:33] CESARDELATORRE commented on #86
Yes, I completely agree. We're starting a thread with Steve Lasker (VS Docker Tooling) and Alexander.
Jimmy, would you also like to be engaged and discuss about this subject?

[2017-03-07 18:34] grahamehorner opened #87 "[Feedback] ServiceFabric example"
This is a great example of a .net microservices architecture; it would be great if the same sample was available as a ServiceFabric deployment/solution to compare.

[2017-03-07 18:44] CESARDELATORRE commented on #87
Yep! That's the idea. Not only Service Fabric but also Docker Swarm, Kubernetes and DC/OS.
See that already in the Roadmap, here:
https://github.com/dotnet/eShopOnContainers/wiki/01.-Roadmap-and-Milestones-for-future-releases

This version is only the "foundational code version" focusing mostly on .NET Core and Docker.
Once we have a stable version with internal code as we want, we'll create multi

[2017-03-07 18:50] grahamehorner commented on #87
cool; I'd be very interested in the security implementation of authentication/authorisation between users/services, device/services & service/service.  I look forward to following with interest, great work thus far.

[2017-03-07 19:01] CESARDELATORRE commented on #87
About security we're currently using ASP.NET Identity wrapped around with IdentityServer4 as an STS (Security Token Service) running as a container, so the token works for the Web apps and also for the Xamarin app. :)
This might evolve in the future with more stuff coming from the ASP.NET Core team. The Azure flavor/fork will focus a lot more on Security, secrets storage, etc., Azure AD for intern

[2017-03-07 19:19] iancooper opened #88 "[Feedback] Brighter can act as event bus and task queue and supports RMQ integration and resiliency"
We have a pre-release .net core version here: https://www.nuget.org/packages/Paramore.Brighter.CommandProcessor/7.0.86-alpha It's only alpha to allow us to shorten namespaces. RMQ handles production workloads, ASB and SQS+SNS support need more work and are still alpha.

Key featues:

- Command Model (the Darker project provides a query model)
- A decorator pipeline allows supporting orthogona even

[2017-03-07 19:37] CESARDELATORRE commented on #88
We'd love if you guys would like to fork this sample when we have further implementation about Integration Events and Event Bus (this is just initially explained, and not final as need to evolve/improve, too, in the Guide/eBook). We're actually starting that implementation effort, but we'll just create a simple Event Bus based on RabbitMQ just for Proof of Concept and development environment purpo

[2017-03-07 19:45] iancooper commented on #88
Happy to work via a fork.

Just worth noting though:

(1)we already support decorators in an out-of-process i.e. Mediatr's scenarios, but we already have Polly integration built tinto that. In other words we cover what Mediatr does and more

(2) Robust RMQ integration is hard. You'll hit issues with timing between containers for example, that will give you exceptions you will need to manage in a r

[2017-03-07 19:54] iancooper commented on #88
PS You can see how we support both interaction styles here: https://github.com/Arc-Lightning/FutureStack

[2017-03-07 20:19] CESARDELATORRE commented on #79
OK, it is already documented like that, so closing this issue.

[2017-03-07 20:19] #79 closed

[2017-03-07 20:21] iancooper commented on #11
I would avoid Transactions via decorators.

We tried this in our early days of running on Brighter, but it leads to the anti-pattern that the whole of the handler is contained within the transaction. Now, if a developer decides to do something long-running here, such as calling an HTTP endpoint, or posting a message onto RMQ, you are going to hold the transaction open for the whole time period. Th

[2017-03-07 20:32] davasquez-newshore opened #90 "[Feedback] Time events"
This is a question followed by suggestion: How are you planning to manage time events?.  Example: To launch an event n minutes before a given date. Other example could be to receive an event after two hours in a Saga in order to implement timeout.
My team's approach: We are using a Hangfire server (similar to Quartz) to which we send messages like "SetUpAlarm{ "cron":"* * * *"}". Then server is ab

[2017-03-07 20:44] CESARDELATORRE commented on #11
Agreed. This issue is actually kind of old and we were thinking about something different instead of a transaction decorator.
The next decorator we were thinking about was precisely a Validator decorator, maybe using FluentValidation https://github.com/JeremySkinner/FluentValidation or similar.

Resiliency might also be a good case for a decorator, although using Polly for resiliency would also be

[2017-03-07 21:09] CESARDELATORRE commented on #88
Our point of view: We'd like to create a simple Event Bus implementation, clearly NOT ready for production, and as a learning purpose or proof of concept, only. Something easy to have it running in the solution and decoupled from further infrastructure.

Then, folks could switch to any "production ready" Service Bus in the market, like Brighter, NServiceBus, MassTransit or even Azure Service Bus,

[2017-03-07 21:26] iancooper commented on #88
I appreciate that trying to avoid pulling in a given framework creates an issue of 'backing a horse' which has its own set of problems.

We all want what helps push the community forward. For now we'll fork to show how we handle this. We are intentionally lightweight libraries and not a large framework btw, but I think the key point is the above one.

If you need help getting your cheap bus runnin

[2017-03-07 21:38] CESARDELATORRE commented on #90
We're thinking about implementing a Saga (for learning purposes) probably around the Order states business workflow, as mentioned in our [roadmap](https://github.com/dotnet/eShopOnContainers/wiki/01.-Roadmap-and-Milestones-for-future-releases).

About managing time events we haven't decided anything yet, but we'll need that feature so we can simulate changes in the Order's states that could have b

[2017-03-07 21:45] CESARDELATORRE commented on #88
For sure, we'll request your feedback and help. I really appreciate you taking the time to review and suggest approaches. Thanks a lot. I'm sure we'll learn a lot from your experiences and feedback, too. :)

[2017-03-07 22:22] paulopez78 opened #91 "[Feedback] Event Sourcing and CQRS with eventstore"
Hi,
Great job with that project. I'd would like to add my feedback about the future of **domain events and integration between microservices**. I would like to suggest to apply event sourcing in the orders microservice to have an event log that can be consumed by others (CQRS) creating different views of the system. [eventstore](https://geteventstore.com/) is perfect for that scenario because you

[2017-03-08 02:18] CESARDELATORRE commented on #91
Thank you for your feedback!
Yes, we're aware of that approach and agree on your statements.
The event-sourcing approach is something I did include in the Guide/eBook when talking about integration events, so from that point of view, it is covered in the guidance (but not in the sample app).

It is probably one of the bests approaches when you are already using Domain Events and Event-Sourcing for

[2017-03-08 05:53] mstechies opened #93 "no branch with name vs2017"
In the setup instructions it is mentioned to clone from branch vs2017, however no such branch exists.

[2017-03-08 08:47] grahamehorner opened #94 "VisualStudio 2017 - failure to build"
I've followed the instruction at https://github.com/dotnet/eShopOnContainers/wiki/02.-Setting-eShopOnContainer-solution-up-in-a-Visual-Studio-2017-environment.  The project fails to build, with 205 errors, I believe the below may be the root cause.

Severity	Code	Description	Project	File	Line	Suppression State
Error		Assets file 'C:\DEV\eShopOnContainers\src\Services\Ordering\Ordering.Infrastructu

[2017-03-08 08:52] thepill opened #95 "Typo in document "architecting-and-developing-containerized-and-microservice-based..." | Section: The new world: multi Architectural Patterns and polyglot microservices"
There is a typo on page 71:

`- Simple CRUD, single Tier, sinle Layer`

should be

`- Simple CRUD, single Tier, single Layer`

PS: Great work!

[2017-03-08 08:55] grahamehorner opened #96 "wiki error"
Please check the wiki documentation, as it seem to be incorrect/out of date; example

https://github.com/dotnet/eShopOnContainers/wiki/03.-Setting-the-eShopOnContainers-solution-up-in-a-Windows-CLI-environment-(dotnet-CLI,-Docker-CLI-and-VS-Code)

**Docker-compose -f docker-compose.build.ci.yml up**

should be

**Docker-compose -f docker-compose.ci.build.yml up**

[2017-03-08 09:05] davidfowl commented on #95
@thepill pull request?

[2017-03-08 09:06] thepill commented on #95
@davidfowl where can i get the non-pdf-Version to edit it :)?

[2017-03-08 09:07] davidfowl commented on #95
lol oops

[2017-03-08 09:11] thepill commented on #95
Found another one. Is there a better place to mention this?

[2017-03-08 09:47] davasquez-newshore commented on #91
Just to add another "flavor", we are using a combination of State-based Aggregates stored in Mongo and EDA as overall architecture, so in cases we use the produced events to also generate CQRS Read Models. We would prefer event sourcing for scenarios when history is important (such an Orders Bounded Context) and for simple, more crud-like scenarios, storing a whole aggregate per collection give us

[2017-03-08 10:16] davasquez-newshore commented on #37
[Feedback] As I understood, the whole idea behind Aggregates as consistency boundaries is to make them able to change independently from each other.

Using sagas and compensating actions allow the process to scale, cause surely a transaction across two aggregates would be achieved, but with any further logic added on the process it will start to be harder to evolve.

In my experience, it is worth

[2017-03-08 10:18] iancooper commented on #5
An Aggregate Root is just a transactional boundary. The other name for an Aggregate Root is a Coarse Grained Lock (see Fowler PoEAA). The purpose of an Aggregate Root is mostly to avoid lock escalation and deadlocks - instead of locking the whole graph, you just lock the root, and you can't deadlock because you have to go through the root as a gatekeeper.

So to identify an Aggregate Root you need

[2017-03-08 10:24] iancooper commented on #18
I'd support this, we dropped direct references across aggregate boundaries because they were too tempting to navigate, thus expanding the transactional boundary to include elements from a second aggregate. As this is another aggregate, you must not pull it into the same transation and an easy way to help remind folks of that is to force them to load directly.

BTW, we tend to have a 'read-only' in

[2017-03-08 10:44] jrgcubano commented on #83
@CESARDELATORRE The same here!

[2017-03-08 12:07] baikinjo opened #97 "First time running on VS2017: NullReferenceException: Object reference not set to an instance of an object."
After installation guide from wiki, first time running the sln, - web only - gives 2 breaking points:
1. An exception of type 'System.AggregateException' occurred in System.Private.CoreLib.ni.dll but was not handled in user code occurred
2. An unhandled exception of type 'System.Reflection.TargetInvocationException' occurred in System.Private.CoreLib.ni.dll occurred
If I continue, shows this error

[2017-03-08 12:56] aherrick opened #98 "Xamarin Mobile Solution Won't Build VS2017 - Android.Support.Vector.Drawable"
I've tried restoring Packages folder receiving the same errors.

This is a fresh install of VS2017 and pull of latest code. Also why the errors in Spanish?

Seems to be having an issue with:

`\packages\Xamarin.Android.Support.Vector.Drawable.23.3.0\build\Xamarin.Android.Support.Vector.Drawable.targets
`

But I verified that file exists.

![3-8-2017 7-49-09 am](https://cloud.githubusercontent.com/

[2017-03-08 13:54] BillWagner commented on #93
@mstechies Thanks for pointing this out  We'll fix the notes.  The correct choice is to use the 'master' branch. (Everything from the vs2017 branch has been merged into master).

[2017-03-08 13:57] BillWagner commented on #95
@thepill This is the best place to mention these at this time.

[2017-03-08 14:32] paulopez78 commented on #91
@CESARDELATORRE The idea is to have an event log as source of truth for the orders bounded context implemented only with eventstore, so no relational database involved here and no 2PC. That would require to change the aggregates for being event store aware and implement a repository for the event store, but that's pretty standard and easy to find in different repos out there. I would like to add a

[2017-03-08 14:41] thepill commented on #95
@BillWagner Ok. Should i open separate issues for each typo?

[2017-03-08 14:46] BillWagner commented on #95
@thepill I don't have a strong preference, but I think it would save us all time to bundle them in batches. I'll suggest one issue per section.

The main thing is to make sure we fix them. Thank you for bringing them to our attention.

[2017-03-08 14:55] thepill opened #99 "Typo in document "architecting-and-developing-containerized-and-microservice-based..." | Section: No-SQL databases as your persistence infrastructure"
There is a typo on page 153:

`However, when using a No- SQL database, especially a Document-oriented database like Azure Document DB, CouchDB,...`

should be (

`... No-SQL database,...` (removed the space between `No` and `-SQL`

[2017-03-08 15:25] davasquez-newshore commented on #91
Main trick when implementing  event based aggregates or sagas (sending commands) is to store in a public list the "uncommitted events" (for aggregates) or the "undispatched commands" (for sagas) and let the infrastructure-aware code take care of them ( to publish those events and to dispatch the commands). One great secondary effect of this is that you can unit test now your aggregate or your saga

[2017-03-08 16:37] CESARDELATORRE commented on #91
**@paulopez78** Sure, please, add a PR or point to any fork for reviewing first and taking it into account.
So, you meant what I mentioned, using Event Sourcing as the "source of truth" for the Ordering microservice. We could always do that or since microservices in general should be autonomous/independent, as long as we don't change the external interfaces (Http interface, etc.) we could also hav

[2017-03-08 16:48] CESARDELATORRE commented on #91
@davasquez-newshore  Yes, that "public list of integration events" that you mention I think is pretty similar to the approach I described in the guide when talking about Integration-Events.
It could be implemented as a SQL table when using a SQL based microservice, or any other list based on No-SQL or Event Store, as long as you can assure atomic consistency between that list and the original Aggr

[2017-03-08 16:54] CESARDELATORRE commented on #93
Right, that was from the previous setup using the vs2017 branch.
You can use the master branch.
Fixed now in the wiki.
Thanks for catching that! :)
Closing this issue now.

[2017-03-08 16:54] #93 closed

[2017-03-08 17:02] CESARDELATORRE commented on #95
@thepill Thanks for the feedback! :)
I just fixed the typo at the original WORD document. I'll be updated along with more updates in a few days when I update a new version of the .PDF

[2017-03-08 17:02] #95 closed

[2017-03-08 17:10] davasquez-newshore commented on #91
Probably I was not going so far in terms of how to store those Integration Events before publishing.
 What I meant with "public list" was simpler, in terms of just having an IEnumerable/IList in the Aggregate base class ( or interface). So every time you do some aggregate.Action(someParams) you would produce events in that List like "SomeStateChanged". This for unit testing and for infrastructure

[2017-03-08 17:18] CESARDELATORRE commented on #94
That shouldn't happen, but sometimes, the first time you clone the code until the dependencies are properly restored you could have dependency errors.
Can you try to compile project by project instead of a global re-build and see if still happens?
Please, post your results here after trying further so we know the state.
Thanks,

[2017-03-08 17:24] CESARDELATORRE commented on #97
The "the VS2017 Branch" was a typo already fixed in the Wiki. Please, use the MASTER branch.

Sounds like some containers are still not started when launching the solution, we might need to extend the time for the retrys with exponential backoff that we implemented for that case and also for resiliency purposes.
Could be that your machine is starting the containers much slower than in our dev mach

[2017-03-08 17:36] CESARDELATORRE commented on #99
Thanks, fixed now in the original WORD document in quite a few other places, too.
I'll be updated in the published .PDF in the next draft version in a few days with new content updates.
Thanks for the feedback! :)

[2017-03-08 17:36] #99 closed

[2017-03-08 17:41] CESARDELATORRE commented on #96
Right, it is docker-compose.ci.build.yml
It was right in the detailed instructions but worng in the "summary or main steps"
Thanks for catchin that up!
Fixed already.

You guys can do a pull request for these kind of typos at the Wiki.

Thanks for the feedback! :)

[2017-03-08 17:41] #96 closed

[2017-03-08 17:56] CESARDELATORRE commented on #3
We already have it here:
https://github.com/dotnet/eShopOnContainers/blob/master/docker-compose.ci.build.yml

Closing it.

[2017-03-08 17:56] #3 closed

[2017-03-08 18:57] aherrick commented on #98
Sounds good thanks. Is there anything I can do in the meantime to get around this?

[2017-03-08 19:24] CESARDELATORRE commented on #91
@davasquez-newshore
I think we're talking about almost the same thing:
Somehow, you'd need to persist that list of events, too, you mean as part of the AGGREGATE it self, right? other than that, if there's a failure before publishing any integration event to the Event Bus , you would have an inconsistency.
But having another event list/entity as part of the Aggregate means kind of the same thing I

[2017-03-08 19:37] CESARDELATORRE commented on #37
I partially agree, but those same principles also apply to independent aggregates communicating by Domain events. IMHO, Sagas target additional scenarios more like long running processes and workflows.
You should be able to just use Domain Events to "connect" multiple aggregates within your Domain Model without needing to use Sagas.
It is just a different way. Using Sagas for this scenario is righ

[2017-03-08 19:58] iancooper commented on #11
Will do, we have 15% time coming up next week, we'll endeavour to get a Brighter fork up and running so you can see how it would work. I can probably get a few co-conspirators to help me :-)

(PS It does also mean we can do some heavy lifting if you need some bodies. Just ask. We have thought about doing something similar to your project, but working with you guys makes more sense, so not a big as

[2017-03-08 20:02] CESARDELATORRE commented on #98
We're actively looking what can be happening to your environment. In the tests we made the Xamarin app is working good. We'll test in additional environments.
We'll come back to this issue as soon we have further news, ok?
Thanks,

[2017-03-08 20:14] CESARDELATORRE commented on #5
Right, I have a section in the Guide/Book explaining Aggregates and Aggregate Roots explaining very similar concepts (AR are also called Root Entity, originally named by Eric Evans, If I remember well).

However, the definition of an Aggregate is more a "consistency boundary" more than a transaction boundary. Usually it coincides, but you could have an aggregate consistent within itself while bein

[2017-03-08 20:42] CESARDELATORRE commented on #98
@aherrick You need to have installed API Level 23, Android 6.0 from the Android SDK. However, it should have been checked and installed when opening the project. We'll research that.

As an initial solution, can you go and install the API Level 23, Android 6.0 from the Android SDK, as below?
![android_api-level_23_needed](https://cloud.githubusercontent.com/assets/1712635/23723055/8dc27678-03fc-11

[2017-03-08 20:46] CESARDELATORRE commented on #11
Sure! If you guys see code that could be improved by itself (not really related to the Brighter implementation), please do pull requests! :)

[2017-03-08 21:04] aherrick commented on #98
Thanks for the response.

Here is what my SDK looks like and it's still not working.

![3-8-2017 3-59-07 pm](https://cloud.githubusercontent.com/assets/586671/23723796/8145d23e-0418-11e7-9173-16de5c13b6cf.png)

The error I'm getting is interesting:

`
C:\eShopOnContainers\src\Mobile\eShopOnContainers\eShopOnContainers.Droid\eShopOnContainers.Droid.csproj : error  : The imported project "C:\eShopOn

[2017-03-08 21:17] eiximenis commented on #98
Hi @aherrick!

Try to open the eShopOnContainers-MobileApps.sln located in the root of the repo. I think the issue is caused by opening this other solution file. Nuget packages are restored in the same path as the sln and csproj stores relative routes to them. I checked the csproj and they store the routes to a packages folder located in the root of repo.

If this solves your issue, I think we sho

[2017-03-08 21:23] CESARDELATORRE commented on #98
Let's keep just the solutions at the root level so we don't need to maintain other solutions.
So, yes, let's delete the internal .sln located within the /src/Mobile, ok?

[2017-03-08 21:47] aherrick commented on #98
Looks like that got it... now I'm able to deploy. I'd say this can be closed. Thanks!

[2017-03-08 21:55] CESARDELATORRE commented on #98
@aherrick  Cool! - Btw, if you deploy to a real device (Android/iOS/Windows), then, no issues.
But if you deploy and run the end to end app on an Android emulator, take into account the incompatibility between Hyper-V that needs "Docker for Windows" and the Intel HAXM virtualization system that comes with Google's Android Emulator.

You can also run the Xamarin app "alone" with no Docker container

[2017-03-08 21:56] CESARDELATORRE commented on #98
Closing this issue. Thanks Eduard! :)

[2017-03-08 21:56] #98 closed

[2017-03-08 23:00] CESARDELATORRE opened #102 "Test projects don't build by default in a clean solution, but they do build "one by one""
Linked to this issue at the ROSLYN-PROJECT-SYSTEM repo:
https://github.com/dotnet/roslyn-project-system/issues/1710

When the solution is just cloned or if you clean the solution and the do a "Rebuild Solution" the Test projects are throwing errors due to references not found to our own projects.
However, if building each test project "on-by-one", they do build and you can also do a global "Rebuil

[2017-03-08 23:36] paulopez78 commented on #91
@CESARDELATORRE  I understand the idea of having an abstraction for consuming asynchronous events the same way HTTP is an abstraction for sync communication and not coupling to any storage technology, that's clear for me.

That abstraction will have probably a rabbitmq implementation or other message broker technology, event store can be also implemented as an abstraction or kafka for example. As

[2017-03-09 00:31] CESARDELATORRE commented on #91
@paulopez78 Thanks for your input. All your feedback is really interesting. :)
We understand ES and event source. I've been in many great discussions about it with Greg Young, like when we created the P&P CQRS Journey, also at DDD eXchange, etc. So, I'm sold on the idea of using ES and event store for certain scenarios where a history and a "event replay" is important.
Also, thanks a lot for your

[2017-03-09 01:11] CESARDELATORRE commented on #97
baikinjo Hey! - So, we couldn't reproduce your issue in our machines, but since the error was related to the code I wrote about the resilient retries with exponential backoff, I guess your machine can be satrting slower and the number of retries waiting for the other containers was not enough time..
So, just in case, I raised the number of retries from 10 to 50.
here's the commit:
https://github.c

[2017-03-09 01:17] iancooper commented on #5
Will do, trying to catch up :-) (PS It is worth checking out Coarse Grained Lock in PoEAA if you have not for a while, as DDD Aggregates are called out there, and it gives another perspective)

[2017-03-09 01:29] CESARDELATORRE commented on #5
:) That's one of the oldest book I have, hard-cover. ;) - That one, and Eric Evans' blue book are probably my preferred hard-cover books.
Note that I agree, transactions should normally drive the aggregate's definition.
It is also worth to read the articles from Vaughn Vernon on "Effective Aggregate Design" where transactions are the main driver. https://vaughnvernon.co/?p=838
Agreed, but the Aggr

[2017-03-09 01:56] davasquez-newshore commented on #37
Agree with the idea of simplifying avoiding a canonical saga in a simple process. I think the decision should be driven not by how many aggregates are involved, but if you need to keep state across the process and if you can guarantee that order of events are well known or not important.

 Btw, The article you point is  _exactly_ what I meant on other post about "A list of events in the aggregate

[2017-03-09 05:14] CESARDELATORRE commented on #25
Closing. This is done. :)

[2017-03-09 05:14] #25 closed

[2017-03-09 05:17] CESARDELATORRE commented on #67
Closing.

[2017-03-09 05:17] #67 closed

[2017-03-09 05:19] CESARDELATORRE commented on #4
This is done.

[2017-03-09 05:19] #4 closed

[2017-03-09 05:27] #21 closed

[2017-03-09 05:28] CESARDELATORRE commented on #8
EF Code also reviewed (higher level) by Rowan Miller, closing.

[2017-03-09 05:28] #8 closed

[2017-03-09 05:30] CESARDELATORRE commented on #26
For validations we'll probably use the FluentValidation lib:
https://github.com/JeremySkinner/FluentValidation

[2017-03-09 05:33] baikinjo commented on #97
hey, I pulled the newest git and tried again and looks like I am having the same issue.

1. Processor: Intel Core i5-4300U @1.90GHz 2.49GHz
2. Memory: 8.00GB
3. SSD

I will try the CLI method now and keep you guys posted.
Thanks!

[2017-03-09 05:35] #80 closed

[2017-03-09 06:09] baikinjo commented on #97
UPDATE:
Using CLI Method, after finishing .NET bits, when I run docker-compose up it shows this error:
![image](https://cloud.githubusercontent.com/assets/13024845/23738064/a9e2edc0-044b-11e7-8155-cc28312a3ac7.png)

also including my docker version as well
when I run docker-compose build seems working but not up

[2017-03-09 07:07] kifjj opened #103 "Azure Environment to get started - docker tools"
Hi,

a bit out of topic, but
I'm new to docker and I want to have the full sln working, hence I tried to use the pre-buil azure vm win2016 with vs2017 however docker tools  requires win 10 pro/entr/edu.
Hence I installed vs 2017 entr on win 10 entr in azure, still problems with docker tools, docker daemon does  n't start.

Is possible to us an azure vm with docker tools? or a local vm at all?

[2017-03-09 09:34] grahamehorner commented on #94
I've build each project (Services,Web) individually which work ok; but when running the build fails; below is the results in the build output window: -

Build started ...
    WebSPA -> C:\DEV\eShopOnContainers\src\Web\WebSPA\bin\Debug\netcoreapp1.1\WebSPA.dll
    Identity.API -> C:\DEV\eShopOnContainers\src\Services\Identity\Identity.API\bin\Debug\netcoreapp1.1\Identity.API.dll
    docker-compose

[2017-03-09 16:58] karenmattox opened #105 "Ebook requires Microsoft corporate account to view"
https://microsoft.sharepoint.com/teams/DotNetStrategyTeam/Shared%20Documents/Architecting%20and%20Developing%20Microservice-Docker%20Apps%20(Guide-eBook)

It's on a Microsoft sharepoint site that is accessible only with a corporate login (not a visual studio or msdn subscriber or windows live account, I tried all of those).

[2017-03-09 18:40] CESARDELATORRE commented on #105
Sorry, that was a typo at the Wiki. It was right at the Repo Homepage/
The eBook URL for readers is this:
https://github.com/dotnet/eShopOnContainers/blob/master/docs/architecting-and-developing-containerized-and-microservice-based-net-applications-ebook-early-draft.pdf

I just updated the right URL at the Wiki. Can you confirm you see it right?
Thanks,

[2017-03-09 18:54] CESARDELATORRE commented on #103
Looks an issue related to "Docker for Windows" installation. Weird, I've installed it in many machines, really quick installation and usually, no issues.
For sure, "Docker for Windows" (from Docker) requires Windows 10 Professional or upper.
About having an Azure VM..., that's not possible because "Docker for Windows" uses Hyper-V for creating the Docker Linux Hox which is a Linux VM running on Hy

[2017-03-09 18:57] #103 closed

[2017-03-09 19:10] CESARDELATORRE commented on #97
Looks like an ifrastructure issue with "Docker for Windows".
Is any other Docker application working/deploying/running on that machine?
Can you try that a Hello ASP.NET Core Web app with Docker enables works on your machine?
If not, then I'd say that it is a "Docker for Windows" infrastructure isse. Related to the network/ports in your development machine or related to Hyper-V.
Please, check Docke

[2017-03-09 19:18] CESARDELATORRE commented on #94
I'm not able to reproduce those errors in our dev machines..
Weird.. Looks that only the Ordering microservice is failing at runtime. Could be related to a Dependency Injection issue... not sure..
Please, first, make sure that the Ordering.API microservice compiles, including the Ordering.Domain and Ordering..Infrastructure libraries.
Second, make sure that you have the Ordering.API dependencies t

[2017-03-09 19:27] #105 closed

[2017-03-09 19:40] CESARDELATORRE opened #107 "[QUESTION] Please, answer +1 if the solution is working properly for you (Through VS2017 or CLI environment)"
A small favor, can you answer **+1** to this thread if the solution is working for you (Through VS2017 or CLI environment)? - Bits compilation-Deploy-Run in Docker.
We'd like to know if the environment/solution is working for most of the people or not.

Better if you specify what environment you are using, like answering any of the following:

**+1 (VS2017)
+1 (CLI)
+1 (Both)**

Answer with a **-1

[2017-03-09 21:45] CESARDELATORRE commented on #81
Closing. This is fixed.

[2017-03-09 21:45] #81 closed

[2017-03-09 21:49] CESARDELATORRE opened #111 "The docker debug profile cannot launch, toggling the lauch dropdown crashes VS2017"
Originally from:
https://developercommunity.visualstudio.com/content/problem/25626/the-docker-debug-profile-cannot-launch-toggling-th.html

Reported by Hans van Bakel 23 hours ago Need More Info windows 10.0visual studio 2017Azure
In the eShopOnContainers solution, I cannot start debugging with Docker. When I tried to find out why I opened a project properties (e.g. Catalog.Api). On the debug page

[2017-03-09 21:50] CESARDELATORRE commented on #111
Fixed with this commit:
https://github.com/dotnet/eShopOnContainers/commit/9edf68ba11626e1d5aa88432508b1a1fca27c413

As David Zhao mentioned, the Docker profiles are no longer used in VS 2017 RTM.

[2017-03-09 21:50] #111 closed

[2017-03-09 22:36] CESARDELATORRE commented on #74
Closing, as this is already done and working. :)

[2017-03-09 22:36] #74 closed

[2017-03-09 22:56] CESARDELATORRE commented on #70
Closing. This is implemented in the windowsContainersTest branch

[2017-03-09 22:56] #70 closed

[2017-03-09 23:03] CESARDELATORRE commented on #45
Closing. This is implemented but might change it when using Polly.

[2017-03-09 23:03] #45 closed

[2017-03-09 23:09] #26 closed

[2017-03-09 23:42] paulopez78 commented on #91
@CESARDELATORRE I know your strong background in DDD and ES that's why I like to hear your feedback because is hard to find real experience in this kind of architectures.
As you pointed out, my first thought was the option A, use event store locally in the Orders microservice and have a consumer on the same event store publishing to rabbitmq the integration events.
But eventstore is a message brok

[2017-03-10 03:51] CESARDELATORRE commented on #53
The Xamarin app connects good from a real Android mobile device (in my case testing with a Google Pixel XL) to the microservices running in the Docker Host. It is able to authenticate, too.
However, I found to important issues to fix:
1. Product images are not shown in the list of products of the Xamarin app runnin in the device, just a "by default" eShop logo instead, like if it doesn't find the

[2017-03-10 06:52] CESARDELATORRE commented on #53
It is almost working now agains the "prod" environment:
https://github.com/dotnet/eShopOnContainers/blob/master/docker-compose.prod.yml

Just the Order Checkout is failing then consuming the remote microservices. Might be due to any breaking change in the Ordering.API. Will fix this tomorrow.

[2017-03-10 06:57] CESARDELATORRE opened #112 "SPA web app is not managing images and login properly when running from remote browser"
When deploying the "prod" environment (using docker-compose.prod.yml with external IPs that you need to change depending on your host machine), the MVC app works OK from a remote browser.

However, the SPA app is not showing the catalog images neither being able to authenticate agains the STS container (IdentityServer4).
An URL like this show no images:
![spa-bug-images-remote](https://cloud.githu

[2017-03-10 13:22] karenmattox commented on #105
Yes I can get it now, thanks!

[2017-03-10 18:59] grahamehorner commented on #94
@CESARDELATORRE I'm able to build each of the projects from the git repo each in turn; building the solution fails, also running after a build of the projects in turn fails; I have not changed any code or add anything to the solution, so I'm not quite sure why Autofac dependencies would be an issue or why your not able to reproduce, I am using the release version of VisualStudio 2017 if that makes

[2017-03-10 20:52] eiximenis commented on #112
Ok. Both issues (images & login) solved in commit 12ecc78a1818e5a5e644c5b727657dee5c43d165

**Important:** Currently SPA nor our IdentityServer configuration supports running SPA from two different origins.
So, **when running deployed "prod" environment it CAN'T ONLY BE ACCESSED THROUGH EXTERNAL IP**. Using localhost for accessing prod environment will generate issues and it is not supported.

Rea

[2017-03-10 21:16] grahamehorner commented on #94
OK, so I've used a clean build development system and have cloned the git repo and used docker to build; getting the following error: -

...\eShopOnContainers>Docker-compose -f docker-compose.ci.build.yml up
ERROR: client version 1.22 is too old. Minimum supported API version is 1.24, please upgrade your client to a newer version

however docker is reporting that I have the current version and no

[2017-03-10 23:39] CESARDELATORRE commented on #94
Are you able to build, deploy and run to your Docker host other different Docker projects that eShopOnContainers, like if you create a brand new ASP.NET Core web app in VS 2017?
Looks like a particular environment issue, we're not able to reproduce your issues in our tests. IT is currently working and deploying in quite a few machines we're working on.
I'll do some more tests over the weekend tryi

[2017-03-11 06:28] Blood13 commented on #97
Hello!
Same issue here.
When i open localhost:5100 it send request to Catalog.API (GET api/v1/[controller]/items[?pageSize=3&pageIndex=10]).
Error raised on
`var totalItems = await _context.CatalogItems.LongCountAsync();` function.
Exception here:
![default](https://cloud.githubusercontent.com/assets/881433/23821208/92f18f3e-063c-11e7-8b8a-6509a9ebe368.png)
I don't have any other containers. My pc

[2017-03-11 12:28] kifjj commented on #107
+1 (Windows CLI, on Win10 Entr, RAM 7GB, got a lot of problems with SQL Container, managed to make it work after assigning docker 4352 MB and freeing RAM)  ... wondering what HW is required to develop seriously with containers in real world scenarios. Any points?

[2017-03-11 12:52] grahamehorner commented on #94
other docker ASP.NET core applications work fine; but I'm assisting at present with a docker issues with volume sharing; the issues may docker related which is odd given the error message I've seen ?

[2017-03-11 15:27] grahamehorner commented on #94
ok after working with docker about the issue, looks like the corporate VPN software (checkpoint VPN) was causing some issues even when not connection to the VPN ? everything now builds

Client:
 Version:      17.03.0-ce
 API version:  1.26
 Go version:   go1.7.5
 Git commit:   60ccb22
 Built:        Thu Feb 23 10:40:59 2017
 OS/Arch:      windows/amd64

Server:
 Version:      17.03.0-ce
 API versi

[2017-03-11 18:52] CESARDELATORRE commented on #107
@kifjj That's why we mentioned to set at least 4096 mb of memory to Docker and recommend a 16gb ram machine in the setup instructions. Take into account that this is only because SQL Server container requirements in a dev or testing environment where you spin everything up as containers. In a real production environment it is recommended to take out the DBs from Docker and put your Databases in a

[2017-03-11 19:07] CESARDELATORRE opened #113 "Support "multiple redirect urls" in eShopOnContainers SPA for the STS container based on Identity Server 4"
Related to issue https://github.com/dotnet/eShopOnContainers/issues/112

Currently, eShopOnContainer's SPA app (not the IdentityServer container) does NOT support running the STS redirection from two different origins, like an external IP/DNS and localhost, depending on what you set at the browser's URL. It supports just one, either localhost or the external IP.

It would be good to support that,

[2017-03-11 19:30] CESARDELATORRE commented on #112
I'm not sure I like to use an environment variable (for the the external IP) at the server level used in the docker-compose.prod.yml file to set ALL of the microservices...
It is not only that it requires to set the env var at the server/host level and that will depend on what is your deployment environment (it is not the same if you run Docker for Windows or Mac, a regular Docker Host, or even in

[2017-03-11 21:34] CESARDELATORRE commented on #112
Confirmed from y side. I think the env-var approach is right for the external IP or DNS NAME across all the microservices under the same docker-compose deployment as they will share the external Docker Host IP or DNS Name or even if it were a cluster or Docker Swarm, the external DNS name would also be the same.

I even went further so in order not to make complex setup instructions with multiple

[2017-03-11 21:34] #112 closed

[2017-03-11 21:38] CESARDELATORRE commented on #107
+1 (Both environments, CLI & VS2017) - Windows 10 Enterprise, RAM 16GB. Testing on Multiple machines.
:)

[2017-03-11 21:45] HarshaRaikar commented on #107
Hi CESAR

I am getting timeout error when the MVC application first starts.
At: CatalogService.cs line 54.
dataString = await _apiClient.GetStringAsync(catalogUrl);

VS2017, windows 10 , 16GB RAM

[2017-03-11 21:54] HarshaRaikar commented on #107
Oops. It was docker memory i guess. I set it to 4096MB and it started working now. :)

[2017-03-12 05:32] CESARDELATORRE commented on #97
Looks like it is not the same issue. baikinjo is getting errors when trying to start the containers, like "Cannot start service catalog.api: driver failed... etc." - That looks like a Docker infrastructure issue that we are not able to repro in our dev machines. Need to check it out with Docker's trobuleshooting for that and or try other Docker container projects to isolate the infrastructure issu

[2017-03-12 05:33] CESARDELATORRE commented on #94
Awesome! closing this issue, then.

[2017-03-12 05:33] #94 closed

[2017-03-12 14:50] kifjj commented on #34
In my view, the CreateOrderCommandHandler should be the aggregate and its operations  1) create buyer  2) add payment method, 3) add items, should be done in memory. At the end, order should be passed to the CreateOrderRepository which together with buyerRepository would persist what is needed in a single transaction.

Question, how to implement a single tx accross 2 or more repositories?

Anyway,

[2017-03-12 17:12] ups216 opened #115 "Unhandled exception when open http://localhost:5104"
I followed the CLI and Windows based instruction, but the webSPA project is showing error when I open http://localhost:5104, like below

An unhandled exception occurred while processing the request.

DirectoryNotFoundException: Could not find a part of the path '/app/wwwroot/dist/'.
System.IO.UnixFileSystem+FileSystemEnumerable.OpenDirectory(string fullPath)

While the webmvc and api services are

[2017-03-12 22:56] CESARDELATORRE commented on #34
Initially, you shouldn't include several repositories within the same transaction. Sometimes you could, but as a "by default rule", you shouldn't because that means you are including multiple Aggregates within the same transaction. You should try to avoid that case and do it only under exceptional cases.
Reasons:

- A repository should handle persistence related to a single Aggregate.
- Aggregates

[2017-03-12 23:04] CESARDELATORRE commented on #115
That means the JavaScript/TypeScript client code was not built correctly before creating the images with docker-compose.
I'd say you had an error about the SPA app when building the bits with docker-compose -f docker-compose.ci.build.yml up
Did you run "npm install" before building the bits with "docker-compose -f docker-compose.ci.build.yml up", as explained in this step in the CLI instructions?

[2017-03-13 08:19] dsrodenas commented on #107
+1 (VS2017) - Windows 10 Enterprise, RAM 16GB

[2017-03-13 09:14] ups216 commented on #115
Thanks for quick and detailed reply. I actually did run npm install as per the instruction, but didn't run npm run build:prod. Just tried this again, it worked.

[2017-03-13 09:14] #115 closed

[2017-03-13 11:41] eiximenis commented on #71
Xamarin is updated already!

[2017-03-13 11:45] eiximenis commented on #53
Order checkout is fixed in commit c3444287ec9ce02e92a91114a05768a473a2e75e
@CESARDELATORRE review & close if appropiate :)

[2017-03-13 12:10] larsontim12 opened #116 "Upgrade Indentity Server 4 from RC3 to release version"
Are you planning on upgrading this to use the release version of IdentityServer4.  It is currently using rc3 and when I upgrade the solution fails to work anymore.

[2017-03-13 13:53] eiximenis commented on #116
Hi @larsontim12
There are some breaking changes from rc3 to rtm of IS4.

We'll take a look!

[2017-03-13 15:56] grahamehorner commented on #94
more build issues using docker-compose ?
ci-build_1  | /usr/share/dotnet/sdk/1.0.1/Sdks/Microsoft.NET.Sdk/build/Microsoft.NET.Publish.targets(100,5): error MSB3030: Could not copy the file "/src/src/Web/WebSPA/wwwroot/dist/main.6304a07ff3224e9baeb1.bundle.js" because it was not found. [/src/src/Web/WebSPA/WebSPA.csproj]
ci-build_1  | /usr/share/dotnet/sdk/1.0.1/Sdks/Microsoft.NET.Sdk/build/Microso

[2017-03-14 03:52] harrchen commented on #107
I tried to install the solution to Server 2016 with VS2017 without success.  There doesn't seem to be a suitable docker installation for Windows 2016.  I tried to install docker via powershell but cannot find a way to perform necessary configuration as outlined in this document.  The reason I want to use Windows 2016 is that I cannot create a windows 10 image in my azure subscription.

[2017-03-14 06:12] harrchen commented on #107
Also just realized that docker for windows will not work for Azure VMs.  As such, is there a way to have the eShop sample app setup and running in Azure?

[2017-03-14 06:33] HarshaRaikar opened #117 "Calling one service from another"
Hi,

How do I call a microservice function from another?

I want to call Catalog service function from another service .I am doing the following
        public async Task<CatalogItem> GetCatalogItem(string name)
        {
            _apiClient = new HttpClient();

            var catalogUrl = $"{_remoteServiceBaseUrl}GetCatalogItem/withname/{name}";

            var dataString = "";

[2017-03-14 07:27] kifjj commented on #107
@CESARDELATORRE thanks for your explanation. Everything makes sense, just a point I am missing.
Since in prod SQL Srv  will not be in a container (which makes total sense) wouldn't be better to keep it out  even in dev?

[2017-03-14 08:00] eiximenis commented on #107
Hi @kifjj
One reason for using SQL Server in a container is for helping with managing external dependencies in development. We are not using only SQL Server but also Redis (in the Basket microservice), and RabbitMQ for microservice-to-microservice communication (still not in master branch but merged soon).
Forcing everyone to install and configure all these external dependencies would prevent most

[2017-03-14 15:47] CESARDELATORRE commented on #117
For queries, you call it the same way you do it from the MVC app, for instance. Using HttpClient, similar code than what you have.
The important point is to use the internal name resolution based on the names of the microservices, like we do:
For instance, this is the env-var we use at the Catalog microservice, defined at the docker-compose.override.yml:
CatalogUrl=http://**catalog.api**:5101
You

[2017-03-14 15:55] CESARDELATORRE commented on #107
@kifjj @eiximenis Reasons given by eiximenis (Eduard) plus:
When using databases on containers that are spin-up and populated with the same sample data, that makes a perfect scenario for Integration-Tests, as the tests are predictable based on the same set of data.
However, you can of course have your databases on any regular SQL Server on-premises or Azure SQL DB. You'll just need to create the D

[2017-03-14 19:37] WolfspiritM opened #118 "Token lifetime handling"
Thanks for this great example repository!

I've set up a project similar to this one.
I have an MVC Application calling a API microservice.

I tried to use nearly the same settings as in this example and it works quiet well.

I can log in and then call the API Services via HttpClient without issues.
However after running the app for some time until the identityserver token expires the frontend sti

[2017-03-14 22:43] CESARDELATORRE commented on #118
Agreed. There a few scenarios where the authentication system we have in place is throwing errors. It happens something similar if the IdentityServer container was re-started.
It is indeed related to specific IdentityServer4 configuration and usage.
We'll keep this issue open and will research it, eventually.
But, due to many other priorities, we cannot research it in the short term.
We'll track i

[2017-03-15 01:46] WolfspiritM commented on #118
Thanks!

I noticed that the same thing happens when the IdentityServer container is restarted.
The reason for that seems to be the "AddTemporarySigningCredential()" for the IdentityServer which creates new Signatures on every start causing the old tokens to be invalid as they can't be validated.

So I think the best place would be the Database to store currently valid signing Credentials in produc

[2017-03-15 10:25] eiximenis commented on #118
Hi @WolfspiritM
Yes, we are currently using temporary signing credentials for IdSvr. In a real scenario you must use a signing certificate installed on IdSvr machine. Refer to http://docs.identityserver.io/en/release/topics/crypto.html#refcrypto for more information on how setup IdSvr to use a certificate.

Usually dealing with a invalid/expired token is handled at application level. Authenticatio

[2017-03-15 21:21] CESARDELATORRE commented on #117
Closing this issue (question) until further notice

[2017-03-15 21:21] #117 closed

[2017-03-15 21:24] CESARDELATORRE commented on #118
Btw, when migrating from Indentity Server 4 RC3 to its release version, issue https://github.com/dotnet/eShopOnContainers/issues/116 we should also improve the token's timeouts and life management so it doesn't throw errors in special cases discussed in this thread.

[2017-03-15 21:25] CESARDELATORRE commented on #116
When migrating from Indentity Server 4 RC3 to its release version, we should also improve the token's lifetime management so it doesn't throw errors in special cases discussed in this other issue:
https://github.com/dotnet/eShopOnContainers/issues/118

[2017-03-16 08:26] mktitan commented on #107
+1 VS17. Looks great.

[2017-03-17 06:05] FDUdannychen commented on #107
+1 VS2017, Win 10.
By the way "ordering.api" depends on "sql.data", if anyone always fails with "PrepareForLaunch" task failed, pulling sql.data(microsoft/mssql-server-linux) blabla error, you can manually pull the image before debugging, using `docker pull microsoft/mssql-server-linux`.

[2017-03-17 06:15] FDUdannychen commented on #66
+1 I'm going to ask the same question, I think `IOrderRepository : IRepository<Order>` makes more sense than `IOrderRepository<T> : IRepository<T>` since we don't need `IOrderRepository<Buyer>`.

[2017-03-17 16:21] CESARDELATORRE commented on #66
Agree. This is pending. Need to refactor it.

[2017-03-17 16:42] CESARDELATORRE commented on #66
@FDUdannychen  Btw, pull requests are accepted and appreciated. This could be an easy one.
We're heads down in the dev-branch focusing on Domain-Events, Integration Events, resiliency (retries/circuit breaker, etc.) and continuing with the Guide/eBook.
But we'll try to refactor this issue when possible if we don't get any pull request. :)
And thanks for your feedback confirming this issue! :)

[2017-03-18 07:38] geminiyellow commented on #107
+1 (Both)  mac

but when i try to check the web feature, there are some errors.

**RAM: 8G**

[2017-03-18 17:02] CESARDELATORRE commented on #107
@geminiyellow What errors are you getting? - Remember, related to the Identity Authentication container based on IdentityServer4, when deploying from a Mac, you need to use the "production" docker-compose.prod.yml because the by default 10.0.75.1 IP is only available when using Docker for Windows.
Afaik that IP is not used in a Mac. So you need to explicitly set your external IP in the .env file a

[2017-03-19 13:44] kbulte commented on #107
+1 (VS2017) Win 10 Pro, RAM 16GB

[2017-03-20 08:26] dsrodenas commented on #38
Implemented and merged toDev branch with **Integration events**.

[2017-03-20 09:09] dsrodenas commented on #57
I have pushed a fix for this issue in the commit ca029618e62a1af46f09fdd2412eb7ec9eaa0970 . As a solution I impose in project build order that docker-compose is the last project to build. I think this could be a potential bug of VS 2017, because if the build of docker-compose can conflict with other projects build this should be taken into account automatically in the Project Build Order.

[2017-03-20 10:22] dsrodenas commented on #20
We have created the FunctionalTests project that covers this "Service tests". We have added a couple of tests to show how to test the Docker containers. When more cases are implemented the number of tests can be increased.

[2017-03-20 12:12] dsrodenas commented on #66
Pull request #121 created to change the signature to `IOrderRepository : IRepository<Order>`. This way we have `public class OrderRepository :  IOrderRepository `.

[2017-03-20 17:59] #61 closed

[2017-03-20 19:27] #57 closed

[2017-03-20 21:33] mjrousos commented on #107
+1 (Both) Windows 10 Pro, 32 GB RAM.

I did have to change the VS startup project to the Docker project (which wasn't mentioned in the 'main steps') but that's mentioned in the full instructions and was pretty clearly needed. :)

[2017-03-21 05:19] FDUdannychen commented on #39
By the way I think `MediatR` can be upgraded to v3?`[CreateOrderCommand]`(https://github.com/dotnet/eShopOnContainers/blob/master/src/Services/Ordering/Ordering.API/Application/Commands/CreateOrderCommand.cs) implements `IAsyncRequest<bool>` but IMO a command shouldn't know how it will be handled (in an async handler). The latest version of MediatR integrates `IAsyncRequest` & `IRequest` to `IRequ

[2017-03-21 08:42] FDUdannychen opened #127 "[QUESTION] How does this docker environment configuration work?"
I don't know if it's suitable to ask the question here, feel free to close/delete it if not.

I see something like below in docker-compose files.

[code]
In the `Startup.cs` of `Ordering.API` project, the configuration value (I think it's `http://identity.api:5105`) is used. How does it work? Or somewhere else `identity.api` will be translated to the correct address?

[2017-03-21 09:21] eiximenis commented on #127
Hi @FDUdannychen
Basically, all docker containers started by docker-compose run in the same network, created by Docker. Under this network containers can see between them by using their name (name defined in the docker-compose file).
If you look docker-compose.yml file you'll see that the container running Identity Server is named "identity.api". That means that any other container can access this

[2017-03-21 19:32] BillWagner opened #129 "Post_update_product_price_and_catalog_and_basket_list_modified test failing"
I ran all the tests on the dev branch today, and one is consistently failing.

This [test](https://github.com/dotnet/eShopOnContainers/blob/dev/test/Services/FunctionalTests/Services/IntegrationEventsScenarios.cs#L21) fails all three of the following asserts:
https://github.com/dotnet/eShopOnContainers/blob/dev/test/Services/FunctionalTests/Services/IntegrationEventsScenarios.cs#L59
https://github

[2017-03-22 08:59] dsrodenas commented on #129
Fixed in commit 696610ed3636fd66584ed4ad12d14cdf3dbe693c
I changed the route for the update in the controller but not in the test. Now the test has the correct routing.

[2017-03-22 23:22] dansand71 opened #131 "MVC Launch fails with System.IdentityModel.TOkens.Jwt not found"
Launching the MVC app from VS or in a container results in this error.  Checked Nuget package manager and the package is installed.

System.IO.FileNotFoundException: 'Could not load file or assembly 'System.IdentityModel.Tokens.Jwt, Version=5.1.2.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'. The system cannot find the file specified.'

[2017-03-22 23:42] CESARDELATORRE commented on #131
Have you set the "docker-compose" project as the by default start-up project in VS?
You need to launch the whole docker-compose solution, not a single container, as this is a "multi-container" microservices based application with multiple dependencies that you can see at the docker-compose files.

Also, important, please follow the [setting up procedure for Visual Studio 2017](https://github.com/d

[2017-03-22 23:42] CESARDELATORRE commented on #129
Closing this one

[2017-03-22 23:42] #129 closed

[2017-03-22 23:43] CESARDELATORRE commented on #127
Closing the issue after Eduard explanation.

[2017-03-22 23:43] #127 closed

[2017-03-23 20:42] CESARDELATORRE commented on #66
Closing this issue.

[2017-03-23 20:42] #66 closed

[2017-03-24 15:15] VhatAmI commented on #107
+1 (VS2017)

[2017-03-24 22:44] CESARDELATORRE commented on #131
Closing. This issue was solved for Dan by using the right .sln and setting the docker-compose project as default startup.

[2017-03-24 22:44] #131 closed

[2017-03-24 22:47] CESARDELATORRE commented on #102
We're not having this issue any more... I clean the solution, Rebuild completely, and it builds everything good. So, closing this issue.

[2017-03-24 22:47] #102 closed

[2017-03-24 22:50] CESARDELATORRE commented on #76
Solved. Closing.

[2017-03-24 22:50] #76 closed

[2017-03-24 22:52] CESARDELATORRE commented on #71
Still need some refactoring. The RequestManager shouldn't be within the Repositories folder, etc., as we talked.

[2017-03-24 22:54] CESARDELATORRE commented on #20
Pending to create a separate Test Project with the "ServiceTests" as they require a different setup starting the containers first with "docker-compsoe up", etc. - We'll close this issue when that separate Test project is created.

[2017-03-24 22:56] CESARDELATORRE commented on #34
Closing this issue. We refactored the CreateOrderCommandHandler and decoupled the operations between multiple Aggregates with the Domain Events.

[2017-03-24 22:56] #34 closed

[2017-03-25 14:19] grahamehorner opened #138 "Exception SeedAsync"
OrderingContextSeed.SeedAsync(app).Wait();

    CatalogContextSeed.SeedAsync(app, loggerFactory)
            .Wait();

An exception of type 'System.AggregateException' occurred in System.Private.CoreLib.ni.dll but was not handled in user code occurred

[2017-03-25 14:31] grahamehorner commented on #97
I'm also seeing the above exception, my system is

i7-7500 2.7ghz
16Gb RAM
256Gb SSD

[2017-03-25 18:08] CESARDELATORRE commented on #138
Hi Graham, have you followed the setup procedures, step-by-step here:
**VS2017 enviroment**: https://github.com/dotnet/eShopOnContainers/wiki/02.-Setting-eShopOnContainer-solution-up-in-a-Visual-Studio-2017-environment

**CLI enviroment**: https://github.com/dotnet/eShopOnContainers/wiki/03.-Setting-the-eShopOnContainers-solution-up-in-a-Windows-CLI-environment-(dotnet-CLI,-Docker-CLI-and-VS-Code)

[2017-03-25 20:03] CESARDELATORRE commented on #118
Move to Priority 1 issue to be fixed as it is very common to get these errors when working with the app or debugging starting the app multiple times and if the browser was already opened before, you get to this issue. Let's fix this in the next "fixing issues focus day".

[2017-03-26 06:58] MichaCo commented on #86
@CESARDELATORRE I have to agree with @jbogard and @atrauzzi. Real world solutions will have many solutions (if the team uses Visual Studio). Those solutions might be on Github or TFS or what not. But clearly not one large solution.
It might be easier to start with, but you just ignore the fact that you'll run into certain issues when splitting this solution down into dedicated parts.
* Shared code

[2017-03-26 08:30] jacobpovar commented on #138
I had the same error.
Changing docker computing resources to recommended values (3 CPUs and 4096 memory) solved the issue.

[2017-03-26 09:33] grahamehorner commented on #138
I've increased Docker resources to 4096 with 3 CPUs still have same issue, so increased memory to

[2017-03-26 13:38] ardalis commented on #86
I agree and have found Nuget packages to be the best way to share dependencies between solutions.

[2017-03-26 16:51] atrauzzi commented on #86
I suspect @SteveLasker kept better notes than me for the call.  The general gist was that I spoke a little about some of my issues with multi-repository strategies.

With VS 2015, setting up a parent "omni project" wasn't really easy because nuget got messed up on a lot of paths.  Beyond that, I worry that Visual Studio is just too stateful to offer a solid developer experience with such a scenari

[2017-03-26 21:42] CESARDELATORRE commented on #86
I agree, real world solutions will have many solutions (if the team uses Visual Studio) one per autonomous development and deployment microservice and each solution would be stored in a different Git repo managed by potentially a different team, like a Bounded-Context in that regard.
However, this is a sample application for introducing microservices and containers to devs who are not familiar to

[2017-03-27 01:41] billpratt opened #139 "[Feedback] Kubernetes examples"
I noticed a Kubernetes branch on this repo. I'm running production ASP.NET Core APIs in Kubernetes and would like to help contribute. Can you provide a quick update on the status of this branch?

A few of my thoughts/roadmap ideas (more to come):

* Getting started guide w/ using [minikube](https://kubernetes.io/docs/getting-started-guides/minikube/)
* Examples using [https://github.com/kubernetes

[2017-03-27 02:02] CESARDELATORRE commented on #139
Hi Bill!
The Kubernetes branch is in experimental/tests mode and is not up-to-date with the latest code we have in DEV or even at MASTER branch.
We'll focus on orchestrators once we finish with other "core features" like Domain Events, Integration Events, Event Bus, resiliency techniques, etc.
One we get to a more stable version of eShopOnContainers, we'll focus on Orchestrators in Azure:
- Kubern

[2017-03-27 02:06] CESARDELATORRE commented on #138
Hey Graham! Did the memory increase assigned to Docker solve your issue?. Try some more, just in case. It could also depend on how many apps you already started in your dev machine..

[2017-03-27 08:27] grahamehorner commented on #138
apologies, had my phone crashed while attempting to posting, yes increasing the memory sorted this issue; I was required to increase the docker memory to 6gb of my 16gb; I'm still working thought some other issues which may/may no be environment related

[2017-03-27 18:06] CESARDELATORRE commented on #138
Closing this issue as it was related to Docker memory settings.

[2017-03-27 18:06] #138 closed

[2017-03-27 19:59] CESARDELATORRE opened #141 "Implement ResilientHttpClient (HttpApiClientWrapper) as a Building Block and used by every app/service in the solution"
We actually are using the HttpApiClientWrapper (to be refactored as ResilientHttpClient) in the MVC app at the DEV branch, which is using Polly for Retry with Exponential Backoff and Circuit breakers.

This needs to be extracted from the MVC and create a Building Block or library (it will be a NuGet package once stabilized) to be used by any service/app using HttpClient --> ResilientHttpClient

So

[2017-03-28 10:11] dsrodenas opened #143 "Create a building block to manage idempotency"
In order to ensure idempotency in cases where has to be handled explicitly, we can create a **GenericHttpMessageIdempotency** BuildingBlock. This block should be based in the current Request Manager implemented in Order.Infrastructure, that is handling idempotency for the case of order creation.

[2017-03-28 11:57] eiximenis commented on #55
Fixed in commit 7254710184d33a4a7f829b89d0c5359ca51f2a07

Please @CESARDELATORRE review ;)

[2017-03-28 17:53] dongdongmao commented on #107
i want know that can Visual Studio for Mac 2017 run the solution ?

[2017-03-29 00:14] CESARDELATORRE commented on #141
After thinking further, probably this should be simply an utility class per microservice instead of a global NuGet component since config/policies might be different per microservice. We don't want to take a dependency on this. This can be a case where you want to have redundancy because microservices must be completely independent/autonomous between eachother. Global NuGet libs must be completely

[2017-03-29 00:14] #141 closed

[2017-03-29 00:37] CESARDELATORRE opened #145 "Error: The antiforgery token could not be decrypted"
This exceptions is raised sometimes when deploying to a regular Docker host. I'm testing our DEV branch.
Also in Kubernetes environments, as mentioned by Dan.

The solution for IIS Windows machines is to run the dataprotection provisioning script on the server:
https://github.com/aspnet/DataProtection/blob/dev/Provision-AutoGenKeys.ps1
https://docs.microsoft.com/en-us/aspnet/core/hosting/dataprote

[2017-03-29 02:37] CESARDELATORRE opened #146 "Clean the user's basket/cart based on an Integration Event after the Order "is started"."
Now that we have the Integration Events in place at the DEV branch, let's clean the basket/cart based on an Integration Event like "OrderStartedIntegrationEvent" that will go through the Event Bus, reach the Basket microservice and clean that specific basket, intead of the following code driven/orchestrated by the MVC web app:

[code]

We should have just the call to the Ordering microservice here

[2017-03-29 06:38] CESARDELATORRE commented on #107
@dongdongmao Not currently. Probably in the future.
**Visual Studio for Mac** still doesn't support Docker containers as VS 2017 for Windows does.
What you could use is **Visual Studio Code for Mac**, as editor and using its **Docker extension**: https://code.visualstudio.com/docs/languages/dockerfile

Then, using **Docker CLI** like **docker-compose build/up** from **bash** to build images and to

[2017-03-29 14:58] dsrodenas commented on #118
Fixed in commit ba71b192a9f05f0bb7456dbf12e02885a4b7530d

I have added a certificate for the Identity Server. When resetting the server the credentials are not lost and the tokens are still valid. The certificate is only for test applications, in a real environemnt we should create one in the proper way. But for download, compile and run is the best option.

[2017-03-29 15:29] Franklin89 commented on #118
@dsrodenas This only fixes one issue of token life time management. It will only make sure that after the identity server restarts the tokens are still valid. But what if the token really does expire? By that i mean the `access_token` used to call the api's from the controller in the mvc frontend for example.

[code]

The call above would then still fail. I am working on a small project where I ha

[2017-03-29 16:04] dsrodenas commented on #118
@Franklin89 you are completely right. The intention of the fix was to solve only the reset IdSvr issue, which was very annoying when debugging and a bit urgent to be solved. We are adding functionality and solving issues by priority, and refresh token it is not so urgent by the moment. Pull requests are more than welcome if you want to participate :)

[2017-03-29 16:07] Franklin89 commented on #118
@dsrodenas will see what i can do...

[2017-03-29 16:15] WolfspiritM commented on #118
Would be nice to see an example for that.
I tried to implement it but I'm a bit struggling with how to do it "right".
Sure...it's possible to use a refresh token to get a new access token but that would mean the application needs to request the offline access scope afaik.

Won't be a big deal but I'm not sure if that's the best way.

I noticed that for normal GET requests it seems to work to just

[2017-03-29 18:16] CESARDELATORRE opened #147 "[Xamarin App] Switch to AutoFac as IoC container instead of Unity"
For the Xamarin app it would be better to use Autofac than Unity.
I know that it is almost the same code for the Xamarin app and it won't change significantly, but Autofac is also the IoC container used in the Ordering microservice (the advanced microservice), so it would be aligned and most of all, Autofac is a more modern IoC container than Unity.

[2017-03-29 19:58] CESARDELATORRE opened #148 "[SPA] Update SPA client app to Angular 4"
Current version of the SPA client web app of eShopOnContainers is using **Angular 2**.
**Angular 4** has recently been released:
[March 23, 2017]
http://angularjs.blogspot.com/2017/03/angular-400-now-available.html

Not sure why they jumped Angular 3 and went to Angular 4...
http://www.infoworld.com/article/3150716/application-development/forget-angular-3-google-skips-straight-to-angular-4.html

W

[2017-03-29 20:02] BillWagner commented on #148
I think we should use Fibonacci numbers:
v1, v2, v3, v5, v8, v13 ....

Number nerd note: 19 and 23 are two consecutive prime numbers whose sum is 42. It's the answer to everything.

[2017-03-29 20:22] ardalis commented on #148
Why not both? http://mathworld.wolfram.com/FibonacciPrime.html

[2017-03-30 13:49] davidbritch commented on #147
Note that this requires a change from PCL Profile 259 to Profile 111, which removes Windows Phone Silverlight 8 as a target framework for the PCL.

[2017-03-30 15:22] CESARDELATORRE commented on #147
I think that would be ok, nowadays.

[2017-03-31 14:55] johnsonlu opened #149 "[Feedback] The web API does not follow common restful API guidelines"
E.g. in CatalogController, it uses
- `POST api/v1/catalog/update` to update a product
- `POST api/v1/catalog/create` to create a product

According to most restful API guidelines, verbs(update, create) should be avoided in the path, instead using the correct HTTP verbs, e.g. PUT for update a resource, POST for create a resource.

One restful API guideline could be found here:
https://github.com/za

[2017-03-31 16:17] CESARDELATORRE commented on #149
Agreed. We'll fix that.
Thanks for the feedback! :)

________________________________
From: Johnson Lu <notifications@github.com>
Sent: Friday, March 31, 2017 7:55:35 AM
To: dotnet/eShopOnContainers
Cc: Subscribed
Subject: [dotnet/eShopOnContainers] [Feedback] The web API does not follow common restful API guidelines (#149)

E.g. in CatalogController, it uses

  *   POST api/v1/catalog/update to u

[2017-03-31 21:16] chlowell commented on #145
I saw this in deployment. When the apps are hosted at the same location, one may try to decrypt another's token because the paths are the same. I solved this by setting application discriminators; that fix is in #142.

[2017-04-02 22:32] jrgcubano commented on #148
I think the project should try to simplify and rely on the current standard (angular-cli) for this part.

[2017-04-03 09:28] dongdongmao commented on #107
+1 (CLI) mac

[2017-04-04 01:06] CESARDELATORRE opened #152 "Web apps should show up as Unhealthy if internal microservices are unhealthy"
Web apps should show up as Unhealthy if internal microservices are unhealthy.
The image below should show the Web apps as unhealthy, too, as they have dependency on the other microservices.
![image](https://cloud.githubusercontent.com/assets/1712635/24637703/090468be-1898-11e7-8c39-cc479f19d0e7.png)
In that case, the internal microservices were unhealthy because I killed the SQL Server container,

[2017-04-04 01:09] CESARDELATORRE commented on #38
Feature done. Closing this issue.

[2017-04-04 01:09] #38 closed

[2017-04-04 19:24] andrelmp commented on #107
VS 2017
`ERROR: for sql.data  Cannot start service sql.data: driver failed programming external connectivity on endpoint dockercompose3536241391_sql.data_1 (e4672897e3ee71a9cbebcb666e9034ccca0d97d5756d18fe8275ba3331c51049): Error starting userland proxy: Bind for 0.0.0.0:5433: unexpected error Permission denied`

[2017-04-04 19:32] CESARDELATORRE commented on #107
@andrelmp  Hey! Did you set up Docker Community (aka Docker for Windows) with the required amount of memory? - At least 4096 GB for Docker, as specified in the setting up instructions here:
https://github.com/dotnet/eShopOnContainers/wiki/02.-Setting-eShopOnContainer-solution-up-in-a-Visual-Studio-2017-environment

Also here:
https://docs.microsoft.com/en-us/sql/linux/sql-server-linux-setup-docker

[2017-04-04 19:34] andrelmp commented on #107
wow that was fast! thank you @CESARDELATORRE
is exactly the memory issue on docker host

[2017-04-04 20:08] tomkerkhove opened #153 "[Feedback] Publish physical-version of the book"
Are there plans to publish a physical-version of the book?

[2017-04-04 20:40] andrelmp commented on #118
i will try to do some work on this, it's really not a big deal

[2017-04-05 01:18] CESARDELATORRE commented on #153
We might do it. We have no specific plans with any particular Publisher, yet, but we'll try to start with a short number (like a few hundred printed books) of the DRAFT version by //BUILD, for attendees.
After that, we might publish it through any Publisher but our main goal it to make it available for free as eBook, so it reaches more folks in the community.

[2017-04-05 08:00] Guerillacoder opened #154 "Change to hybrid flow in IdSvr for xamarin client."
First of all, great repo!

I'm curious why the grant type for the xamarin client is implicit when the documentation says it should be hybrid for native clients?

Thanks.

[2017-04-05 11:16] eiximenis commented on #16
That's solved in DEV branch (commits a7c7426659ac8dfa8791edfce26ee20eeede3e9c & be440a9a02b53f60021147645a13843cf9011ce6)
I left the migrations: they're empty (which is good because DB schema is the same) but the ModelSnapshot is slightly different, so I left them for safety.

[2017-04-05 11:18] eiximenis commented on #72
I tested with node 7x several times with no issues.
So, i'll close the issue.

[2017-04-05 11:18] #72 closed

[2017-04-05 11:19] eiximenis commented on #148
Yep sure!
We'll update the project to use latest angular & angular-cli.
Thanks for feedback!

[2017-04-05 11:23] eiximenis commented on #32
We use now RMQ for integration events between services, so I think that could be closed :)
/cc @CESARDELATORRE

[2017-04-05 14:39] #116 closed

[2017-04-05 14:48] eiximenis commented on #116
Closed by #155

[2017-04-05 17:14] eiximenis commented on #146
This is already in dev branch, in commit 4c7f92f9c2cc02c2fd84fc922ca5aa095b412021
Please @CESARDELATORRE, review and close if appropiate.

[2017-04-05 18:54] ChristianWeyer commented on #107
+1 for CLI (macOS). After having set Docker to 4GB RAM.

But when running `docker container ls` I get this - and I am missing the Basket API, right?

![image](https://cloud.githubusercontent.com/assets/888718/24721901/02501fee-1a42-11e7-8f45-60f42aa5084d.png)

[2017-04-05 19:20] ChristianWeyer commented on #107
BTW; when building the SPA, building the SPA with npm is successful.
But when executing `docker-compose -f docker-compose.ci.build.yml up` I get this error:

[code]

[2017-04-05 21:23] CESARDELATORRE commented on #107
@ChristianWeyer
Did you try to run this first from the CLI:
**npm rebuild node-sass**

before running the **docker-compose -f docker-compose.ci.build.yml up** ?

But that should be done from the compose execution…, too...

Can you create an issue specific for Mac environment so we track it down when possible?

Thanks for the feedback.

[2017-04-06 05:45] ChristianWeyer opened #157 "Implement resilient connections to Rabbitmq - Issue detected when running on macOS"
Having set Docker to 4GB RAM.

When running `docker container ls` I get this.

![image](https://cloud.githubusercontent.com/assets/888718/24739589/fb0b37a4-1a9c-11e7-85ca-dcb1583c4f30.png)

I am missing the Basket API, right?
(According to https://github.com/dotnet/eShopOnContainers/wiki/03.-Setting-the-eShopOnContainers-solution-up-in-a-Windows-CLI-environment-(dotnet-CLI,-Docker-CLI-and-VS-Code)

[2017-04-06 05:45] ChristianWeyer commented on #107
Created a new issue @CESARDELATORRE ;-)

[2017-04-06 05:50] ChristianWeyer opened #158 "Running the SPA web app in docker on macOS"
When building the SPA on macOS, building with npm is successful.
But when executing docker-compose -f docker-compose.ci.build.yml up I get this error:

[code]

Already tried to run this first from the CLI:
`npm rebuild node-sass`

before running the `docker-compose -f docker-compose.ci.build.yml` up

But did not help.

[2017-04-06 17:10] chlowell commented on #157
Yes. If you check the Basket API container's logs, I expect you'll see it exited after failing to connect to rabbitmq. The Basket API can attempt to connect before rabbitmq is ready. We need to create some resiliency here.

[2017-04-06 18:03] CESARDELATORRE commented on #157
Agreed. It never happened to me when starting the containers, but it could happen.
We need to implement a resilient connection in a similar way we do for EF connections against SQL.
I'm changing the title of this issue so it is clearer to tack it down.

[2017-04-06 19:52] ardalis commented on #107
Just got latest on master an now am seeing this:
![image](https://cloud.githubusercontent.com/assets/782127/24772889/f9a43872-1ae0-11e7-9edf-98bfb53f56c5.png)

[2017-04-06 19:54] CESARDELATORRE commented on #107
@ardalis That var is defined at the .env file:
https://github.com/dotnet/eShopOnContainers/blob/master/.env
Which, by default should be set as localhost, see that in the file.

Are you getting that file when cloning the repo?

[2017-04-06 20:00] ardalis commented on #107
@CESARDELATORRE Yes, I have a .env file. I just switched to latest dev branch but see same behavior. The .env file has this in it:

ESHOP_EXTERNAL_DNS_NAME_OR_IP=localhost
ESHOP_PROD_EXTERNAL_DNS_NAME_OR_IP=10.121.122.92

But apparently it's not being read.

[2017-04-06 20:04] CESARDELATORRE commented on #107
@ardalis Weird, try to reset Docker.. I just pulled the DEV branch and everything is working for me from VS 2017 after just hitting F5. Let's take it offline if it still doesn't work for you, ok?

[2017-04-08 01:42] Wosniak opened #159 "docker-compose ignoring .env"
I´m trying to run the solution with VS2017 Community, but I´m getting the following message when vs executes docker-compose:

---------------------------
Microsoft Visual Studio
---------------------------
The ESHOP_EXTERNAL_DNS_NAME_OR_IP variable is not set. Defaulting to a blank string.

The ESHOP_PROD_EXTERNAL_DNS_NAME_OR_IP variable is not set. Defaulting to a blank string.

build path C:\Pro

[2017-04-08 03:18] ardalis commented on #159
I had this as well. Make sure you are not on the Edge docker for Windows install. Roll back to the stable install and try again. Remember to reset the docker settings for disk sharing and cpu/ram.

[2017-04-08 06:48] richardrcruzc commented on #107
-1 (VS2017)  on Win10 Entr, RAM 32GB
whn click on LOGIN: after a while got this error:
An unhandled exception occurred while processing the request.
TaskCanceledException: A task was canceled.
System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Task task)
IOException: IDX10804: Unable to retrieve document from: 'http://10.0.75.1:5105/.well-known/openid-configuration'.
Microsoft.Identity

[2017-04-08 17:51] CESARDELATORRE commented on #159
Yep. I just tested it with the following version (Docker Stable Version), today, with no issues:
![image](https://cloud.githubusercontent.com/assets/1712635/24831147/228834dc-1c49-11e7-812a-c091ae2552c0.png)

[2017-04-08 17:54] CESARDELATORRE commented on #16
I'll close this issue when we merge to MASTER.

[2017-04-08 17:54] CESARDELATORRE commented on #32
Closing. We already implemented this feature.

[2017-04-08 17:54] #32 closed

[2017-04-08 18:21] CESARDELATORRE opened #160 "Update the SPA app to use angular-cli"
Need to update the SPA app to use angular-cli.
Related to https://github.com/dotnet/eShopOnContainers/issues/148, as well.

[2017-04-08 22:50] Wosniak commented on #159
Thank you, guys.

I moved to the last stable docker for win and everything works like a charm!

Thank's once again for your support!

Eduardo Wosniak

2017-04-08 14:51 GMT-03:00 Cesar De la Torre <notifications@github.com>:

[2017-04-09 09:17] tomkerkhove commented on #153
Thank you for considering this, going to close this issue then.

[2017-04-09 09:17] #153 closed

[2017-04-10 08:32] bbs14438 opened #161 "Error with Chinese environment - hit F5"
18>Traceback (most recent call last):
18>  File "docker-compose", line 3, in <module>
18>  File "compose\cli\main.py", line 64, in main
18>  File "compose\cli\main.py", line 113, in perform_command
18>  File "compose\cli\command.py", line 36, in project_from_options
18>  File "compose\cli\command.py", line 99, in get_project
18>  File "compose\config\config.py", line 247, in find
18>UnicodeDecodeE

[2017-04-10 12:06] andrelmp commented on #160
Any branch or PR available? maybe i can help.

[2017-04-10 13:42] ppopadiyn opened #162 "[SPA] Cannot build with CLI"
Following the steps to setup the solution in a Windows CLI environment, when I run

[code]
I get the following errors:

[code]
Note that if I run _docker-compose up_ after that the MVC will be run but the SPA app at http://localhost:5104/ won't be accessible.
Just running _npm install_ and then _npm run build:prod_ on the SPA project completes successfully.

[2017-04-10 16:41] chlowell commented on #162
This is caused by aspnet/websdk [#143](https://github.com/aspnet/websdk/issues/114). Basically, the publish task copies only files which exist when it begins, therefore excluding the bundled files it generates. There's a workaround in that issue you can apply to the csproj (I've also done it [here](https://github.com/dotnet/eShopOnContainers/blob/eShopOnKubernetes/src/Web/WebSPA/WebSPA.csproj#L81)

[2017-04-10 22:41] CESARDELATORRE commented on #160
@andrelmp Thanks a lot! - That would be highly appreciated.
You could fork the DEV branch and do a PR on it when you have it ready.
Also, please attach a small document (MD) explaining the steps you need to follow when using Angluar-cli
Thanks,

[2017-04-10 22:45] CESARDELATORRE commented on #161
@bbs14438 - What version of VS 2017 are you using? Chinese?, please, specify your environment.
Also, confirm if you already followed the setup instructions here:
https://github.com/dotnet/eShopOnContainers/wiki/02.-Setting-eShopOnContainer-solution-up-in-a-Visual-Studio-2017-environment

If you did, after you confirm your environment, I will add folks from the VS Tools for Docker, as it looks like

[2017-04-11 10:54] buzzfrog commented on #107
-1 CLI
When I run the command docker-compose -f docker-compose.ci.build.yml up I get an error in the end of the comman:
ci-build_1  | /usr/share/dotnet/sdk/1.0.1/Sdks/Microsoft.NET.Sdk/build/Microsoft.NET.Publish.targets(100,5): error MSB3030: Could not copy the file "/src/src/Web/WebSPA/wwwroot/dist/main.411b08094680fcce978b.bundle.js" because it was not found. [/src/src/Web/WebSPA/WebSPA.csproj]

[2017-04-11 13:32] bbs14438 commented on #161
@CESARDELATORRE  thank you.
yes,I do it.
my environment:
Microsoft Visual Studio Enterprise 2017
版本 15.1 (26403.0) Release
VisualStudio.15.Release/15.1.0+26403.0
Microsoft .NET Framework
版本 4.7.02046

已安装的版本: Enterprise

Visual Basic 2017   00369-90000-00000-AA843
Microsoft Visual Basic 2017

Visual C# 2017   00369-90000-00000-AA843
Microsoft Visual C# 2017

Visual C++ 2017   00369-90000-00000-AA8

[2017-04-11 14:01] bbs14438 commented on #161
@CESARDELATORRE Yes,I'm Chinese.

[2017-04-11 14:32] bbs14438 commented on #161
@CESARDELATORRE This error occurs when the path contains Chinese.

[2017-04-11 15:49] CESARDELATORRE commented on #161
Have you tried to deploy by just using the Docker CLI following these instructions?:
https://github.com/dotnet/eShopOnContainers/wiki/03.-Setting-the-eShopOnContainers-solution-up-in-a-Windows-CLI-environment-(dotnet-CLI,-Docker-CLI-and-VS-Code)

I would be good to isolate if the issue is related to VS 2017 or Docker itself.
Thanks,

[2017-04-11 15:50] CESARDELATORRE commented on #159
Closing the issue.

[2017-04-11 15:50] #159 closed

[2017-04-11 15:57] CESARDELATORRE commented on #161
Can you also try to isolate if your issue is related to this known issue in docker-compose which is still open at Docker?:
https://github.com/docker/compose/issues/3817

In that case, the workaround is to use a Windows username with only ASCII characters...

[2017-04-11 16:15] CESARDELATORRE commented on #161
The VS Tools for Docker just confirmed that it’s due to Chinese characters in the docker-compose file path. It’s a limitation of docker-compose. There are a couple of issues logged on that repo to track this.
https://github.com/docker/compose/issues/4376
https://github.com/docker/compose/issues/4122

[2017-04-12 00:21] bbs14438 commented on #161
@CESARDELATORRE Thank you，My English is poor, I will try later .

[2017-04-12 08:03] ppopadiyn commented on #162
I tried the workaround but I continued getting the same build errors for the SPA project: "_Could not copy the file....._". So I didn't want to spend more time on this and eventually ran the demo with VisualStudio without any issues.

[2017-04-12 08:03] #162 closed

[2017-04-12 16:48] ajaysingh77 opened #163 "[Feedback] Code Execution on Windows 8.1 with VS2017"
I know that one of the dependency for current codebase to run is "Docker for winzdows" which only supports Windows 10. I tried to create windows 10 with nested virtualization enabled for Hyper-v but didn't work out as my host OS (windows 8.1) doesn't support nested virtualization.
Any plan to support the code execution to work on Windows 8.1 with VS2017? if not any any guidance and resource pointe

[2017-04-12 18:47] CESARDELATORRE commented on #163
@ajaysingh77 The requirements for this solution is basically "Docker".
So, you have the requirements that Docker Community Edition (aka. Docker for Windows/Mac) or Docker Enterprise Edition have. From Microsoft, we cannot change Docker's requirements.
The requirements are explained here:
https://github.com/dotnet/eShopOnContainers/wiki/00.-Dev-machine-requirements

Using Windows 8.x with Docker is

[2017-04-12 20:38] #161 closed

[2017-04-12 20:43] CESARDELATORRE commented on #107
@buzzfrog
Opening an issue with that as it is an issue from the latest version of dotnet cli. This used to work for us.
It seems it is already fixed by our team (.NET team) and will be available in the next version, soon.

[2017-04-12 20:44] CESARDELATORRE opened #164 "Error when building the SPA app from the CLI"
When running the **command docker-compose -f docker-compose.ci.build.yml up** you get an error at the end of the build process execution:
ci-build_1 | /usr/share/dotnet/sdk/1.0.1/Sdks/Microsoft.NET.Sdk/build/Microsoft.NET.Publish.targets(100,5): error MSB3030: Could not copy the file "/src/src/Web/WebSPA/wwwroot/dist/main.411b08094680fcce978b.bundle.js" because it was not found. [/src/src/Web/WebS

[2017-04-12 20:47] CESARDELATORRE commented on #164
I checked this out with the .NET CLI team. They have fixed the issue and checked in a fix (to handle generated content inside wwwroot) and will be available in the latest dotnet CLI.
The fix should make it into the next VS minor release/update, as well.

Until then, this workaround (last two targets corresponds to contents generated & deleted before publish) should help:
https://github.com/aspnet/

[2017-04-12 20:52] CESARDELATORRE commented on #107
@richardrcruzc Did you follow the steps specified at the instructions in regards the Firewall ports needed to be opened so the Identity container can work properly?
See:
https://github.com/dotnet/eShopOnContainers/wiki/02.-Setting-eShopOnContainer-solution-up-in-a-Visual-Studio-2017-environment

Also, are you deploying to Docker for Windows or Docker for Mac?
The "external" IP: 10.0.75.1 only work

[2017-04-13 07:04] dongdongmao commented on #107
If i want change database of this project to Mysql.What can I do?

[2017-04-13 16:08] babula38 opened #165 "system.digonist tool 4.3.0 is not compatatble with netcore 1.1 iissue while buidling in vs2017community"
clone the project from github try to load the solution got this error window.

"system.digonist tool 4.3.0 is not compatatble with netcore 1.1 iissue while buidling  in vs2017community"

[2017-04-13 18:16] CESARDELATORRE commented on #107
@dongdongmao We're using Entity Framework Core, so you could use the [MySQL Docker image ](https://hub.docker.com/_/mysql/)(or a real MySQL server), then change the connection strings at the docker-compose.override.yml files. However, that might not be enough. Anything specific related to SQL Server (like the Hi/Lo pattern) should be migrated to a different implementation with MySQL.
I would start

[2017-04-14 03:25] FDUdannychen opened #166 "HttpClient should be reused instead of transient"
In dev branch I saw two implementations of `IHttpClient`: `StandardHttpClient` and `ResilientHttpClient`, they are registered to be transient. However according to [this article](https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/), the socket port is still on a `TIME_WAIT` state even the client is disposed. It's recommended to reuse the `HttpClient`. And be aware of thread-safety issue

[2017-04-14 05:06] babula38 commented on #107
Many package restore error. while opening in vs2017 community and windows 7. could you please have a look on this. i know ducker need windows 10 but atleast it build in windows 7

[2017-04-14 07:01] CESARDELATORRE commented on #107
You need Windows 10 in order to run it on Docker Community Edition for Windows.

[2017-04-14 11:18] babula38 commented on #107
quick question will it need windows 10 to build the project? running the application is a different part.

[2017-04-14 16:35] CESARDELATORRE commented on #107
@babula38 - We haven't tested anything on Windows 8.x or Windows 7. But, without using Docker, you could migrate the projects to standalone Web API services, of course, since .NET Core and VS 2017 support Windows 8.x and Windows 7. Below you have the requirements for .NET Core and VS 2017:
**.NET Core is supported on the following versions of Windows:**
Windows 7 SP1
Windows 8.1
Windows 10
Windows

[2017-04-18 01:56] xewn opened #169 "不再更新了吗？"
这个项目不再更新代码了吗？

[2017-04-18 02:06] FDUdannychen commented on #169
You are looking at the master branch, consider it as a stable release branch of this project, you can see the release plan [here](https://github.com/dotnet/eShopOnContainers/wiki/01.-Roadmap-and-Milestones-for-future-releases). If you want to see the recent changes, check out [the dev branch](https://github.com/dotnet/eShopOnContainers/tree/dev).

[2017-04-18 04:50] #169 closed

[2017-04-18 12:18] dongdongmao commented on #107
Another question.How to run this project by real moblie device.For example Android？

[2017-04-18 16:01] eiximenis commented on #149
Hi.
This is fixed in commit c85e880dad4b89541068e1edfa84c31eef7d809b

New endpoints are
- POST api/v1/catalog/items to create a new item
- PUT api/v1/catalog/items to update item

Both return "Location" header with the URL of the new/updated item.

[2017-04-18 16:43] BillWagner opened #170 "Update the WebForms app to use the new catalog API"
See issue #149 for the API changes.

Once the windows-container-test branch is merged into dev, these changes will break the web forms app,

[2017-04-18 17:40] CESARDELATORRE commented on #149
Closing. But also mentioning that we're implementing basic REST requirements like resource orientation, driven by HTTP verbs, etc. but we're not implementing hypermedia. That could come in the future (it is a good thing to have in microservices) but it is not a priority for us right now.
If you see any other issue about REST compliance/improvement, please, re-open this issue and continue the threa

[2017-04-18 17:40] #149 closed

[2017-04-18 17:50] CESARDELATORRE commented on #107
@dongdongmao Basically, you need some knowledge on Xamarin apps when using Visual Studio.
We have done some "light" documentation about the Xamarin app as this project's goals are more about the server side (microservices/containers), however, these are the links you need to take into account:

Xamarin app README:
https://github.com/dotnet/eShopOnContainers/blob/master/src/Mobile/README.md

Settin

[2017-04-18 20:22] CESARDELATORRE commented on #164
Fixed. Closing the issue. Reopen if it persists.

[2017-04-18 20:22] #164 closed

[2017-04-18 20:29] CESARDELATORRE commented on #139
Closing, as Kubernetes is already in the Roadmap and work we're starting.

[2017-04-18 20:29] #139 closed

[2017-04-18 20:30] CESARDELATORRE commented on #146
This is fixed

[2017-04-18 20:30] #146 closed

[2017-04-18 20:30] CESARDELATORRE commented on #55
This is fixed. Re-open if needed.

[2017-04-18 20:30] #55 closed

[2017-04-18 20:31] #53 closed

[2017-04-18 20:35] #16 closed

[2017-04-18 20:38] CESARDELATORRE commented on #165
We're not able to reproduce this issue. Is it still happening to you? - could you try with a different machine/environment?

[2017-04-18 20:38] #163 closed

[2017-04-18 20:41] #97 closed

[2017-04-18 20:42] CESARDELATORRE commented on #154
@davidbritch, can you comment?

[2017-04-19 08:37] davidbritch commented on #154
When IdentityServer was added to the solution it was still in alpha, with no docs. The IdentityServer4 doc site redirected to the IdentityServer 3 docs, which recommended to use the implicit flow. The IdentityServer4 docs now recommend to use the hybrid flow for native clients, which requires an update to the Identity.API project, along with re-testing of the Xamarin client.

I believe that @eixim

[2017-04-19 08:59] #147 closed

[2017-04-19 11:26] larsontim12 opened #172 "[QUESTION] How to use an external SQL Server machine?"
Would it be possible to have this not use the docker SQL server database and have it point to an existing one?  I am trying to have it point to an existing 2014 SQL Server and each service comes up on its own and works fine but I can't get the docker solution to run it keeps saying that it can't find the sqlserver.  I changed all of the connection strings to point to the SQL Server in the docker f

[2017-04-19 12:47] eiximenis commented on #172
Hi!
You need to change the connection strings in the docker compose files.
Look at the file "docker-compose.override.yml" file and you'll see something like:

`
  catalog.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://0.0.0.0:5101
      - ConnectionString=Server=sql.data;Database=Microsoft.eShopOnContainers.Services.CatalogDb;User Id=sa;Password=Pas

[2017-04-19 13:01] larsontim12 commented on #172
I tried that and it hasn't worked.  In the connection string I changed sql.data to servername\SQLEXPRESS along with the database userid and password.  It still says it can not find the database.  I don't know if it is because it is running in a unix container and the SQL server is on my local.

[2017-04-19 13:16] andrelmp commented on #172
Open SQL ports on your firewall, enable TCP connections then update connection string to ```server=tcp:10.0.75.1\sqlexpress```

[2017-04-19 17:22] dongdongmao commented on #107
A problem confused me.I run this project (CLI mac) before and it worked.Now a new problem arises,
i just use docker-compose up  but i found the eshop/basket.api not run as a container so i click the button [add to cast] it cant work, and i found this exception below.

Unhandled Exception: RabbitMQ.Client.Exceptions.BrokerUnreachableException: None of the specified endpoints were reachable
 ---> Ra

[2017-04-19 18:03] CESARDELATORRE commented on #157
Yes. This is something that started in the Mac environment (not in Windows) when we added the Event Hub based on a RabbitMQ container. It is caused by the fact that when starting all the containers, in the Mac environment the RabbitMQ container must start not soon enough for the client containers/microservices. For any reason, that is not happening when starting in Docker for Windows.
In any case,

[2017-04-19 18:04] CESARDELATORRE commented on #107
@dongdongmao Related to this issue: https://github.com/dotnet/eShopOnContainers/issues/157
Yes. This is something that started in the Mac environment (not in Windows) when we added the Event Hub based on a RabbitMQ container. It is caused by the fact that when starting all the containers, in the Mac environment the RabbitMQ container must start not soon enough for the client containers/microservic

[2017-04-19 18:10] CESARDELATORRE commented on #172
Also, if you don't want to use an IP but a server name, you can add this convenient entry at the Docker Compose override file, pointing to the external server (your dev machine or any SQL Server):
**docker/compose.override.yml**
[code]

Then, you could use that server name in the connection string instead of the IP.

[2017-04-20 08:25] dongdongmao commented on #107
@CESARDELATORRE  but why it can work before? and how can i run RabbitMQ first?

[2017-04-20 17:48] CESARDELATORRE commented on #107
@dongdongmao Not sure if the version you were testing previously was not including the Event Bus and RabbitMQ container as that is something we've developed recently.
In order to run the RabbitMQ container first you'd need to remove it from the global docker-compose files and deploy it independently before deploying the whole solution.
In any case, we're in the process of fixing this resiliency is

[2017-04-21 02:35] FDUdannychen opened #174 "Possible inconsistency when publishing intergration events failed"
From the code I think it's possible to generate inconsistent data when the event and context(e.g. `OrderingContext`) is successfully saved, but failed to publish. For example, in [UpdateOrderWhenBuyerAndPaymentMethodVerifiedDomainEventHandler](https://github.com/dotnet/eShopOnContainers/blob/dev/src/Services/Ordering/Ordering.API/Application/DomainEventHandlers/BuyerAndPaymentMethodVerified/Update

[2017-04-21 17:33] CESARDELATORRE commented on #174
@FDUdannychen So, when publishing through the Event Bus, just in case there could be any error when publishing the message through RabbitMQ, we're making sure that we are persisting the event in an Integration Events Log table so each event is marked as successfully sent or not. This "achieving atomicity" approach is described in the Guide/eBook. Then, additional code/artifacts could be implemente

[2017-04-22 03:47] dongdongmao commented on #107
@CESARDELATORRE Hi，I have a problem about database of microservice container. For example if i want to show databases of SQL Server, how can i connect to it and is there any tools can help?

[2017-04-22 16:19] CESARDELATORRE commented on #107
You can do it the same way, using SQL SERVER MANAGEMEMT STUDIO. You just need to change the connection parameters, using the external IP of the Docker host. Make sure the firewall is not closing the used port, neither.
Take a look

[2017-04-23 10:34] Farb commented on #107
+1 vs2017 win 10 pro

[2017-04-24 02:00] #174 closed

[2017-04-27 21:46] CESARDELATORRE opened #177 "Refactor/Improve Polly's resilient code"
Feedback provided by Dylan Reisenberge, from Polly's organization.
We'll refactor this when possible.
Only number 1 is really desirable to change (when want to make shutdown graceful). The rest are good to have.

**1. Consider Polly's Execute/ExecuteAsync() overloads taking CancellationToken to facilitate graceful shutdown.
2. Option to use Polly's FallbackPolicy in place of catch(BrokenCircuitExc

[2017-04-27 21:51] reisenberger commented on #177
:+1: @CESARDELATORRE . Come back to me if anyone wants any elaboration, nearer the time.

[2017-04-28 16:26] #172 closed

[2017-04-28 22:58] CESARDELATORRE opened #179 "Move on and use the next version of HealthChecks Library"
The HealthCheck library at https://github.com/aspnet/HealthChecks/tree/dev/src has been evolving.
There are new capabilities, libraries and namespaces.
Need to update eShopOncContainers to use the new version of .

[2017-05-02 14:23] eiximenis commented on #179
Done in dev branch.

[2017-05-02 16:30] CESARDELATORRE commented on #160
PR accepted and working

[2017-05-02 16:30] #160 closed

[2017-05-02 17:41] CESARDELATORRE commented on #166
@FDUdannychen - It would be good to continue the discussion about this topic in here.
The point is that we're using a specific 'header bearer' in many authenticated Http calls when accessing microservices like Basket, Order, etc. When sharing the same HttpClient object as as singleton, if using our current approach with using "DefaultRequestHeaders", it would be messed up because of those headers

[2017-05-03 03:19] FDUdannychen commented on #166
Is there any other `preAction` scenarios besides setting authentication header values? IMO an `Action<HttpRequestMessage> preAction` in the method signature is too broad from the caller's perspective.

[2017-05-03 20:06] CESARDELATORRE opened #184 "The SPA basket is not visually reset to CERO items after submitting the Order"
It is just a UI issue to be fixed.
The SPA basket is not visually reset to CERO items after submitting the Order.
If you refresh the browser, it get's to cero, logically.
It is a SPA UI issue to be fixed.
![image](https://cloud.githubusercontent.com/assets/1712635/25679163/24a80758-3001-11e7-8312-a78ae73f62d9.png)

[2017-05-04 02:14] CESARDELATORRE commented on #179
Done. Closing.

[2017-05-04 02:14] #179 closed

[2017-05-04 02:35] bspann commented on #87
What about leveraging Azure AD B2C for authentication?

[2017-05-04 02:57] CESARDELATORRE commented on #87
Sure, but in the eShopOnContainers we didn't want to take any dependency on Azure subscriptions, so any developer could just grab the code, install Docker and try it: "F5 experience", easy to get started.
In upcoming forks (eShopOnAzure) we will use additional infrastructure from Azure. Azure AD B2C can be a possibility, of course.

[2017-05-04 22:21] CESARDELATORRE opened #187 "Need to migrate to MediatR 3 and evolve from Decorators to pipeline behaviors"
In MediatR 3, it was added support for pipeline behaviors.
Decorators are tough to implement in different containers so it is better to use the new pipeline behaviours.
See https://github.com/jbogard/MediatR/wiki/Behaviors

[2017-05-05 00:23] CESARDELATORRE opened #188 "Add a Jitter strategy to the Retry policy"
We might want to add a Jitter strategy to the Retry policy.
Related to this issue I opened into Polly's repo, although it could be implemented easily, too:
https://github.com/App-vNext/Polly/issues/245

Basically, a regular Retry policy can impact your system in cases of high concurrency and scalability and under high contention.
Would be great to have it Polly and not very complicated to add Jitt

[2017-05-05 00:43] reisenberger commented on #188
Added [sketch for the 'Decorrelated Jitter'](https://github.com/App-vNext/Polly/issues/245#issuecomment-299346184) suggested by the referenced article.

[2017-05-05 02:59] chromefox commented on #107
+1 VS2017 Win 10 Enterprise 12 GB

[2017-05-07 04:33] CESARDELATORRE commented on #166
What do you think about this implementation managing the HttpRequestMessage request and setting our  ResilientHttpClient as singleton?

https://github.com/dotnet-architecture/eShopOnContainers/blob/**httpclientreview**/src/Web/WebMVC/Startup.cs

https://github.com/dotnet-architecture/eShopOnContainers/blob/httpclientreview/src/BuildingBlocks/Resilience/Resilience.Http/ResilientHttpClient.cs

We're

[2017-05-08 03:16] FDUdannychen commented on #166
Looks perfect to me.

[2017-05-08 22:46] reisenberger commented on #177
Re 4 above: If/when the new form of `ResilientHttpClient` in dev branch is merged, then [this line](https://github.com/dotnet-architecture/eShopOnContainers/blob/dev/src/BuildingBlocks/Resilience/Resilience.Http/ResilientHttpClient.cs#L138):

`return policyWrapper.ExecuteAsync(() => action());`

can be changed very simply to set Polly's `ExecutionKey` for the execution, based on the `origin` varia

[2017-05-09 01:03] brunao05 commented on #107
I've managed to run through the CLI environment using Ubuntu 16 and VS Code, but I couldn't debug it. Is that possible to debug inside a container using VS Code on Linux?

[2017-05-09 01:26] CESARDELATORRE commented on #107
Nope, in order to directly debug on the Containers you need Visual Studio 2017 on Windows. As of today.

[2017-05-09 19:14] dongdongmao commented on #107
I've managed to run through the CLI  Mac and then run Docker-compose -f docker-compose.ci.build.yml up this error happend:

ci-build_1  |   ERROR in /src/src/Web/WebSPA/node_modules/extract-text-webpack-plugin/loader.js??ref--10-0!/src/src/Web/WebSPA/no
de_modules/style-loader/index.js!/src/src/Web/WebSPA/node_modules/css-loader/index.js?{"sourceMap":false,"importLoaders":1}!/src/

src/Web/WebSPA/

[2017-05-09 19:16] dongdongmao commented on #107
![image](https://cloud.githubusercontent.com/assets/7736453/25868361/03000f96-352f-11e7-8dc2-ef5af86a99a7.png)

[2017-05-09 20:12] kmusick opened #194 "Xamarin UWP & Android won't build - "...Microsoft.Bcl.Build installed and packages.config...""
Master branch, Windows 10 Creators Update. Tried in both VS2017 and VS2015 with no luck.

Attempting to rebuild UWP project in the MobileApps solution gives the following build error:

![image](https://cloud.githubusercontent.com/assets/6422056/25870302/41c2b80c-34c9-11e7-8f8d-2e7d994b2e1e.png)

Tried the fix from [stackoverflow](http://stackoverflow.com/questions/17180268/warning-all-projects-ref

[2017-05-11 15:40] davidbritch commented on #194
While VS2017 reports this error for the Android and UWP projects, it's a false error. In both cases the app builds and deploys.

Adding the Microsoft.Bcl.Build NuGet package to the UWP project doesn't help, as this package isn't required at all for UWP or any framework that supports project.json.

For peace of mind the build error can be removed by adding:

<SkipValidatePackageReferences>true</Ski

[2017-05-12 13:36] davidbritch commented on #194
Updated the .csproj for the UWP app.

[2017-05-12 13:36] #194 closed

[2017-05-15 12:43] girishgouda opened #195 "Unable to run the tests after cloning the code in vs2017"
We are unable to run the application and also see lot of functional test and integration tests are failing because of the below  reason mentioned . It looks like one of the firewall port is not opened. We are using docker for windows

Kindly help on this as we are new to containers

Message: System.AggregateException : One or more errors occurred. (A network-related or instance-specific error occu

[2017-05-15 14:26] CESARDELATORRE commented on #195
Looks like your SQL Server Linux Container is not available. Did you follow, step by step, the setup instructions available at eShopOnContainers Wiki?
You need to assign more memory to Docker so SQL Server is able to start.
Please, confirm.

[2017-05-16 08:07] JamesYing opened #196 "how can i run it on windows 7 and docker"
how can i run it on windows 7 and docker

[2017-05-16 13:34] eiximenis commented on #148
SPA is using angular 4 now :)
Closing issue.

[2017-05-16 13:34] #148 closed

[2017-05-16 13:35] eiximenis commented on #166
Ok! I close the issue then.
@FDUdannychen  feel free to reopen if needed!

[2017-05-16 13:35] #166 closed

[2017-05-16 15:23] CESARDELATORRE commented on #196
You could use the the older and deprecated "Docker Toolbox" on Windows 7: https://docs.docker.com/toolbox/toolbox_install_windows/

However, we're not supporting that configuration in eShopOnContainers.
As explained at the Wiki here: https://github.com/dotnet-architecture/eShopOnContainers/wiki/00.-Dev-machine-requirements
Even when Visual Studio 2017 supports Windows 7 or later, however, Docker r

[2017-05-18 05:17] deqing opened #197 "Avoid using environment variable ${DOCKER_BUILD_SOURCE}"
1. There is no document about this variable
2. Visual Studio set this environment variable implicitly, meaning there is no way to do similar things by command line, for example docker-compose with multiple dockers becomes impossible.

[2017-05-18 21:42] CESARDELATORRE commented on #197
@deqing As far as I know, we are not using the ${DOCKER_BUILD_SOURCE} variable in our custom code.
The only places where it is being used are at the VS2017 .yml files which are generated by VS (docker-compose.vs.debug.yml and docker-compose.vs.release.yml). Those are just used by VS when locally debugging, F5, etc. But not used in our application code for regular deployment.
I.e. We are able to de

[2017-05-19 03:49] JamesYing opened #198 "why added user.lastname to claim, but checked the user.name?"
why added user.lastname to claim, but checked the user.name in Identity.API/Services/ProfileService.cs?

` if (!string.IsNullOrWhiteSpace(user.Name))
 claims.Add(new Claim("last_name", user.LastName));`

[2017-05-20 09:40] deqing commented on #197
@CESARDELATORRE Thanks for the explanation.

If ${DOCKER_BUILD_SOURCE} variable is only used when debugging with Visual Studio, that's fine.

[2017-05-20 17:04] CESARDELATORRE commented on #197
Yep, it is only used by VS2017, not by our code. Closing this issue.
Thanks,

[2017-05-20 17:04] #197 closed

[2017-05-20 17:04] CESARDELATORRE commented on #196
Closing this issue.

[2017-05-20 17:04] #196 closed

[2017-05-23 07:36] Murf opened #201 "Not working on Mac "out of the box""
Container "eshop/catalog.ap" exits after startup, error as follows. All other containers seem to be up and working correctly

Unhandled Exception: System.AggregateException: One or more errors occurred. (A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 35 - An internal exception was caught)) ---> S

[2017-05-23 15:37] CESARDELATORRE commented on #201
@Murf Looks related to the SQL container but I cannot initially tell without experiencing the error. A few things to check:
- 1. Did you set Docker with the required memory (4GB for Docker) and procs (2 or 3) as explained in the setup procedure here: [https://github.com/dotnet-architecture/eShopOnContainers/wiki/04.-Setting-eShopOnContainer-solution-up-in-a-Mac,-VS-Code-and-CLI-environment--(dotne

[2017-05-23 16:55] CESARDELATORRE opened #202 "Change base Route at Basket.API to use the controller's Route instead of "/" so SwaggerUI will work"
The current version of the Basket.API is using this Route attribute like this:
    [Route("/")]
    [Authorize]
    public class BasketController : Controller

I believe that is preventing Swagger UI from working properly at the Basket Web API.
We might need to change that Route and make it like the rest of the Web APIs, like:
[Route("api/v1/[controller]")]

Make sure to perform any needed changes

[2017-05-23 18:44] CESARDELATORRE commented on #195
Closing for now as we didn't received any further confirmation

[2017-05-23 18:44] #195 closed

[2017-05-26 04:51] dovar21 opened #203 "Cannot start project with docker"
**Hi,
Docker installed . Another project works with docker. But this project/solution(eShopOnContainers) does not work with the docker. I can't start prpoject or solution with docker. See attachnments...**

**Windows 10
About docker**
![img1](https://cloud.githubusercontent.com/assets/5477411/26481498/d8c742c0-41fa-11e7-8d14-43cf208dc977.png)

**Visual Studio Version**

![img2](https://cloud.githu

[2017-05-26 05:44] CESARDELATORRE commented on #203
Please, follow the setup instructions at the Wiki.
You need to set the docker-compose project in Visual Studio as the default start up project.

[2017-05-26 05:47] CESARDELATORRE commented on #203
Please, follow the setup instructions at the Wiki.
This is the procedure you need to follow the first time: https://github.com/dotnet-architecture/eShopOnContainers/wiki/02.-Setting-eShopOnContainers-in-a-Visual-Studio-2017-environment

[2017-05-26 06:19] dovar21 commented on #203
Thanks for the answer!
It works.

[2017-05-26 18:47] CESARDELATORRE commented on #203
Closing now.

[2017-05-26 18:47] #203 closed

[2017-05-28 01:43] Murf commented on #201
Yes I set docker to use 5GB it was not enough, I tried 8GB in docker for mac and it works now thanks.
Might be a good idea to update the guide.

[2017-05-28 17:07] CESARDELATORRE commented on #201
4gb set to Docker is usually enough unless you have many more processes running in the Mac. I'll add a note about it. Thanks for confirming! :)

[2017-05-29 13:46] eiximenis commented on #198
Closed by #204

[2017-05-29 13:46] #198 closed

[2017-05-29 13:50] eiximenis commented on #154
Hi,
It is done in commit af2d37bcc624bc84efd970d2febbe6188f65d5d7 (in dev branch right now)

Thx!

[2017-05-30 01:08] jduartex commented on #107
I am getting the following error
An unhandled exception occurred while processing the request.

CurlException: Couldn't connect to server
System.Net.Http.CurlHandler.ThrowIfCURLEError(CURLcode error)

HttpRequestException: An error occurred while sending the request.
System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()

[2017-05-30 01:09] jduartex commented on #107
HttpRequestException: An error occurred while sending the request.
System.Runtime.ExceptionServices.ExceptionDispatchInfo.Throw()
System.Runtime.CompilerServices.TaskAwaiter.HandleNonSuccessAndDebuggerNotification(Task task)
System.Runtime.CompilerServices.ConfiguredTaskAwaitable+ConfiguredTaskAwaiter.GetResult()
System.Net.Http.HttpClient+<FinishSendAsync>d__58.MoveNext()
System.Runtime.Exception

[2017-05-30 01:44] CESARDELATORRE commented on #107
Do you get this error after refreshing the browser after you wait a couple of minutes so the Containers are all started?
Or are you always getting this error even if you wait for the containers to start?

[2017-05-30 16:26] eiximenis commented on #77
This is done in dev branch.

Commit 827018fe99696f41f8ab8b46af4546c030acad68

[2017-05-31 00:08] CESARDELATORRE commented on #201
Closing it.

[2017-05-31 00:08] #201 closed

[2017-05-31 04:24] jbogard commented on #187
Just a heads up - I'm working with the Autofac folks to figure out the right way to register behaviors. I'm more versed in StructureMap and my Autofac example isn't exactly correct.

[2017-05-31 21:06] CESARDELATORRE commented on #187
Thanks Jimmy. We'll wait until you ping again and confirm the best approach for using Autofac with MediatR 3 behaviors.
Thanks for the  for the heads-up.

[2017-05-31 23:42] CESARDELATORRE commented on #77
Closing this issue.

[2017-05-31 23:42] #77 closed

[2017-06-03 14:03] gabrielcor commented on #107
+1 CLI
On Kubernetes setup, I added bower to requiredCommands.

$requiredCommands = ("docker", "docker-compose", "kubectl", "bower")

SPA still failing with url value cannot be null but still investigating the issue.
![image](https://cloud.githubusercontent.com/assets/4804144/26754202/df588398-4843-11e7-9126-8194a27b15dc.png)

[2017-06-05 08:11] rs38 opened #205 "any efforts or impediments putting it on docker hub?"
did I miss it? what would be the easiest way, simply to let it run as a container demo?

[2017-06-05 11:17] CESARDELATORRE commented on #205
Not any impediment. :)
In fact, we already have the images in Docker Hub.
Also in Azure Container Registry which we use when deploying to ACS-Kubernetes.
We're just focusing on code because our goal is about development, .NET Core, Visual Studio 2017, etc., but it is a good idea to write how to make it run just by pulling down the containers from Docker Hub. I'll write a post on the Wiki, when pos

[2017-06-05 12:50] davidbritch opened #206 "Increase the resilience of the RequestProvider class in the mobile app"
When running the mobile app against the Docker containers, and then cleaning the containers, the database is removed and hence the user's token is deleted. The mobile app stores the access token permanently, and so when the app attempts to access the containers, the app hangs as the token the user is using no longer exists.

[2017-06-06 04:01] JamesYing opened #207 "What is the EventBus"
Hi sir,I don't konw the eventbus's feature. Now, it's only logs the data change in the eShop.

Whether it like to android's eventbus?

[2017-06-06 08:14] futugyou opened #208 "some problem in ResilientHttpClient and ResilientHttpClientFactory"
WaitAndRetry and CircuitBreaker in ResilientHttpClientFactory  doesn't work.
It may be because  the HttpInvoker method  in   ResilientHttpClient have a parameter Func<Task<T>> action.
It's parameter  should be called by 'ExecuteAsync'  not  'Execute' and Policy.Wrap should be Policy.WrapAsync.

And, WaitAndRetry and CircuitBreaker in ResilientHttpClientFactory should be WaitAndRetryAsync and Circu

[2017-06-06 09:03] CESARDELATORRE commented on #208
There was an issue in this which was fixed in the DEV brach. Have you tried the Master or the DEV branch?

[2017-06-06 13:33] #208 closed

[2017-06-06 15:23] Daniel-Svensson opened #209 "[Suggestion for eBooks] Add epub downloads"
Please add epub versions of the books in addition to the pdf versions

[2017-06-07 04:03] doc commented on #145
Was this problem ever solved for you guys? Struggling with same. Deployment target in my case is a linux container running on CloudFoundry.

[2017-06-07 14:56] chlowell commented on #145
I didn't see it again after 2f3df2715d2deb5520044cb351144641b8d8f7c7.

[2017-06-08 01:45] #207 closed

[2017-06-08 22:21] lennieh commented on #107
-1 VS2017  The build has hung pulling library/rabbitmq. Can't stop the build, can't close VS2017....

[2017-06-10 05:51] FDUdannychen opened #210 "KeyNotFoundException when order doesn't exist"
In [Ordering.API/OrderController.GetOrder(int orderId)](https://github.com/dotnet-architecture/eShopOnContainers/blob/master/src/Services/Ordering/Ordering.API/Controllers/OrdersController.cs#L61) I saw if no order can be found, [OrderQuries](https://github.com/dotnet-architecture/eShopOnContainers/blob/master/src/Services/Ordering/Ordering.API/Application/Queries/OrderQueries.cs#L41) throws an `K

[2017-06-10 10:58] Rocinante89 commented on #107
+1 (VS2017) Looking Good!

[2017-06-12 10:30] davidbritch opened #212 "Unable to create a new order"
When running the Xamarin client (UWP) against local Docker containers and creating a new order (checking out), a POST request is made to the following endpoint:

&lt;base endpoint&gt;:5102/api/v1/orders/new

The response from the POST request contains status code 500, with the reason being "Internal Server Error", and the internal message being "Object reference not set to an instance of an object

[2017-06-13 08:16] eiximenis commented on #210
Hi @FDUdannychen

IMHO from a REST perspective a better option is to return a 404: you are asking for a resource (specific order) and this resource do not exists, so a 404 :)

Returning `null` is not good: what we should return to the caller? A serialized null (easy in JSON, not-so-easy in XML)?

We could use a No-Content (204), but this is definitely worse: caller can assume that any request retu

[2017-06-13 08:34] FDUdannychen commented on #210
@eiximenis I'm not blaming the web API returns 404. I'm wondering why OrderQueries.GetOrder(id) throws an `KeyNotFoundException`, instead of returning `null`.

[2017-06-13 09:29] eiximenis commented on #210
Hi again @FDUdannychen

Sorry, I missunderstood your question (my fault to no read the code you linked). I, honestly, don't have a good answer for this ;)

From a "purist" point of view, throwing an exception is not a bad idea: asking for a key that don't exists is (or should be) an exceptional thing, and is better handled using exceptions. That allows for better separation of concerns in classes

[2017-06-13 10:45] FDUdannychen commented on #210
@eiximenis IMO if use exceptions, a custom `OrderNotFoundException` is better than `KeyNotFoundException`, `id` is the key of `order` (in the database), that's true, but it shouldn't be a rule applied in the API. Let's say the order has another unique property named "LogisticsNumber" and we have `OrderQueries.GetOrder(string logisticsNumber)`, will this method throws `KeyNotFoundException` when or

[2017-06-13 19:18] GrzegorzKozub commented on #107
**-1 (VS2017)**

I run into 2 problems that I managed to work around. Hopefully this info helps someone.

**NuGet package restore issue**

Auto NuGet package restore in VS2017 that kicks in as soon as I open the solution is unable to complete due to the following error. This sometimes prevents VS from completing the restore and, in turn, from building or running the solution. The screenshot only s

[2017-06-13 21:39] iancooper commented on #157
We fix this in Brighter using Polly to run a retry loop in the event we can't reach RMQ. We see the Docker race condition a lot, as it takes time for RMQ to start, even if you explicitly tell on the dependency. I can point you in the direction of our code if you need to see what we are doing, but should be self-evident

[2017-06-13 21:56] CESARDELATORRE commented on #157
Right. This was aleady fixed a few weeks ago by using Polly's policies. See here:
https://github.com/dotnet-architecture/eShopOnContainers/blob/master/src/BuildingBlocks/EventBus/EventBusRabbitMQ/DefaultRabbitMQPersisterConnection.cs

Ian, if you have any feedback about the code, please tell me. But so far it is working good for us.
I'm closing this issue.

[2017-06-13 21:56] #157 closed

[2017-06-13 22:21] CESARDELATORRE commented on #205
Closing this since there's no any impediment for this. In fact, we already have the images in Docker Hub. Here:
https://hub.docker.com/u/eshop/dashboard/

But this application has not been created because of a demo on Docker but focus on the code and Visual Studio. That's why we focus on the F5 experience in VS for developers, focus on the code, instead of simply running a demo in Docker (That can

[2017-06-13 22:21] #205 closed

[2017-06-14 02:02] command0r commented on #107
Hello colleagues,
Don't know what's wrong. I've got docker running, I have configured it according to instructions. Trying to run Docker-compose - build hangs infinitely on the first pulling step (doesn't matter if I run it from VS or command line):
`1>Building webstatus
1>Step 1/6 : FROM microsoft/aspnetcore:1.1.2
1>1.1.2: Pulling from microsoft/aspnetcore`

Another issue comes up when I'm trying

[2017-06-14 05:44] rs38 commented on #205
thanks for the hints!

[2017-06-14 16:52] CESARDELATORRE commented on #107
@command0r Do not launch the global solution as you will have incompatibilities with the Android emulator which is not compatible with Hyper-V needed by Docker.
As stated in the Wiki and procedures, use the Open solution eShopOnContainers-ServicesAndWebApps.sln
solution.
If you want to test the Xamarin app, you have 3 choices:
1. Just use the Xamarin app in "mock data" mode that we have in the app

[2017-06-14 19:36] command0r commented on #107
Hi Cesar,

Thanks for your prompt reply. I've been to your session on MSBuild conference last month btw, it was awesome. My personal experience on the desktop computer is not that good so far (concerning the compute power, it's not an issue, as I have Intel 4.7Ghz, quad core, 32Gb RAM), no obvious network issues, as everything else is working fine. It is all clear about Xamarin, thank you for the

[2017-06-14 23:16] CESARDELATORRE commented on #107
@command0r Really weird. First time I see that Docker CLI issue in a Windows machine with Docker. If a regular docker pull image doesn't work for you, then you have some kind of Windows machine issue or network issue. Maybe there's a firewall in your company that is not allowing some special communication with Docker Hub? - In any case, this issue doesn't have anything to do with our development,

[2017-06-16 12:53] davidbritch opened #214 "Implement PKCE in the Xamarin client"
From the OAuth 2 spec for native apps:

"Public native app clients MUST implement the Proof Key for Code Exchange extension to OAuth".

Therefore, use PKCE when communicating with IdentityServer.

https://tools.ietf.org/html/draft-ietf-oauth-native-apps-12

[2017-06-16 12:57] davidbritch opened #215 "Investigate using the OIDC library to communicate with IdentityServer from the Xamarin client"
The OIDCClient is certified by the OpenID Foundation and represents a best practice for communicating with IdentityServer. Investigate using it from the Xamarin client, instead of consuming the REST APIs manually.

[2017-06-16 13:00] davidbritch opened #216 "Replace the WebView in the Xamarin client with device web browsers"
From the OAuth 2 spec for native apps:

"The best current practice for authorising users in native apps is to perform the OAuth authorisation request in an external user-agent (typically the browser), rather than an embedded user-agent (such as one implement with web-views).

Previously it was common for native apps to use embedded user-agents (commonly implemented with web-views) for OAuth author

[2017-06-16 13:02] davidbritch commented on #154
This is now in the MASTER branch so closing the issue.

[2017-06-16 13:02] #154 closed

[2017-06-19 16:18] CESARDELATORRE commented on #212
We have changed the Order process so that's why the Xamarin app is failing. We'll fix this out asap in the DEV branch, then merge to Master.

[2017-06-22 00:53] sg1970 commented on #107
This is just not proxy aware un-fortunately like most tech comming out these days making me wonder if Iam the only one that works behind a proxy !!! The project builds fine but wont run when I hit F5 as it runs into a proxy error. I get the error (see below) on the Docker Compose project.

I tried these things :

1. Set Proxy credentials on the docker settings
2. set http_proxy  and https_proxy en

[2017-06-22 11:31] SychevIgor commented on #165
@babula38 do you still have this issue?

[2017-06-22 17:53] CESARDELATORRE commented on #107
@sg1970 This is related to your Docker environment configuration since you need to use a proxy.
Basically, you need to have access to https://hub.docker.com/ in order to pull/download the base Docker images.
You can try to manually pull/download the base images you see on every dockerfile, or the infrastructure containers, like running the following Docker CLI commands from the command prompt (onc

[2017-06-22 22:06] sg1970 commented on #107
@CESARDELATORRE  Thanks for the quick response. Greatly appreciate that !

1. I have access to docker hub (thru the same corporate proxy)
2. I can manually download the images from command prompt (see logs below)
3. So I was able to successfully pull all Docker images you listed

But still stuck with the same Proxy ... It just wont run thru Visual Studio !

I realize that it has nothing to do with

[2017-06-22 22:27] CESARDELATORRE commented on #107
@sg1970 Interesting... If it is about Visual Studio and not really about Docker CLI, I'll ping the VS Docker Tools team guys. What is your email? Please, send me an email to CESARDL at Microsoft.com so I copy you into the thread I'll open with the VS Docker Tools team guys.

[2017-06-22 22:34] CESARDELATORRE opened #224 "Possible issue with "VS Tools for Docker" when there's a network proxy to access Docker Hub"
Looks like VS Tools for Docker can have issues when there's a network proxy in between the dev machine and Docker Hub.
However, the Docker CLI, just by using "docker pull" looks like that works ok.
so the issue might be just related to VS Tools for Docker?
---
Original thread from:
https://github.com/dotnet-architecture/eShopOnContainers/issues/107#issuecomment-310515895

sg1970 commented 22 hours

[2017-06-22 23:18] dbreshears commented on #224
Our Docker Tools extension is downloading a script in order to install the debugger which at first glance appears to be the issue.   We will need to look into how to address the proxy issue with this.

As a workaround,  can you try downloading the file from https://aka.ms/getvsdbgps1 and place it in the %temp% folder.   If we find that file sitting there we won’t attempt to download it again.

[2017-06-22 23:41] sg1970 commented on #224
@dbreshears  thanks for the quick response.

1. Copied the .ps1 script to my %temp% folder
2. Unblocked it (right click unblock)
3. Closed VS and re-opened in elevated mode
4. Opened my Solution and hit F5 with Docker Compose Project set as the startup proj.

There is progress but unfortunately I have a new problem (missing a directory ) :
`
Starting: "docker" exec -i ac81399cf74c /clrdbg/vsdbg/vs

[2017-06-22 23:55] sg1970 commented on #224
@dbreshears quick update: Iam able to reproduce this error on a simple Helloworld webapi project also (so that rules out any code issues).

[2017-06-23 00:06] dbreshears commented on #224
@sg1970 .   Which build of VS do you have from help about?

[2017-06-23 00:14] dbreshears commented on #224
@sg1970.  I see that others have hit this and mentioned that restarting Docker has fixed things.   Can you try that?    https://github.com/dotnet/dotnet-docker/issues/162

[2017-06-23 02:32] sg1970 commented on #224
@dbreshears I tried re-starting Docker. It did not make any difference. However I notice that the  %userprofile%\clrdbg\vsdbg folder did not exist. only the clrdbg folder exists and it was empty. I manually created the vsdbg folder and re-ran the app. It failed but I see 2 files success_rid.txt and success_version.txt.

My VS Version = 15.2(26430.13)
Docker version = 17.03 .1-ce-win12(12058)

Also

[2017-06-23 18:00] sg1970 commented on #224
@dbreshears I figured out a work around based on the code in the GetVsDbg.ps1 powershell script. I realized that it was downloading files needed for vsdbg but the URL to download is constructed at runtime based on 2 params (RID and Version).  So basically it comes down to stitiching that URL and downloading the .zip file and extracting it to %userprofile%\clrdbg\vsdbg\.

Steps:

1. if the vsdbg fo

[2017-06-24 01:12] lixinchuang opened #225 "An exception of type 'System.AggregateException' occurred in System.Private.CoreLib.ni.dll but was not handled in user code"
when I start the solution:

An exception of type 'System.AggregateException' occurred in System.Private.CoreLib.ni.dll but was not handled in user code

[2017-06-24 02:14] lixinchuang commented on #225
I am sorry,please close this question.
The memory and cpu  setting on the docker is wrong

[2017-06-26 16:24] dbreshears commented on #224
@sg1970.   Glad you were able to get this to work.   How did you download the .zip file,  through a browser?

[2017-06-26 16:50] dbreshears commented on #224
@sg1970.  Would be interested to know if you were able to download https://aka.ms/GetVSDbg.ps1 via Internet Explorer.  It seems that WebClient would use the same proxy settings as IE if interpreting this doc correctly ->https://msdn.microsoft.com/en-us/library/system.net.webclient.proxy(v=vs.110).aspx

[2017-06-26 19:22] marcote opened #226 "Grace Period Manager Client is trying to connect to database server"
Hi there,

When running the app using `docker-compose up ` using `dev` branch I have the following errors:

[code]

`graceperiodmanager_1` keeps indefinitely trying to connect to something without success.

SPA site works, but seeing this in the console is rather annoying.

Details:
Docker Version 17.03.1-ce-mac12 (17661)
Branch: Dev

Not sure what other details I should provide.

Thanks in advanc

[2017-06-26 21:37] sg1970 commented on #224
@dbreshears Yes I downloaded it from my browser (Chrome) from behind the same proxy. But the URL you have in your last post is incorrect. you had it right on the post you made on Thursday. So the URL that works is:  https://aka.ms/getvsdbgps1.

However I never got it to work thru Visual Studio 2017 so that is still an issue.

[2017-06-27 16:58] marcote opened #228 "[Feedback] Consider using Bash instead of Powershell scripts"
Hi there,

It would be awesome if the team consider using bash scripts instead of poweshell ones. Bash scripts cover both platforms particularly in Windows using the Linux Subsystem.

macOS users like me have to translate .ps1 scripts to have a similar experience and I think that's something could be improve, specially in an architecture that targets different platforms.

Thanks

[2017-06-27 20:32] marcote commented on #158
I had a similar issue, but running `yarn install` instead of `npm install` did the trick. I still don't know the root cause, but it seems `npm` went nuts.

HTH someone

[2017-06-28 16:51] shaijujanardhanan opened #229 "The eShopOnContainers.sln file is missing entry for DataProtection project"
Unable to resolve '..\eShopOnContainers-master\src\BuildingBlocks\DataProtection\DataProtection\DataProtection.csproj' for '.NETCoreApp,Version=v1.1'.

[2017-06-28 21:12] marcote opened #230 "K8s deployments do not reflect/match current docker-compose"
Hi there,

I tried to run the application and is really hard to understand all the moving pieces in order to deploy it in a Kubernetes cluster. On top of that, I'm services in the docker-compose file that are not present in existing deployments.

Maybe the solution is not ready yet for this kind of deployments.

Thanks

[2017-06-29 02:13] #210 closed

[2017-06-30 14:19] eiximenis commented on #230
Hi!
Please, take a look at dev branch :)
I updated the kubernetes script, and the docs.

Script covers various possible scenarios, but here are the two more common.

Pushing images in DockerHub in your own organization and use these images for k8s:

[code]

Using the images  provided my Microsoft:

[code]

The file README.k8s.md contains more info about the deployment.

I am still working on it, f

[2017-06-30 14:26] eiximenis commented on #226
Hi @marcote

It is just an annoying log that occurs even thought when graceperiodmanager can connect to db server. Will fix that.

[2017-06-30 14:28] eiximenis commented on #212
Hi @davidbritch

Xamarin app has been updated and it is on dev branch. :)

[2017-06-30 19:03] marcote commented on #230
Thanks for the update. I'll keep an eye on those updates :)

[2017-07-03 08:24] davidbritch opened #231 "Improve app startup time of Xamarin client"
It's been reported that it takes around 12 secs for the Xamarin client to startup on a physical Nexus 4. While this can be improved by setting specific compiler and linker options, a big saving can be made by refactoring the App class. At the moment this class initialises all the converters, which delays the appearance of the first page. Therefore, at a minimum, move the converter initialisation t

[2017-07-03 15:08] eiximenis commented on #230
I pushed some changes in the dev branch.

Thx!

[2017-07-04 06:41] #212 closed

[2017-07-04 06:46] #225 closed

[2017-07-06 19:33] tmagalhaes commented on #229
You have to add the DataProtection Project to the solution and then build it again.
I've had to do the same to the Markting.Api projetc and Location.Api Project.
I'm not sure if this is a known bug, but it's importante to be fixed. Otherwise the new developers that push this project will have the same troubles to make it build.

[2017-07-07 11:07] i02coroj opened #233 "[QUESTION] Authorize basket API against Identity server from Swagger"
Hi.
I've got an issue when debugging and testing the APIs:
The thing is when I try to debug any method in an authorized api (for example basket) I always obviously get an 401 error.
To avoid it, I run one of the client applications and that way I can authenticate.
But that's slow, I would like to just debug basket API controllers using Swagger interface without having to run any client.

I see the

[2017-07-08 00:44] skynode opened #234 "No activity here for almost a month"
Is this project dead? No recent commits or closing of very simple open issues. Is everybody on holiday at the same time?

[2017-07-08 01:48] jbogard commented on #234
Well that's not very polite

On Fri, Jul 7, 2017 at 7:44 PM Dexter Valkyrie <notifications@github.com>
wrote:

[2017-07-08 06:21] natiki commented on #234
@skynode so made any contributions yet yourself?

[2017-07-08 08:00] eiximenis commented on #234
Hi @skynode!

No, the project is not dead! We are actively working on dev branch. Please take a look on dev branch to see on what we are working right now. But a summary would be:

1. Enhanced k8s scripts to support more deployment scenarios
2. Azure implementations of some services (i.e EventBus)
3. Azure ARM scripts to allow deployment of all needed Azure resources. Of course eShopOnContainers c

[2017-07-08 08:42] skynode commented on #234
If that came off as rude, I apologize, was completely unintentional. Actually thought it would be construed as comical (esp the bit about everybody going off on summer holidays simultaneously!).

Thank you @eiximenis!

[2017-07-08 08:43] #234 closed

[2017-07-09 14:12] moliveto opened #236 "Porting from VS2015 to VS2017 problem with Package Microsoft.TestPlatform.ObjectModel"
Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1202	Package Microsoft.TestPlatform.ObjectModel 11.0.0 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1) / win8-x64. Package Microsoft.TestPlatform.ObjectModel 11.0.0 supports:
  - net35 (.NETFramework,Version=v3.5)
  - portable-net45+win8+wp8+wpa81 (.NETPortable,Version=v0.0,Profile=Profile259)	InfinitasHotelProvi

[2017-07-10 17:45] CESARDELATORRE commented on #230
Closing as the Kubernetes Scripts at DEV branch should have be deploying all the microservices

[2017-07-10 17:45] #230 closed

[2017-07-10 17:47] CESARDELATORRE commented on #236
Closing. This issue doesn't look related to eShopOnContainers which only supports VS2017 (Master and Dev branch)

[2017-07-10 17:47] #236 closed

[2017-07-10 17:51] CESARDELATORRE commented on #229
We'll fix this. However, we recommend to use the eShopOnContainers-ServicesAndWebApps.sln solution which focuses only on the "server side" projects.
Or the eShopOnContainers-MobileApps.sln for the Xamarin apps.
Having both, Xamarin client apps and server-side projects within the same solution should only be used for a demo if you want to show ALL the projects. But when working with it, it is bette

[2017-07-10 17:53] tmagalhaes commented on #229
Thanks!

[2017-07-10 17:55] CESARDELATORRE commented on #234
We've been adding a lot of features at the DEV branch, lately. So, nope, it is not dead and it'll be alive for a long time. :)

[2017-07-10 20:40] CESARDELATORRE commented on #226
I just eliminated that informational log message that the code was performing every time it is querying/polling to the Ordering database. We don't really need that logging message.

[2017-07-10 20:40] #226 closed

[2017-07-10 23:17] ridomin opened #237 "eShopOnContainers.sln does not build"
Looks like there are missing projects like DataProtection

[2017-07-11 13:07] i02coroj commented on #233
I guess this was the wrong forum to put this question.
Just if someone is curious: I solved the issue adding a security definition in Swagger defintion (in Startup --> ConfigureServices). Auth folder is not actually needed.

[2017-07-11 13:07] #233 closed

[2017-07-12 09:37] ramonTC commented on #233
Hi i02coroj,

We have added the possibility to get authorize through swagger in APIs.
Hopefully, this will be integrated in Master branch today.

Thanks.

[2017-07-12 11:22] i02coroj commented on #233
Great.
Thank you ramonTC.

[2017-07-14 14:06] robpahl opened #238 "ESHOP_AZURE_STORAGE_CATALOG_NAME variable is not se"
Building the 'eShopOnContainers - ServicesAndWebApps'
the following variables are reported empty, defaulting to a blank strings

ESHOP_AZURE_STORAGE_CATALOG_NAME
ESHOP_AZURE_STORAGE_CATALOG_KEY
ESHOP_AZUREFUNC_CAMPAIGN_DETAILS_URI
ESHOP_AZURE_STORAGE_MARKETING_NAME
ESHOP_AZURE_STORAGE_MARKETING_KEY

resulting in a PrepareForLaunch task fail:
I'm Probably missed/omitted something but I do not figur

[2017-07-14 15:20] CESARDELATORRE commented on #238
Those env vars are only needed when Deploying to Azure the opt-in elements for "production" environments.
When deploying to a dev environment with just Docker for Windows in your dev Machine, we have F5 experience, so no need of anything related to Azure. What branch are you using? Use eShopOnContainers/DEV.
Not sure why you are getting that error now.. it should not happen in a dev environment..

[2017-07-14 16:07] robpahl commented on #238
Hmmm. just downloaded the .zip today and tried to run straight up.  Could it be related to me running in nested Virtualization mode,. 'Docker in a VM under Hyper-v'?

[2017-07-14 16:17] robpahl commented on #238
the 'eShopOnContainers-dev' is what I have.

[2017-07-14 21:52] dquijada opened #239 "gateway api"
I was wondering if you are planning to develop a version of this project which contains gateway apis (as the book recommends). I'm trying to build a platform based on microservices architecture, but I'm having a hard time authorizing apis.

Should I authorize at microservice level only, or should I authorize at gateway api level, or both?

How am I supposed to authorized based on roles? do roles c

[2017-07-15 15:40] robpahl opened #240 "Fail 2 Build"
I get the following type of build errors

1>C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\Microsoft.Common.CurrentVersion.targets(4633,5): error MSB3491: Could not write lines to file "obj\Debug\netstandard1.3\Microsoft.Extensions.HealthChecks.AzureStorage.csproj.FileListAbsolute.txt". The specified path, file name, or both are too long. The fully qualified file n

[2017-07-15 17:19] CESARDELATORRE commented on #240
A few actions to check:
- Make sure you follow the setup instructions provided at the Wiki, when using VS 2017, step by step.
- Make sure you use the solution eShopOnContainers-ServicesAndWebApps.sln
- Change your base folder for your local GitHub repo to a shorter local path, like C:\GitRepos\eShopOnContainers

Please, answer if you still have issues after following the above recommendations.

[2017-07-15 17:21] CESARDELATORRE commented on #237
Yes, that particular global solution needs to be fixed. We usually use the eShopOnContainers-ServicesAndWebApps.sln solution which is the one mentioned to be used at the Wiki when working with services and Docker.

[2017-07-15 17:23] CESARDELATORRE commented on #238
Could be. Docker for Windows uses Hyper-V so a nested virtualization mode could be problematic. We don't use and have not tested Docker for Windows in nested virtualization mode, so we don't support that environment. Might be possible that Docker doesn't support that environment, not sure.

[2017-07-15 17:35] CESARDELATORRE commented on #239
If you add a Gateway API, initially, you wouldn't need to authorize at Microservices level as you could protect the internal Microservices by NOT publishing them out of the Docker Host, just by removing that line in the Docker-compose files, so the Microservices could only be accessed by other Containers within the Docker host thru the "internal port" of each Container.
We're not planning to add a

[2017-07-15 17:38] CESARDELATORRE commented on #239
About authorization and roles, it depends on the used system. Since we're currently using IdentityServer4, please, look at examples and documentation from IdentityServer4 about using roles. Our current authorization system at eShopOnContainers is pretty basic.

[2017-07-15 20:19] robpahl commented on #240
eally close now.

I'm down to two scenarios. On  a clean machine I see the following:

... sudio.Docker.Compose.targets(192,5): error MSB4018: The "PrepareForLaunch" task failed unexpectedly.
... sudio.Docker.Compose.targets(192,5): error MSB4018: Microsoft.DotNet.Docker.CommandLineClientException: The ESHOP_AZURE_STORAGE_CATALOG_NAME variable is not set. Defaulting to a blank string.
... sudio.Do

[2017-07-15 20:38] CESARDELATORRE commented on #240
Are you following the procedures at the Wiki, step by step? The Azure variables are not needed when deploying to a Docker for Windows dev environment

[2017-07-15 20:51] robpahl commented on #240
The only thing I have omitted related to the Wiki instructions are the Docker advanced settings (3 CPU's, 4 GB. and the Shared drive settings) This due to me not having the Advanced alternative inte the Docker settings. (Not sure why, downloaded per instructions, and see no other package.) I have run some other Test and Docker debugging worked out there.  Hmm. Getting late here, will look with fre

[2017-07-15 20:54] CESARDELATORRE commented on #240
You need to do that in Docker for Windows Settings. Other than that you won't be able to run the SQL Server container which requires more memory. Also you need to share the drives or Visual Studio won't be able to launch/debug.

[2017-07-15 21:09] robpahl commented on #240
For some reason "Docker's system tray->Settings->Advanced " Settings are not available, but after some googling I found out an alternative. Open the Hyper-V Manager and set the params. for MobyLinuxVM.

It still do not build. I will pause for now, and look fresh tomorrow. Thanks Cesar for taking the time, appreciated!

[2017-07-17 19:29] dquijada commented on #239
understood! thanks!

[2017-07-17 19:29] #239 closed

[2017-07-18 13:30] davidbritch opened #242 "eShopOnContainers Mobile App doesn't build in VSMac"
The eShopOnContainers mobile app doesn't build in VSMac. There are 19 build errors because it can't import the System.ComponentModel.DataAnnotations namespace without changing the PCL profile.

Then, once those errors go away, it still won't build on either iOS or Android (not tried UWP) because it can't resolve the 'Plugin.Geolocator.Abstractions' assembly.

Last time I tried the mobile app it wo

[2017-07-18 17:21] davidbritch commented on #242
https://developercommunity.visualstudio.com/content/problem/80508/references-are-broken-even-though-nugets-have-been.html

[2017-07-18 17:27] CESARDELATORRE commented on #242
It should be fixed now in the DEV branch (which is now the by default branch until we freeze the code, as we want PRs to go to DEV branch)

[2017-07-18 17:28] CESARDELATORRE commented on #240
Closing, for now, as this looks like an environment issue with no further info.

[2017-07-18 17:28] #240 closed

[2017-07-18 17:29] CESARDELATORRE commented on #238
Closing, for now, as it looks an environment issue when using nested virtualization.

[2017-07-18 17:29] #238 closed

[2017-07-18 17:38] davidbritch commented on #242
It's definitely NOT fully fixed in the DEV branch. While the 19 build errors have gone, and it builds and runs fine on Android, there's still one build error on iOS (from VSMac):

Error MT2002: Failed to resolve assembly: 'Plugin.Geolocator.Abstractions, Version=3.0.4.0, Culture=neutral, PublicKeyToken=null' (MT2002) (eShopOnContainers.iOS)

[2017-07-18 17:40] CESARDELATORRE commented on #242
OK, we'll continue fixing it plus testing the execution with fake data AND consuming the Docker containers.

[2017-07-19 03:20] twingoliu opened #243 "docker-compose project load error"
![qq 20170719104604](https://user-images.githubusercontent.com/12110186/28349248-302f2426-6c74-11e7-9f78-68a70ea58c81.png)

[2017-07-19 04:38] CESARDELATORRE commented on #243
Can you try with an English version of VS 2017? I'd like to make sure if this is a localized to ChineseVV2017 issue so we escalate it to the VS Tools for Docker team.

[2017-07-19 06:25] onlyforkbj opened #244 "Question: Getting Starting Guide"
Hi,
Is there a getting started guide if I want to run and debug the application with Services and Web App solution? I tried to run the application using docker tools but run into issues with SQL Server availablity and etc., It would be really good if there is some information that states about Pre-Requites (steps/tools) needed to run the application.

Thanks

[2017-07-19 06:49] onlyforkbj commented on #244
I think we have it already documented and found this link

https://github.com/dotnet-architecture/eShopOnContainers/wiki/02.-Setting-eShopOnContainers-in-a-Visual-Studio-2017-environment

Thanks.

[2017-07-19 06:49] #244 closed

[2017-07-19 07:54] MarcinHoppe commented on #243
I had the same thing when VS 2017 was installed by installer using pl-PL locale. Reinstalling VS with en-US locale did the trick:

[2017-07-19 12:09] dooney opened #245 "Catalog.API Container Runtime Error- System.IO.FileNotFoundException: Could not find file '/app/Setup/CatalogItems.zip'"
It is due to the file 'Catalogitems.zip' with a lowercase 'i' in src/Services/Catalog/Catalog.API/Setup/

[2017-07-19 13:14] robpahl commented on #240
To fill in the resolution. My rookie mistake was that I had changed the Docker settings to use "Windows Containers". Once reverting to the default settings all worked like a charm.

[2017-07-19 13:19] robpahl opened #246 "rabbitmq management console"
Not an Issue, however I need some pointers as how I can enable access to the RabbitMQ management console?
I guess I just have to open the management Port, but as I am somewhat of a rookie here I would appreciate to just get a pointer as how to open this up in the Debug build.

[2017-07-19 14:34] robpahl opened #247 "### Test the SPA web application"
Trying to run the WebSPA however the port (5104) in docker-compose.override does not seem to work.

[code]

and not really clear in the Readme.MD of the WebSPA project. :)

[code]

[2017-07-19 16:41] CESARDELATORRE commented on #247
Have you followed the SPA setup instructions at the Wiki?
Before Deploying, follow the Wiki article in the repo explaining how to set up the SPA App. That has to be done at least once before Deploying from VS2017 to Docker.
Here: https://github.com/dotnet-architecture/eShopOnContainers/wiki/06.-Setting-the-Web-SPA-application-up
This is referenced from the setting up the up in VS 2017 wiki post, t

[2017-07-19 18:39] robpahl commented on #247
thnx, all done...

[2017-07-19 20:31] eiximenis commented on #245
Need to change the casing in the Git index... Thanks!

[2017-07-19 21:50] CESARDELATORRE commented on #247
Closing it

[2017-07-19 21:50] #247 closed

[2017-07-20 05:39] twingoliu commented on #243
I was reinstalled an enterprise version of vs2017，and the issue was gone!

[2017-07-20 05:39] #243 closed

[2017-07-20 07:01] MarcinHoppe commented on #246
@robpahl You need to use an image with the management plugin enabled and also expose the default management API port. This is what worked for me (in `docker-compose.yml`):

[code]

[2017-07-20 08:46] aqueenan commented on #60
That doesn't seem to fix the problem.

The MVC container can access http://identity.api:5105:

[code]

It cannot connect to http://10.0.75.1:5105 though:

[code]

The container is not in the 10.0.75.0 bridge subnet - it is in a bridge set up by Docker Compose. The IP address of the container is 172.18.0.5. http://172.18.0.1:5105 works correctly from inside the container, but is not visible to the

[2017-07-20 10:43] robpahl commented on #246
@MarcinHoppe  Works perfect, huge thanks for taking the time to share!

[2017-07-20 12:18] MarcinHoppe commented on #246
Happy to help.

@CESARDELATORRE Would it be good to include this tip in the documentation?

[2017-07-20 15:28] davidbritch commented on #242
I've fixed the iOS build error in the DEV branch, and also the iOS test runner project.

[2017-07-20 18:10] CESARDELATORRE commented on #246
Yes, you need to do that. Agreed, this is a good point for the documentation.

[2017-07-21 12:50] dooney opened #248 "[Feedback] Identity.API Design - Set scope names as config in DB or similar, not hard-coded"
1. Couplings. Can see dependencies on the other microservices.
2. MVC. Reason?

[2017-07-21 16:12] eiximenis commented on #248
Hi!

1. Which dependencies are you referring?
2. Identity.API is a customization of IdSvr. IdSvr is a MVC app. MVC is used for showing login/logout pages (and any other page related with identity management flow).

Probably Identity.API is not the best name for this service, because is not an API, it is really a full app.

[2017-07-22 02:30] dooney commented on #248
Thanks for the reply.

1. Can see client registration hard coding in startup and configuration.
2. Think API is a better solution than MVC here.

[2017-07-22 02:53] CESARDELATORRE commented on #248
Can you point to specific lines of code in regards the hard coded dependencies that you mean?

[2017-07-22 07:23] dooney commented on #248
Definitely here, will find out more:

eShopOnContainers/src/Services/Identity/Identity.API/Configuration/Config.cs

[2017-07-22 17:18] CESARDELATORRE commented on #248
So, what's the concrete code you propose for IdentityServer4 here? The Identity system needs to know what ApiResource is being requested, basically, it needs to "know" about the application resources.
That's the target usage for the API ApiResource, for instance.
If you propose a better code we'd be happy to accept pull requests with it, of course. :)

[2017-07-22 17:33] eiximenis commented on #248
Hi @dooney,

The file you are pointing contains the definition of OIDC clients and OIDC scopes. This is not directly related to any other microservice. To keep things simple we are mapping one scope to one service. So, following code:

[code]

Is **not** defining any microservice. It is just defining one scope (permission) that any client could request.

The clients definition contains **all clien

[2017-07-22 17:35] eiximenis commented on #248
Just to clarify, we have the config by code to keep the things simple. But in complex systems this configuration (scopes and clients) could be read from database, allowing the creation of new scopes and clients without any impact on the OIDC server.

But again, i want to make clear that scope != microservice.

[2017-07-22 18:54] dillorscroft commented on #248
Identity Server allows config to be defined in code and through a database.  If this is to be a reference architecture I'd suggest the database route however identity server does not prescribe the provider to use and in this context I think code based config is fine.

[2017-07-23 03:57] dooney commented on #248
Can't deny this is coupling since have to change the CODE here when create new microservices, makes more sense to put this part into database.

[2017-07-25 12:33] ASADeveloper opened #249 "Localization"
Any thought about the localization of messages and UI components?
I can't think of any non-trivial application which doesn't have localization.

By the way I have to say that this github repo reminds me of the N-Layered Domain-Oriented Architecture Guide with .NET (http://microsoftnlayerapp.codeplex.com).
Especially when I see Cesar and Unai in here. So it's like a déjà vu after 7 years ...
I stil

[2017-07-25 19:23] CESARDELATORRE commented on #249
Hi Arash! Thanks for your feedback and your memories.. :)
So, we don't have any plan about localization and eShopOnContainers.

Having said that, I suggest to follow the guidance provided below for ASP.NET Core web apps:
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/localization
https://github.com/aspnet/Localization

For localizing messages I initially see two choices:
1. Include all

[2017-07-25 19:24] #242 closed

[2017-07-26 08:44] ASADeveloper commented on #249
Hi Cesar,
Thank you for your answer and doing this work.
If there is no plan for localization then I think it is better to close this issue.

[2017-07-26 08:44] #249 closed

[2017-07-26 16:30] efeker opened #250 "[Feedback] AddToCart method relies on the posted productDetails"
As a practice, we should never trust the info posted by the client. I believe that method should make a call to a microservice to fetch the productdetails by product id.

[2017-07-26 19:06] CESARDELATORRE commented on #250
This is an interesting point to discuss. The thing here is that as a best practice for microservices, you  want to minimize Http dependencies between the internal microservices so you'll minimize future impact in performance and DoS when one of the microservices is performing bad and you have many long chains of Http request/response cycles impacted by that particular microservice.

For this case,

[2017-07-27 07:03] timotyweis commented on #107
Hi, I'm experiencing the same problem as @richardrcruzc, namely the following exception when I click the `Login` link:
[code]

As @CESARDELATORRE suggested, I followed the [setup guide for Windows](https://github.com/dotnet-architecture/eShopOnContainers/wiki/02.-Setting-eShopOnContainers-in-a-Visual-Studio-2017-environment) and used the **add-firewall-rules-for-sts-auth-thru-docker.ps1** script t

[2017-07-28 00:19] CESARDELATORRE commented on #107
@timotyweis and @richardrcruzc Just in case, can you create the Firewall rules by yourself instead of using the PowerShell script? Also, can you check that you have the IP 10.0.75.1 set up for you after you installed Docker for Windows? Check that out with ipconfig, for instance.
It really looks like the firewall is stopping it.
**As final test, try disabling the firewall temporally, just for the

[2017-07-28 08:10] timotyweis commented on #107
@CESARDELATORRE than you for the answer.
The IP is set up and enabled:
[code]

I deleted and recreated the firewall rules (I also tried to _allow edge traversal_) but nothing changed.

Then I disabled the firewall completely and everything appeared to work, so your thoughts are indeed correct. However, i found in the docker forums that also other users had problems under Windows using Hyper-V and

[2017-07-28 09:26] eiximenis commented on #107
Hi @timotyweis

Same happens to me. I added firewall rules, then everything went fine. But few days and some restarts later I started to see this error. :(

Now I need to disable firewall to work. As you said there are other users that are having this issue :(

[2017-07-28 18:20] vardthomas commented on #107
Hey guys, I'm having the same problems as @jduartex .

System.Net.Http.CurlHandler+MultiAgent.FinishRequest(StrongToWeakReference<EasyRequest> easyWrapper, CURLcode messageResult)

Any idea why this might be happening? I'm on the master branch.

[2017-07-28 20:45] whitebear-gh commented on #107
Same as @timotyweis here. Turning firewall is not an option at all, any advices?

[2017-07-31 13:19] ASADeveloper opened #253 "Build the SPA app with NPM error npm run build:prod"
Hi,

I'm following every line of the wiki for the second time and get exact same error when running
"npm run build:prod" from the commandline to build the SPA.

The error itself is..
ERROR in ./Client/main.ts
Module not found: Error: Can't resolve './$$_gendir/modules/app.module.ngfactory' in **'C:\Devlop\Repos\eShopOnContainers\src\Web\WebSPA\Client'
 @ ./Client/main.ts 4:0-78
 @ multi ./Client/m

[2017-07-31 14:43] ASADeveloper commented on #253
I'm not very good at Angular but it seems to be an issue on that address. Just a few minutes after I posted this issue I found a lot of posts about it in the angular repository. I followed one of the suggestions and it works for me now.
In this section:
https://github.com/dotnet-architecture/eShopOnContainers/wiki/06.-Setting-the-Web-SPA-application-up#build-the-spa-app-with-npm

Instead of just '